/*
	MANTER NESTE ARQUIVO SOMENTE CLASSES GENERICAS.
*/

/* transition: property name | duration | timing function | delay */

button::-moz-focus-inner,
input::-moz-focus-inner{ 
	border: 0; 
	padding: 0; 
}

input::-ms-clear {
    display: none;
}

/* Classes de elementos HTML */
html{
    touch-action: manipulation;
}

html,
body,
button,
div,
span,
table,
input,
select,
tbody,
.-tooltip {
/* 	text-rendering: optimizeLegibility !important; */
	-webkit-font-smoothing: antialiased;
	text-decoration: none !important;
	outline-style: none !important;
	outline-width: 0px !important;
	outline: none;
}

body {
	-webkit-text-size-adjust: 100%;/* Resolve ajuste automático do fonte nos tables e smartphones*/
}

html,
body,
div,
dl,dt,dd,
ul,ol,li,
h1,h2,h3,h4,h5,h6,
pre,code,form,fieldset,legend,
input,select,textarea,p,blockquote,th,td,figure,figcaption,time,article{
	margin: 0;
	padding: 0;
/* 	-webkit-overflow-scrolling: touch; */
}

html,body,div,ul,li,span,a,table,thead,tfoot,tbody,td,th,tr,caption {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}




table {
	border-collapse: collapse;
	border-spacing: 0;
	font-size: inherit;
	color: inherit;
	table-layout: auto;
	empty-cells: hide;
}


fieldset,
img {
	border: 0 none;
}

address,caption,cite,code,dfn,em,var {
	font-style: normal;
	font-weight: normal;
}

li {
	list-style: none outside none;
}

a,
a:HOVER,
a:LINK {
	text-decoration: none !important;
	outline-style: none !important;
	outline-width: 0px !important;
}

a,
a:HOVER,
a:VISITED,
a:LINK {
	color: inherit;
}

/* H1,H2,H3,H4,H5,H6 { */
/* 	color: rgb(254, 254, 255); */
	/*AZUL DBSOFT=rgb(13, 25, 45) #0d192d; BRANCO=rgb(245,245,245) #f5f5f5*/
/* 	font-weight: bold; */
/* 	text-shadow: 1px 1px 1px rgb(0, 0, 0); */
/* } */


svg{
/* 	shape-rendering: auto | optimizeSpeed | crispEdges | geometricPrecision | inherit */
	shape-rendering: auto;
}

/*MODIFIER = nomes padrão para serem utilizado em conjunto com outras classes. NÃO PODEM SER UTILIZADOS ISOLADAMENTE*/
.-centralized_abs,
.-centralized_rel{
    left: 50%;
    top: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -o-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
/* 	-ms-filter: blur(0); BLUR em determinados casos limita a exibição do overflow*/
/*     -o-filter: blur(0); */
/*     -moz-filter: blur(0); */
/*     -webkit-filter: blur(0); */
/*     filter: blur(0); */
}

.-centralized_abs{
	position: absolute;
}
.-centralized_rel{
	position: relative;
}
.-ajaxBegin{
	pointer-events: none;
	opacity: 0.2;	
}
.-caption {}
.-center {text-align: center !important;}
.-closable {}
.-closed {}
.-checkbox {}
.-cover {}
.-backcover{
    background-position: center;
    background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-size: cover;
}
.-content {}
.-container {}
.-disabled {}
.-even {}
.-error {}
.-message.-error{color: red;}
.-form {}
.-icon {}
.-input {}
.-label {}
.-mask {}
.-message {}
.-normal {}
.-not_selectable {
	-webkit-touch-callout: none !important;
	-webkit-user-drag: none !important;
	-webkit-user-select: none !important;
	-moz-user-select: none !important;
	-khtml-user-select: none !important;
	-ms-user-select: none !important;
	-o-user-select: none !important;
	user-select: none !important;
	
	-webkit-tap-highlight-color: transparent;
	cursor: inherit;/* evita exibir cursor de seleção */
}
.-ghost{
	padding:0;
	margin:0;
	border:none;
	width:0;
	height:0;
	position:absolute;
	pointer-events:none;
}
.-odd {}
.-opened {}
.-left {text-align: left !important;}
.-right {text-align: right !important;}
.-nowrap {white-space: nowrap !important;}
.-bold {font-weight: bold;}
.-italic {font-style: italic;}
.-row {}
.-selected {}
.-selectable {}
.-subtitle {}
.-title {}
.-table {display:table;}
.-table > div{display:table-row; position:relative;}
.-table > div.-caption{display:table-caption; position:relative;}
.-table > div.-flex{
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;   
	position:relative;
}
.-table > div > div{display:table-cell;position:relative;}
.-toolbar {}
.-verticalMiddle {vertical-align: middle;}
.-readOnly {}
.-pushSuspended {}
.-on {}
.-flex{
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;   
}

/* simple forms */
.-simpleForm {
	padding: 10px;
	position: relative;
	display: block;
	margin: 0 auto;
}
.-simpleForm > .-caption {
	display: block;
	position: relative;
	margin-bottom: 10px;
}
.-simpleForm > .-content {
	display: inline-block;
	position: relative;
	height: 100%;
	padding: 20px;

	color: rgb(85,85,85);

}

.-simpleForm > .-content > .-info,
.-simpleForm > .-content > .-separator,
.-simpleForm > .-content > .-inputs{
	display: inline-block;
}

.-simpleForm > .-content > .-info{
}

.-simpleForm > .-content > .-info > h4{
	margin-bottom: 5px;
}

.-simpleForm > .-content > .-separator {
    width: 100%;
}

.-simpleForm > .-content > .-inputs {
}

.-simpleForm > .-content > .-inputs > .-messages {
    width: 100%;
/* 			    border: 1px solid; */
    padding: 10px;
    margin-bottom: 10px;
/* 			    border-color: rgb(200,200,200); */
	-webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.1);
	-moz-box-shadow: 0 0 0 1px rgba(0,0,0,.1);
	box-shadow: 0 0 0 1px rgba(0,0,0,.1);
	text-align: center;
}
.-simpleForm > .-content > .-inputs > .-messages .-error{
	
}

.-simpleForm > .-content > .-inputs .-th_input{
	margin-bottom: 5px;
}

.-simpleForm > .-content > .-inputs > .-confirmation{
	position: relative;
	display: inline-block;
	left: 100px;
}

.-simpleForm > .-content > .-inputs > .-confirmation .dbs_button{
	height: 36px; 
	top:10px;
	font-size:15px; 
	font-weight:bold;
	-webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.1);
	-moz-box-shadow: 0 0 0 1px rgba(0,0,0,.1);
	box-shadow: 0 0 0 1px rgba(0,0,0,.1);
}
/* Blur ----------------------------------- */
/* BLUR em determinados casos limita a exibição do overflow */
.-blur_softer{
	filter: url("data:image/svg+xml;utf8,<svg version=\'1.1\' xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'blur\'><feGaussianBlur stdDeviation=\'1\' ></feGaussianBlur></filter></svg>#blur"); 
	filter: blur; 
	-ms-filter: blur(1px);
    -o-filter: blur(1px);
    -moz-filter: blur(1px);
    -webkit-filter: blur(1px);
    filter: blur(1px);
}
.-blur_soft{
	filter: url("data:image/svg+xml;utf8,<svg version=\'1.1\' xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'blur\'><feGaussianBlur stdDeviation=\'4\' ></feGaussianBlur></filter></svg>#blur"); 
	filter: blur; 
	-ms-filter: blur(4px);
    -o-filter: blur(4px);
    -moz-filter: blur(4px);
    -webkit-filter: blur(4px);
    filter: blur(4px);
}
.-blur{
	filter: url("data:image/svg+xml;utf8,<svg version=\'1.1\' xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'blur\'><feGaussianBlur stdDeviation=\'7\' ></feGaussianBlur></filter></svg>#blur"); 
	filter: blur; 
	-ms-filter: blur(7px);
    -o-filter: blur(7px);
    -moz-filter: blur(7px);
    -webkit-filter: blur(7px);
    filter: blur(7px);
}
.-blur_hard{
	filter: url("data:image/svg+xml;utf8,<svg version=\'1.1\' xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'blur\'><feGaussianBlur stdDeviation=\'18\' ></feGaussianBlur></filter></svg>#blur"); 
	filter: blur; 
	-ms-filter : blur(18px);
	-o-filter : blur(18px); 
	-moz-filter : blur(18px);
	-webkit-filter: blur(18px); 
	filter: blur(18px);
}
.-blur_harder{
	filter: url("data:image/svg+xml;utf8,<svg version=\'1.1\' xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'blur\'><feGaussianBlur stdDeviation=\'40\' ></feGaussianBlur></filter></svg>#blur"); 
	filter: blur; 
	-ms-filter : blur(40px);
	-o-filter : blur(40px); 
	-moz-filter : blur(40px);
	-webkit-filter: blur(40px); 
	filter: blur(40px);
}

/* Hack para configurar o IE com opacity já que não aceita o blur */
@media all and (-ms-high-contrast:none)
{
	.-blur_soft{
		opacity: 0.7;
	} 
	.-blur{
		opacity: 0.5;
	} 
	.-blur_hard{
		opacity: 0.1;
	} 
}
      

.-glass{
	background: url("\#{request.contextPath}/images/vidro.png");
	background-repeat: repeat;
	border-color: rgb(200, 200, 200);
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    overflow: hidden;
    z-index: 1;	
}


.-translate3dReset{ /* Para resolver a tremedeira quando é feito um scroll no SAFARI */
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.-transitionReset{
	-webkit-transition: none 0ms;
	-moz-transition: none 0ms;
	-ms-transition: none 0ms;
	-o-transition: none 0ms;
	transition: none 0ms;
}
/* ----------------------------------------------- */
.-scrollLeft {
	-webkit-box-shadow: 2px 1px 2px -1px rgba(0, 0, 0, 0.2) inset;
	-moz-box-shadow: 2px 1px 2px -1px rgba(0, 0, 0, 0.2) inset;
	box-shadow: 2px 1px 2px -1px rgba(0, 0, 0, 0.2) inset;
	
/* 	-webkit-box-shadow: 3px 0 3px -1px rgba(0, 0, 0, 0.3) inset; */
/* 	-moz-box-shadow: 3px 0 3px -1px rgba(0, 0, 0, 0.3) inset; */
/* 	box-shadow: 3px 0 3px -1px rgba(0, 0, 0, 0.3) inset; */
}

.-scrollRight {
	
	box-shadow: -2px 1px 2px -1px rgba(0, 0, 0, 0.2) inset;
	    
	-webkit-box-shadow: -2px 1px 2px -1px rgba(0, 0, 0, 0.2) inset;
	-moz-box-shadow: -2px 1px 2px -1px rgba(0, 0, 0, 0.2) inset;
	box-shadow: -2px 1px 2px -1px rgba(0, 0, 0, 0.2) inset;
	
/* 	-webkit-box-shadow: -3px 0 3px -1px rgba(0, 0, 0, 0.3) inset; */
/* 	-moz-box-shadow: -3px 0 3px -1px rgba(0, 0, 0, 0.3) inset; */
/* 	box-shadow: -3px 0 3px -1px rgba(0, 0, 0, 0.3) inset; */
}

.-scrollLeftRight {
	-webkit-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2) inset;
	-moz-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2) inset;
	box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2) inset;
}

/* inputs ---------------------------------------- */
input.-foo {
	position: absolute !important;
	left: 0px !important;
	top: 0px !important;
	border-color: transparent !important;
	border-width: 1px !important;
	opacity: 0 !important;
	width: 1px !important;
	height: 0px !important;
	background-color: transparent !important;
	z-index: -9999;
}


/*Parent precisa ter height em parcentual*/
.dbs_parent_fill {
	padding: 0;
	clear: both;
	top: 0px;
	bottom: 0px;
	position: absolute;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}



/* Background ---------------------------------- */
.dbs_back_texture_black,
.dbs_back_texture_black_gradient,
.dbs_back_texture_black_transparent_gradient,
.dbs_text_white_shadow {
	color: rgb(254, 254, 255);
}

.dbs_back_gradient_white,
.dbs_back_gradient_blue,
.dbs_back_gradient_orange,
.dbs_text_dark_shadow,
.-th_input-data,
.-th_input-label{
/* 	color: rgb(13, 25, 45); Comentado em 14/10/2013 */
}

.dbs_back_gradient_white {
	background: rgb(254,254,255); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNWY1ZjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(254,254,255,1) 0%, rgba(245,245,245,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,254,255,1)), color-stop(100%,rgba(245,245,245,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(254,254,255,1) 0%,rgba(245,245,245,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(254,254,255,1) 0%,rgba(245,245,245,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(254,254,255,1) 0%,rgba(245,245,245,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(254,254,255,1) 0%,rgba(245,245,245,1) 100%); /* W3C */
}

.dbs_back_gradient_orange {
	background: rgb(255,223,175); /* Old browsers */
	background: -moz-linear-gradient(top,  rgb(255,223,175) 0%, rgb(255,229,191) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,223,175)), color-stop(100%,rgb(255,229,191))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgb(255,223,175) 0%,rgb(255,229,191) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgb(255,223,175) 0%,rgb(255,229,191) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgb(255,223,175) 0%,rgb(255,229,191) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgb(255,223,175) 0%,rgb(255,229,191) 100%); /* W3C */
}

.dbs_back_gradient_blue {
	background: rgb(216,230,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgb(216,230,255) 0%, rgb(209,224,255) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(216,230,255)), color-stop(100%,rgb(209,224,255))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgb(216,230,255) 0%,rgb(209,224,255) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgb(216,230,255) 0%,rgb(209,224,255) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgb(216,230,255) 0%,rgb(209,224,255) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgb(216,230,255) 0%,rgb(209,224,255) 100%); /* W3C */
}

.dbs_back_gradient_yellow{
	background: rgb(255,255,232); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZlOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(255,255,232,1) 0%, rgba(255,255,224,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,232,1)), color-stop(100%,rgba(255,255,224,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,232,1) 0%,rgba(255,255,224,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,232,1) 0%,rgba(255,255,224,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,232,1) 0%,rgba(255,255,224,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,232,1) 0%,rgba(255,255,224,1) 100%); /* W3C */
}


.dbs_back_texture_black {
	background-image: url("\#{request.contextPath}/images/back_texture_black.png")!important;
	background-repeat: repeat !important;
}

.dbs_back_texture_white{
	background-image: url("\#{request.contextPath}/images/back_texture_white.png");
	background-repeat: repeat;
	background-color: rgba(13,25,45,0.3);
} 

.dbs_back_texture_black_transparent {
	background-image: url("\#{request.contextPath}/images/back_texture_black_transparent.png");
	background-repeat: repeat !important;
}

.dbs_back_texture_white_transparent{
	background-image: url("\#{request.contextPath}/images/back_texture_white_transparent.svg");
	background-repeat: repeat;
	background-color: rgba(13,25,45,0.3);
} 

.dbs_back_texture_black_gradient{
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjMiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background-image: url("\#{request.contextPath}/images/back_texture_black.png")!important; /*IE*/
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%,rgba(255, 255, 255, 0.0) 100%),url("\#{request.contextPath}/images/back_texture_black.png") !important;/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255, 255, 0.3)), color-stop(100%, rgba(255, 255, 255, 0.0))),url("\#{request.contextPath}/images/back_texture_black.png") !important;/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%,rgba(255, 255, 255, 0.0) 100%),url("\#{request.contextPath}/images/back_texture_black.png") !important;/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%,rgba(255, 255, 255, 0.0) 100%),url("\#{request.contextPath}/images/back_texture_black.png") !important;/* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%,rgba(255, 255, 255, 0.0) 100%),url("\#{request.contextPath}/images/back_texture_black.png") !important;/* IE10+ */
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%,rgba(255, 255, 255, 0.0) 100%),url("\#{request.contextPath}/images/back_texture_black.png") !important;/* W3C */
}

.dbs_back_texture_black_transparent_gradient{
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjMiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background-image: url("\#{request.contextPath}/images/back_texture_black.png")!important; /*IE*/
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%,rgba(255, 255, 255, 0.0) 100%),url("\#{request.contextPath}/images/back_texture_black_transparent.png") !important;/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255, 255, 0.3)), color-stop(100%, rgba(255, 255, 255, 0.0))),url("\#{request.contextPath}/images/back_texture_black_transparent.png") !important;/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%,rgba(255, 255, 255, 0.0) 100%),url("\#{request.contextPath}/images/back_texture_black_transparent.png") !important;/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%,rgba(255, 255, 255, 0.0) 100%),url("\#{request.contextPath}/images/back_texture_black_transparent.png") !important;/* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%,rgba(255, 255, 255, 0.0) 100%),url("\#{request.contextPath}/images/back_texture_black_transparent.png") !important;/* IE10+ */
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%,rgba(255, 255, 255, 0.0) 100%),url("\#{request.contextPath}/images/back_texture_black_transparent.png") !important;/* W3C */
}

.dbs_back_texture_white_transparent_gradient {
	background: rgb(254,254,255); /* Old browsers */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y1ZjVmNSIgc3RvcC1vcGFjaXR5PSIwLjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==), url("\#{request.contextPath}/images/back_texture_white_transparent.svg");
	background: -moz-linear-gradient(top,  rgba(235,235,235,0.1) 0%, rgba(225,225,225,0.1) 100%), url("\#{request.contextPath}/images/back_texture_white_transparent.svg"); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(235,235,235,0.1)), color-stop(100%,rgba(225,225,225,0.1))), url("\#{request.contextPath}/images/back_texture_white_transparent.svg"); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(235,235,235,0.1) 0%,rgba(225,225,225,0.1) 100%), url("\#{request.contextPath}/images/back_texture_white_transparent.svg"); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(235,235,235,0.1) 0%,rgba(225,225,225,0.1) 100%), url("\#{request.contextPath}/images/back_texture_white_transparent.svg"); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(235,235,235,0.1) 0%,rgba(225,225,225,0.1) 100%), url("\#{request.contextPath}/images/back_texture_white_transparent.svg"); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(235,235,235,0.1) 0%,rgba(225,225,225,0.1) 100%), url("\#{request.contextPath}/images/back_texture_white_transparent.svg"); /* W3C */
}


.dbs_text_dark_shadow {
	text-shadow: 1px 1px 1px #FFFFFF;
}

.dbs_text_white_shadow {
	text-shadow: 1px 1px 1px #606060;
}

.dbs_horizontal_line { /*Para elemento com 0px de altura*/
	border-top: 1px solid rgba(0, 0, 0, 0.4) !important;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
	display: block;
}

.dbs_vertical_line { /*Para elemento com 0px de largura*/
	border-left: 1px solid rgba(0, 0, 0, 0.4) !important;
	border-right: 1px solid rgba(255, 255, 255, 0.2) !important;
}

.dbs_horizontal_line_white { /*Para elemento com 0px de altura*/
	border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
	border-bottom: 1px solid rgba(255, 255, 255, 0.7) !important;
	display: block;
}

.dbs_vertical_line_white { /*Para elemento com 0px de largura*/
	border-left: 1px solid rgba(0, 0, 0, 0.1) !important;
	border-right: 1px solid rgba(255, 255, 255, 0.7) !important;
	float: left;
	height: 100%;
}

.-horizontalLineAfter:after,
.-horizontalLineBefore:before{
	content: " ";
	display: block;
	border-top: 1px solid rgba(0, 0, 0, 0.4) !important;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
	position: absolute;
    width: 100%;
    z-index: 1;
}
.-horizontalLineAfter.-white:after,
.-horizontalLineBefore.-white:before{
	border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
	border-bottom: 1px solid rgba(255, 255, 255, 0.7) !important;
}

.-verticalLineAfter:after,
.-verticalLineBefore:before{
    content: " ";
    display: inline-block;
    border-left: 1px solid rgba(0, 0, 0, 0.4) !important;
    border-right: 1px solid rgba(255, 255, 255, 0.2) !important;
    top: 0px;
    position: absolute;
    height: 100%;
    z-index: 1;
}
.-verticalLineAfter.-white:after,
.-verticalLineBefore.-white:before{
	border-left: 1px solid rgba(0, 0, 0, 0.1) !important;
	border-right: 1px solid rgba(255, 255, 255, 0.7) !important;
    top: 0px;
}


/* loadings --------------------------------------------------- */

.-loading {
	position: fixed !important;
/* 	position: absolute !important; */
	display: inline-block;	
	width: 1em !important;
	height: 1em !important;
	background-image: url("\#{request.contextPath}/images/loading.svg");
	background-position: 0px 0px !important;
	background-repeat: no-repeat !important;
	background-size: 1em 1em !important;
	top: calc(50% - .5em) !important;
	left: calc(50% - .5em) !important;	
/* 	top: 50%; */
/* 	left: 50%; */
/* 	margin-top: -.5em; */
/* 	margin-left: -.5em; */
	-moz-animation: -kf_loading 0.5s infinite !important;
	-o-animation: -kf_loading 0.5s infinite !important;
	-webkit-animation: -kf_loading 0.5s infinite !important;
	animation: -kf_loading 0.5s infinite !important;
	max-width: 100px !important;
	max-height: 100px !important;
}

.-loading.-white {
	background-image: url("\#{request.contextPath}/images/loadingWhite.svg");
}

.-loading.-large {
	font-size: 3em;
	z-index: 999;
}


/* Icones -------------------------------- */

td > .-icon{
/* 	margin-bottom: -4px !important; Comentado em 25/abr/2014 Ricardo - ocupava muito espaço para o icone da assinatura*/
	margin: -.4em 0 -.4em 0 !important;
}

/* Não modificar esta parte quando for incluido novos icones */
@font-face {
	font-family: 'dbsfaces_icons';
/* 	src:url('\#{request.contextPath}/images/dbsfaces_icons.eot?#iefix-95qbbc') format('embedded-opentype'), */
/* 		url('\#{request.contextPath}/images/dbsfaces_icons.woff?-95qbbc') format('woff'), */
/* 		url('\#{request.contextPath}/images/dbsfaces_icons.ttf?-95qbbc') format('truetype'), */
/* 		url('\#{request.contextPath}/images/dbsfaces_icons.svg?-95qbbc#dbsfaces_icons') format('svg');	 */
	src:url('\#{request.contextPath}/images/dbsfaces_icons.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* [class^="-i_"]:after,  */
/* [class*=" -i_"]:after { */
/* 	position: absolute; */
/* 	clear: both; */
/* 	content: ""; */
/* } */
[class^="-i_"], 
[class*=" -i_"] {
	font-size: 1.45em;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	height: 1em;
	width: 1em;
    box-sizing: content-box;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="-i_"]:before, 
[class*=" -i_"]:before {
	font-family: 'dbsfaces_icons'  !important;
/* 	vertical-align: middle; */
	line-height: 1;
    top: calc(50% - .5em);
    position: relative;
/* 	top: calc(50% - .5em); */
/*     position: relative; */
/* 	-webkit-font-smoothing: auto; */
}


[class^="-i_"]:before, 
[class*=" -i_"]:before{
/* 	font-size:16px; */
/* 	font-size: 1.45em; */
}

[class^="-i_"].-small:before, 
[class*=" -i_"].-small:before{
/* 	font-size:9px; */
	font-size: 0.82em;
}
[class^="-i_"].-large:before, 
[class*=" -i_"].-large:before{
/* 	font-size:32px; */
	font-size: 2.9em;
}

[class^="-i_"].-red:before, 
[class*=" -i_"].-red:before {
	color:red;
}
[class^="-i_"].-red.-dark:before, 
[class*=" -i_"].-red.-dark:before {
	color:darkred;
}
[class^="-i_"].-yellow:before, 
[class*=" -i_"].-yellow:before {
	color:rgb(210,210,0);
}
[class^="-i_"].-yellow.-dark:before, 
[class*=" -i_"].-yellow.-dark:before {
	color:rgb(178, 178, 0);
}
[class^="-i_"].-blue:before, 
[class*=" -i_"].-blue:before {
	color:blue;
}
[class^="-i_"].-blue.-dark:before, 
[class*=" -i_"].-blue.-dark:before {
	color:darkblue;
}
[class^="-i_"].-green:before, 
[class*=" -i_"].-green:before { 
	color:green;
}
[class^="-i_"].-green.-dark:before, 
[class*=" -i_"].-green.-dark:before {
	color:darkgreen;
}

.-i_yes:before{content:"\e900"}
.-i_no:before{content:"\e901"}
.-i_ok:before{content:"\e902"}
.-i_cancel:before{content:"\e903"}
.-i_insert:before{content:"\e904"}
.-i_edit:before{content:"\e905"}
.-i_delete:before{content:"\e906"}
.-i_copy:before{content:"\e907"}
.-i_paste:before{content:"\e908"}
.-i_find:before{content:"\e909"}
.-i_refresh:before{content:"\e90a"}
.-i_synchronize:before{content:"\e90b"}
.-i_replace:before{content:"\e90c"}
.-i_filter:before{content:"\e90d"}
.-i_history:before{content:"\e90e"}
.-i_undo:before{content:"\e90f"}
.-i_redo:before{content:"\e910"}
.-i_sucess:before{content:"\e911"}
.-i_error:before{content:"\e912"}
.-i_information:before{content:"\e913"}
.-i_important:before{content:"\e914"}
.-i_warning:before{content:"\e915"}
.-i_question_confirm:before{content:"\e916"}
.-i_question_ignore:before{content:"\e917"}
.-i_forbidden:before{content:"\e918"}
.-i_checkbox:before{content:"\e919"}
.-i_checkbox_select:before{content:"\e91a"}
.-i_checkbox_invert:before{content:"\e91b"}
.-i_option:before{content:"\e91c"}
.-i_option_select:before{content:"\e91d"}
.-i_on_off:before{content:"\e91e"}
.-i_restart:before{content:"\e91f"}
.-i_download:before{content:"\e920"}
.-i_upload:before{content:"\e921"}
.-i_in:before{content:"\e922"}
.-i_out:before{content:"\e923"}
.-i_receive:before{content:"\e924"}
.-i_send:before{content:"\e925"}
.-i_user:before{content:"\e926"}
.-i_users:before{content:"\e927"}
.-i_user_tie:before{content:"\e928"}
.-i_user_hat:before{content:"\e929"}
.-i_user_id:before{content:"\e92a"}
.-i_users_group:before{content:"\e92b"}
.-i_user_speech:before{content:"\e92c"}
.-i_navigate_first:before{content:"\e92d"}
.-i_navigate_previous:before{content:"\e92e"}
.-i_navigate_next:before{content:"\e92f"}
.-i_navigate_last:before{content:"\e930"}
.-i_navigate_top:before{content:"\e931"}
.-i_navigate_up:before{content:"\e932"}
.-i_navigate_down:before{content:"\e933"}
.-i_navigate_bottom:before{content:"\e934"}
.-i_sort:before{content:"\e935"}
.-i_sort_asc:before{content:"\e936"}
.-i_sort_des:before{content:"\e937"}
.-i_media_play:before{content:"\e938"}
.-i_media_stop:before{content:"\e939"}
.-i_media_pause:before{content:"\e93a"}
.-i_media_rec:before{content:"\e93b"}
.-i_media_video_play:before{content:"\e93c"}
.-i_sun:before{content:"\e93d"}
.-i_moon:before{content:"\e93e"}
.-i_earth:before{content:"\e93f"}
.-i_saturn:before{content:"\e940"}
.-i_compass:before{content:"\e941"}
.-i_location:before{content:"\e942"}
.-i_stairs_up:before{content:"\e943"}
.-i_stairs_down:before{content:"\e944"}
.-i_lock:before{content:"\e945"}
.-i_unlock:before{content:"\e946"}
.-i_link:before{content:"\e947"}
.-i_unlink:before{content:"\e948"}
.-i_group:before{content:"\e949"}
.-i_ungroup:before{content:"\e94a"}
.-i_join:before{content:"\e94b"}
.-i_slipt:before{content:"\e94c"}
.-i_zoom_in:before{content:"\e94d"}
.-i_zoom_out:before{content:"\e94e"}
.-i_zoom_money:before{content:"\e94f"}
.-i_home:before{content:"\e950"}
.-i_office_building:before{content:"\e951"}
.-i_factory:before{content:"\e952"}
.-i_parthenon:before{content:"\e953"}
.-i_church:before{content:"\e954"}
.-i_newspaper:before{content:"\e955"}
.-i_portofolio:before{content:"\e956"}
.-i_calendar:before{content:"\e957"}
.-i_todo:before{content:"\e958"}
.-i_certificate:before{content:"\e959"}
.-i_paper:before{content:"\e95a"}
.-i_papers:before{content:"\e95b"}
.-i_cv:before{content:"\e95c"}
.-i_papers_text:before{content:"\e95d"}
.-i_paper_text:before{content:"\e95e"}
.-i_paper_text_edit:before{content:"\e95f"}
.-i_paper_text_find:before{content:"\e960"}
.-i_paper_printer:before{content:"\e961"}
.-i_paper_money:before{content:"\e962"}
.-i_paper_organizer:before{content:"\e963"}
.-i_file_cabinet:before{content:"\e964"}
.-i_stamper:before{content:"\e965"}
.-i_paper_clip:before{content:"\e966"}
.-i_paper_ribbon:before{content:"\e967"}
.-i_pin:before{content:"\e968"}
.-i_scissors:before{content:"\e969"}
.-i_brush:before{content:"\e96a"}
.-i_book:before{content:"\e96b"}
.-i_stapler:before{content:"\e96c"}
.-i_books:before{content:"\e96d"}
.-i_graduation_cap:before{content:"\e96e"}
.-i_na:before{content:"\e96f"}
.-i_dot:before{content:"\e970"}
.-i_chat:before{content:"\e971"}
.-i_mail:before{content:"\e972"}
.-i_message:before{content:"\e973"}
.-i_eye:before{content:"\e974"}
.-i_step:before{content:"\e975"}
.-i_heart:before{content:"\e976"}
.-i_subtract:before{content:"\e977"}
.-i_add:before{content:"\e978"}
.-i_equal:before{content:"\e979"}
.-i_delta:before{content:"\e97a"}
.-i_multiply:before{content:"\e97b"}
.-i_infinity:before{content:"\e97c"}
.-i_account_activity:before{content:"\e97d"}
.-i_abacus:before{content:"\e97e"}
.-i_calculator:before{content:"\e97f"}
.-i_divide:before{content:"\e980"}
.-i_chart_line:before{content:"\e981"}
.-i_chart_pizza:before{content:"\e982"}
.-i_chart_bar_line:before{content:"\e983"}
.-i_market_up:before{content:"\e984"}
.-i_market_down:before{content:"\e985"}
.-i_market_up_down:before{content:"\e986"}
.-i_bill:before{content:"\e987"}
.-i_currency_yen:before{content:"\e988"}
.-i_bills:before{content:"\e989"}
.-i_currency_euro:before{content:"\e98a"}
.-i_currency_pound:before{content:"\e98b"}
.-i_percent:before{content:"\e98c"}
.-i_safe:before{content:"\e98d"}
.-i_money_saving:before{content:"\e98e"}
.-i_wallet:before{content:"\e98f"}
.-i_creditcard:before{content:"\e990"}
.-i_printer:before{content:"\e991"}
.-i_monitor:before{content:"\e992"}
.-i_mouse:before{content:"\e993"}
.-i_save:before{content:"\e994"}
.-i_folder:before{content:"\e995"}
.-i_bug:before{content:"\e996"}
.-i_wifi:before{content:"\e997"}
.-i_database:before{content:"\e998"}
.-i_laptop:before{content:"\e999"}
.-i_server:before{content:"\e99a"}
.-i_servers:before{content:"\e99b"}
.-i_firewall:before{content:"\e99c"}
.-i_router:before{content:"\e99d"}
.-i_modem:before{content:"\e99e"}
.-i_workstation:before{content:"\e99f"}
.-i_tablet:before{content:"\e9a0"}
.-i_mobile:before{content:"\e9a1"}
.-i_selection:before{content:"\e9a2"}
.-i_menu_top:before{content:"\e9a3"}
.-i_menu_side:before{content:"\e9a4"}
.-i_menu:before{content:"\e9a5"}
.-i_action_press:before{content:"\e9a6"}
.-i_action_points:before{content:"\e9a7"}
.-i_backup:before{content:"\e9a8"}
.-i_clock:before{content:"\e9a9"}
.-i_clock_alarm:before{content:"\e9aa"}
.-i_clock_timer:before{content:"\e9ab"}
.-i_clock_schedule:before{content:"\e9ac"}
.-i_runnig_timer:before{content:"\e9ad"}
.-i_bike:before{content:"\e9ae"}
.-i_car:before{content:"\e9af"}
.-i_taxi:before{content:"\e9b0"}
.-i_train:before{content:"\e9b1"}
.-i_bus:before{content:"\e9b2"}
.-i_airplane:before{content:"\e9b3"}
.-i_ship:before{content:"\e9b4"}
.-i_copter:before{content:"\e9b5"}
.-i_traffic_light:before{content:"\e9b6"}
.-i_traffic_cone:before{content:"\e9b7"}
.-i_gas_pump:before{content:"\e9b8"}
.-i_wheel:before{content:"\e9b9"}
.-i_steering_wheel:before{content:"\e9ba"}
.-i_control_panel:before{content:"\e9bb"}
.-i_meter:before{content:"\e9bc"}
.-i_sign_prohibid:before{content:"\e9bd"}
.-i_sign_recycle:before{content:"\e9be"}
.-i_sign_radioactive:before{content:"\e9bf"}
.-i_sign_accessibility:before{content:"\e9c0"}
.-i_sign_speed_limit:before{content:"\e9c1"}
.-i_sign_turns:before{content:"\e9c2"}
.-i_sign_risk:before{content:"\e9c3"}
.-i_sign_9:before{content:"\e9c4"}
.-i_sign_roundabout:before{content:"\e9c5"}
.-i_policeman:before{content:"\e9c6"}
.-i_workman:before{content:"\e9c7"}
.-i_front_desk:before{content:"\e9c8"}
.-i_flashlight:before{content:"\e9c9"}
.-i_shovel:before{content:"\e9ca"}
.-i_hammer:before{content:"\e9cb"}
.-i_wrench:before{content:"\e9cc"}
.-i_magnet:before{content:"\e9cd"}
.-i_lamp:before{content:"\e9ce"}
.-i_key:before{content:"\e9cf"}
.-i_keyhole:before{content:"\e9d0"}
.-i_glasses:before{content:"\e9d1"}
.-i_sunglasses:before{content:"\e9d2"}
.-i_fire_extinguisher:before{content:"\e9d3"}
.-i_fire:before{content:"\e9d4"}
.-i_snow:before{content:"\e9d5"}
.-i_water:before{content:"\e9d6"}
.-i_umbrella:before{content:"\e9d7"}
.-i_cloud:before{content:"\e9d8"}
.-i_paper_plane:before{content:"\e9d9"}
.-i_bomb:before{content:"\e9da"}
.-i_hourglass:before{content:"\e9db"}
.-i_target:before{content:"\e9dc"}
.-i_phone:before{content:"\e9dd"}
.-i_auction_hammer:before{content:"\e9de"}
.-i_balance:before{content:"\e9df"}
.-i_prize_ribbon:before{content:"\e9e0"}
.-i_place123:before{content:"\e9e1"}
.-i_medal:before{content:"\e9e2"}
.-i_dices:before{content:"\e9e3"}
.-i_balloons:before{content:"\e9e4"}
.-i_silverware:before{content:"\e9e5"}
.-i_lifebelt:before{content:"\e9e6"}
.-i_anchor:before{content:"\e9e7"}
.-i_brief_case:before{content:"\e9e8"}
.-i_first_aid:before{content:"\e9e9"}
.-i_thermometer:before{content:"\e9ea"}
.-i_eyedropper:before{content:"\e9eb"}
.-i_stethoscope:before{content:"\e9ec"}
.-i_beaker:before{content:"\e9ed"}
.-i_dna:before{content:"\e9ee"}
.-i_atom:before{content:"\e9ef"}
.-i_molecule:before{content:"\e9f0"}
.-i_satellite:before{content:"\e9f1"}
.-i_parabolic:before{content:"\e9f2"}
.-i_antenna:before{content:"\e9f3"}
.-i_battery_full:before{content:"\e9f4"}
.-i_battery_empty:before{content:"\e9f5"}
.-i_battery_used:before{content:"\e9f6"}
.-i_gear:before{content:"\e9f7"}
.-i_gears:before{content:"\e9f8"}
.-i_lion:before{content:"\e9f9"}
.-i_photo_camera:before{content:"\e9fa"}
.-i_video_camera:before{content:"\e9fb"}
.-i_director_chair:before{content:"\e9fc"}
.-i_megaphone:before{content:"\e9fd"}
.-i_microphone:before{content:"\e9fe"}
.-i_microphone_off:before{content:"\e9ff"}
.-i_picture:before{content:"\ea00"}
.-i_mixer:before{content:"\ea01"}
.-i_speaker:before{content:"\ea02"}
.-i_speaker_off:before{content:"\ea03"}
.-i_flag_finish:before{content:"\ea04"}
.-i_flag:before{content:"\ea05"}
.-i_box:before{content:"\ea06"}
.-i_box_paper:before{content:"\ea07"}
.-i_box_gift:before{content:"\ea08"}
.-i_box_wood:before{content:"\ea09"}
.-i_box_3d:before{content:"\ea0a"}
.-i_star5:before{content:"\ea0b"}
.-i_star6:before{content:"\ea0c"}
.-i_star_xerif:before{content:"\ea0d"}
.-i_shopping_cart:before{content:"\ea0e"}
.-i_tag:before{content:"\ea0f"}
.-i_receipt:before{content:"\ea10"}
.-i_barcode:before{content:"\ea11"}
.-i_qr:before{content:"\ea12"}
.-i_investira:before{content:"\ea13"}
.-i_novem:before{content:"\ea14"}
.-i_ifeed:before{content:"\ea15"}
.-i_investira_icon:before{content:"\ea16"}
.-i_ifeed_icon:before{content:"\ea17"}
.-i_dbsoft:before{content:"\ea18"}
.-i_dbsoft_icon:before{content:"\ea19"}
