.dbs_slider{
	display: inline-block;
	position: relative;
	border: none;
	line-height: normal;
}

.dbs_slider.-h{
    width: 100%;
}
.dbs_slider.-v{
    height: 100%;
}


.dbs_slider > .-container{
	position: relative;
    left: 0;
    top: 0;
	display: inline-block;
    line-height: normal;
	z-index: 1;
    width: 100%;
    height: 100%;
}

.dbs_slider.-hide > .-container{
	opacity: 0;
    pointer-events: none;
}

.dbs_slider.-h > .-container{
}

.dbs_slider.-v > .-container{
}

.dbs_slider > .-container > .-content{
    position: relative;
    left: 0;
    top: 0;
    border: none;
    -webkit-flex-flow: column nowrap;
    -moz-flex-flow: column nowrap;
    flex-flow: column nowrap;

}
.dbs_slider.-h > .-container > .-content{
    width: 100%;
}
.dbs_slider.-v > .-container > .-content{
    height: 100%;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    align-items: flex-start;
}
.dbs_slider.-v.-i > .-container > .-content{
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    align-items: flex-end;
}
	

.dbs_slider > .-container > .-content > .-label{
	cursor: default;
	position: relative;
}


.dbs_slider.-h > .-container > .-content > .-label{
	width: 100%;
    left: 0;
	text-align: left;
    padding-bottom: 0.08em;
}
.dbs_slider[type="v"]:not(.-ph):not(.-readOnly):not([disabled]) > .-container > .-content > .-label{
	cursor: pointer;	
}

.dbs_slider[type="v"]:not(.-ph):not(.-readOnly):not([disabled]) > .-container > .-content > .-label:after{
	top: .1em;
    position: relative;
	font-size:.8em;
}

.dbs_slider.-v > .-container > .-content > .-label{
}

.dbs_slider[type="s"].-v > .-container > .-content > .-label{
/* 	padding-bottom: 1em; */
}
    
.dbs_slider > .-container > .-content > .-obs{
    font-size: 0.5em;
    opacity: 0.8;
    cursor: default;
}
.dbs_slider.-h > .-container > .-content > .-obs{
	position: absolute;
	right: 0;
	top: 1em;
}

.dbs_slider.-h > .-container > .-content > .-obs.-relative{
    position: relative;
    top: -.6em;
    text-align: right;
    line-height: 0em;
}
    
.dbs_slider.-v > .-container > .-content > .-obs{
	position: relative;
}

.dbs_slider[type="s"].-v > .-container > .-content > .-obs{
/*     padding-top: 1.1em; */
}

.dbs_slider > .-container > .-content > .-sub_container{
	position: relative;
}


.dbs_slider[type="s"].-h > .-container > .-content > .-sub_container{
/* 	padding: 0 .825em; */
}

.dbs_slider.-h > .-container > .-content > .-sub_container{
    position: relative;
	display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.dbs_slider.-v > .-container > .-content > .-sub_container{
    -webkit-flex: 1 1 100%;
    -moz-flex: 1 1 100%;
    flex: 1 1 100%;

    display: flex;
    display: -webkit-flex;

    -webkit-flex-flow: row-reverse nowrap;
    -moz-flex-flow: row-reverse nowrap;
    flex-flow: row-reverse nowrap;
}

.dbs_slider.-v.-i > .-container > .-content > .-sub_container{
}

.dbs_slider > .-container > .-content > .-sub_container > .-th_input{
 	display: none; 
    position: absolute;
/* 	font-size: .7em; */
	font-weight: 400;
}

.dbs_slider.-h > .-container > .-content > .-sub_container > .-th_input{
    width: 100%;
    left: 0;
	bottom: unset;
    text-align: center;
    line-height: 0;
    height: 1.25em;
	top: calc(.9em + .5px);
}

.dbs_slider.-h.-i > .-container > .-content > .-sub_container > .-th_input{
/* 	top: 0.1em; */
    top: calc(.2em);
}
.dbs_slider.-h[type="r"] > .-container > .-content > .-sub_container > .-th_input.-begin{
	left: 0;
}
.dbs_slider.-h[type="r"] > .-container > .-content > .-sub_container > .-th_input.-end{
	right: 0;
}

.dbs_slider.-v > .-container > .-content > .-sub_container > .-th_input{
    left: 2em;
    right: unset;
}
.dbs_slider.-v.-i > .-container > .-content > .-sub_container > .-th_input{
	right: 1.9em;
	left: unset;	
}
.dbs_slider.-v:not([type="r"]) > .-container > .-content > .-sub_container > .-th_input{
    top: calc(50% - 1em);
}
.dbs_slider.-v[type="r"] > .-container > .-content > .-sub_container > .-th_input.-begin{
    bottom: 0;
}
.dbs_slider.-v[type="r"] > .-container > .-content > .-sub_container > .-th_input.-end{
    top: 0;
}

.dbs_slider.-editing:not(.-begin):not(.-end) > .-container > .-content > .-sub_container > .-th_input,
.dbs_slider.-editing.-begin > .-container > .-content > .-sub_container > .-th_input.-begin,
.dbs_slider.-editing.-end > .-container > .-content > .-sub_container > .-th_input.-end{
	display: inline-block;
}


.dbs_slider.-ph.-editing > .-container > .-content > .-sub_container > .-points{
	visibility: hidden;
}
.dbs_slider.-editing > .-container > .-content > .-sub_container > .-handle{
	visibility: hidden;
}
.dbs_slider > .-container > .-content > .-sub_container > .-th_input .-th_input-data:first-of-type{
	box-sizing: content-box;
    min-height: 1.2em;
    height: 1.2em;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: .1em;
    border: none;
/*     background-color: rgba(255,255,255,1); */
    box-shadow: -1px -1px 0 rgba(0,0,0,.2), 1px 1px 0 rgba(255,255,255,0.2);
}


.dbs_slider:not(.-readOnly):not([disabled]) > .-container > .-content > .-sub_container > .-points > .-label{
	pointer-events: all;
	cursor: pointer;
}

.dbs_slider > .-container > .-content > .-sub_container > .-slider{
	display: block;
    position: relative;
/*     overflow: hidden; */
	padding: 0;
    margin: 0;
    border-radius: .3em;
/* 	box-shadow: 1px 1px 1px rgba(255,255,255,0.2), -1px -1px 1px rgba(0,0,0,0.2); */
}
.dbs_slider:not(.-readOnly):not([disabled]) > .-container > .-content > .-sub_container > .-slider{
	cursor: pointer;
}

.dbs_slider:not(.-readOnly):not([disabled]).-h > .-container > .-content > .-sub_container > .-slider:ACTIVE{
    cursor: ew-resize;
}
.dbs_slider:not(.-readOnly):not([disabled]).-v > .-container > .-content > .-sub_container > .-slider:ACTIVE{
    cursor: ns-resize;
}


.dbs_slider[type="s"].-h > .-container > .-content > .-sub_container > .-slider{
/*     left: -.825em; */
/*     padding: 0 0.825em; */
/*     box-sizing: content-box; */
/*     border-radius: 1em; */
}

.dbs_slider.-h > .-container > .-content > .-sub_container > .-slider{
    width: 100%;
	height: 1.65em;
    left: 0;
	top: 0;
}

.dbs_slider.-v > .-container > .-content > .-sub_container > .-slider{
	height: 100%;
    width: 1.65em;
	top: 0;
	left: 0;
}

.dbs_slider > .-container > .-content > .-sub_container > .-slider > .-value{
    display: inline-block;
    position: absolute;
    left:0;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.dbs_slider.-h:not(.-selected) > .-container > .-content > .-sub_container > .-slider > .-value{
	-webkit-transition: width .2s cubic-bezier(0, 0.50, 0.50, 1);
	-moz-transition: width .2s cubic-bezier(0, 0.50, 0.50, 1);
	transition: width .2s cubic-bezier(0, 0.50, 0.50, 1);
}

.dbs_slider.-v:not(.-selected) > .-container > .-content > .-sub_container > .-slider > .-value{
	-webkit-transition: height .2s cubic-bezier(0, 0.50, 0.50, 1);
	moz-transition: height .2s cubic-bezier(0, 0.50, 0.50, 1);
	transition: height .2s cubic-bezier(0, 0.50, 0.50, 1);
}


.dbs_slider.-h > .-container > .-content > .-sub_container > .-slider > .-value{
    top:0;
    width: 0;
}

.dbs_slider[type="r"].-h > .-container > .-content > .-sub_container > .-slider > .-value{
	min-width: 1px;
}
.dbs_slider.-v > .-container > .-content > .-sub_container > .-slider > .-value{
    bottom:0;
	height: 0;
}
.dbs_slider[type="r"].-v > .-container > .-content > .-sub_container > .-slider > .-value{
	min-height: 1px;
}
.dbs_slider[type="s"].-h > .-container > .-content > .-sub_container > .-slider > .-value,
.dbs_slider[type="v"].-h > .-container > .-content > .-sub_container > .-slider > .-value{
	border-radius: .3em 0 0 .3em;
}
.dbs_slider[type="s"].-v > .-container > .-content > .-sub_container > .-slider > .-value,
.dbs_slider[type="v"].-v > .-container > .-content > .-sub_container > .-slider > .-value{
	border-radius: 0 0 .3em .3em;
}


.dbs_slider[type="s"].-h > .-container > .-content > .-sub_container > .-slider > .-value{
    -webkit-transition: width cubic-bezier(0, 0.65, 1, 1) .1s;
    -moz-transition: width cubic-bezier(0, 0.65, 1, 1) .1s;
    transition: width cubic-bezier(0, 0.65, 1, 1) .1s;
}
.dbs_slider[type="s"].-v > .-container > .-content > .-sub_container > .-slider > .-value{
    -webkit-transition: height cubic-bezier(0, 0.65, 1, 1) .1s;
    -moz-transition: height cubic-bezier(0, 0.65, 1, 1) .1s;
    transition: height cubic-bezier(0, 0.65, 1, 1) .1s;
}
.dbs_slider > .-container > .-content > .-sub_container > .-slider:before,
.dbs_slider > .-container > .-content > .-sub_container > .-slider > .-value > .-background:before{
	content: attr(pr);
	position: absolute;
}

.dbs_slider.-h .-container > .-content > .-sub_container > .-slider:before,
.dbs_slider.-h .-container > .-content > .-sub_container > .-slider > .-value > .-background:before{
    top: calc(50% - .6em);
    right: .5em;
    -webkit-transition: top .1s linear, font-size .1s linear;
    -moz-transition: top .1s linear, font-size .1s linear;
    transition: top .1s linear, font-size .1s linear;
}
.dbs_slider.-h.-ph .-container > .-content > .-sub_container > .-slider:before,
.dbs_slider.-h.-ph .-container > .-content > .-sub_container > .-slider > .-value > .-background:before{
    left: .5em;
    right: unset;
}

.dbs_slider.-h:not(.-ph).-editing .-container > .-content > .-sub_container > .-slider:before,
.dbs_slider.-h:not(.-ph).-editing .-container > .-content > .-sub_container > .-slider > .-value > .-background:before{
	display:none;
}

.dbs_slider.-h.-editing .-container > .-content > .-sub_container > .-slider:before,
.dbs_slider.-h.-editing .-container > .-content > .-sub_container > .-slider > .-value > .-background:before{
    font-size: .6em;
    left: 0;
    top: -1.3em;
}

.dbs_slider.-h.-i.-editing .-container > .-content > .-sub_container > .-slider:before,
.dbs_slider.-h.-i.-editing .-container > .-content > .-sub_container > .-slider > .-value > .-background:before{
    top: 2.8em;
}

.dbs_slider.-v .-container > .-content > .-sub_container > .-slider:before,
.dbs_slider.-v .-container > .-content > .-sub_container > .-slider > .-value > .-background:before{
    left: calc(50% - .55em);
	writing-mode: tb;
    bottom: .3em; 
}
.dbs_slider.-v.-ph .-container > .-content > .-sub_container > .-slider:before,
.dbs_slider.-v.-ph .-container > .-content > .-sub_container > .-slider > .-value > .-background:before{
    top: .5em;
    bottom: unset; 
}
    
.dbs_slider > .-container > .-content > .-sub_container > .-slider > .-value > .-background{
	position:absolute;
	border-radius: .3em;
}
.dbs_slider.-h > .-container > .-content > .-sub_container > .-slider > .-value > .-background{
	height: 100%;
/* 	border-radius: .3em 0 0 .3em; */
}
.dbs_slider.-v > .-container > .-content > .-sub_container > .-slider > .-value > .-background{
	width: 100%;
/* 	border-radius: 0 0 .3em .3em; */
	bottom: 0;
}

.dbs_slider.-h > .-container > .-content > .-sub_container > .-slider > .-label{
}
.dbs_slider.-v > .-container > .-content > .-sub_container > .-slider > .-label{
}

.dbs_slider:not(.-ph) > .-container > .-content > .-sub_container > .-handle{
	display: none;
}
.dbs_slider > .-container > .-content > .-sub_container > .-handle{
    position: absolute;
    display: inline-block;
	font-weight: 500;
}

.dbs_slider.-h > .-container > .-content > .-sub_container > .-handle{
	top: -0.05em;
}
.dbs_slider.-h.-i > .-container > .-content > .-sub_container > .-handle{
    top: 1.66em;
}

.dbs_slider.-v > .-container > .-content > .-sub_container > .-handle{
	left: 1.8em;
}
.dbs_slider.-v.-i > .-container > .-content > .-sub_container > .-handle{
	width: 100%;
	left: -1.75em;
}

.dbs_slider > .-container > .-content > .-sub_container > .-handle.-begin > .-label{
/*     right: 0;	right: 0; */ */
/* 	left: unset !important; */
}
.dbs_slider > .-container > .-content > .-sub_container > .-handle.-end > .-label{
/* 	left: 0 !important; */
}

.dbs_slider > .-container > .-content > .-sub_container > .-handle > .-label{
    visibility: hidden;
    position: absolute;
	display: inline-block;
    font-size: .7em;
    z-index: 1;
	border-color: transparent;
	border-style: solid;
}

.dbs_slider.-showValuesList > .-container > .-content > .-sub_container > .-handle > .-label,
.dbs_slider.-selected > .-container > .-content > .-sub_container > .-handle > .-label{
	visibility: inherit;
	cursor: default;
}
.dbs_slider[type="v"] > .-container > .-content > .-sub_container > .-handle > .-label,
.dbs_slider[type="r"] > .-container > .-content > .-sub_container > .-handle > .-label{
/* 	cursor: pointer; */
}
.dbs_slider[type="r"].-h > .-container > .-content > .-sub_container > .-handle > .-label {
    border: 0;
}

.dbs_slider.-h > .-container > .-content > .-sub_container > .-handle > .-label{
	line-height: 1;
	border-width: 0 .2em 0 .2em;
}
.dbs_slider.-h.-i > .-container > .-content > .-sub_container > .-handle > .-label{
}

.dbs_slider.-v > .-container > .-content > .-sub_container > .-handle > .-label{
	text-align:left;
    border-width: 0;
}
.dbs_slider.-v.-i > .-container > .-content > .-sub_container > .-handle > .-label{
	text-align:right;
   	width: 100%;
}

.dbs_slider[type="v"]:not(.-ph):not(.-readOnly):not([disabled]) > .-container > .-content > .-label:after,
.dbs_slider:not([type="s"]):not(.-readOnly):not([disabled]).-h > .-container > .-content > .-sub_container > .-handle > .-label:after,
.dbs_slider:not([type="s"]):not(.-readOnly):not([disabled]).-v:not(.-i) > .-container > .-content > .-sub_container > .-handle > .-label:after{
    content: "\e905";
    font-family: 'dbsfaces_icons';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    pointer-events: all;
    cursor: pointer;
}

.dbs_slider.-h:not(.-ph) .-container > .-content > .-sub_container > .-slider:after,
.dbs_slider.-h:not(.-ph) .-container > .-content > .-sub_container > .-slider > .-value > .-background:after{
	position: absolute;	
}
.dbs_slider.-h:not(.-ph).-h .-container > .-content > .-sub_container > .-slider:after,
.dbs_slider.-h:not(.-ph).-h .-container > .-content > .-sub_container > .-slider > .-value > .-background:after{
	right: 0;	
	top: calc(50% - .5em);
}
.dbs_slider.-h:not(.-ph).-v .-container > .-content > .-sub_container > .-slider:after,
.dbs_slider.-h:not(.-ph).-v .-container > .-content > .-sub_container > .-slider > .-value > .-background:after{
	bottom: 0;	
	left: calc(50% - .5em);
}

.dbs_slider:not([type="s"]):not(.-readOnly):not([disabled]).-h > .-container > .-content > .-sub_container > .-handle > .-label:after,
.dbs_slider:not([type="s"]):not(.-readOnly):not([disabled]).-v:not(.-i) > .-container > .-content > .-sub_container > .-handle > .-label:after{
    position: relative;
    font-size: .9em;
    top: .1em;
}
.dbs_slider:not([type="s"]):not(.-readOnly):not([disabled]).-v.-i > .-container > .-content > .-sub_container > .-handle > .-label:before{
    position: relative;
    content: "\e905";
    font-family: 'dbsfaces_icons';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: .9em;
    top: .1em;
    pointer-events: all;
    cursor: pointer;
}


.dbs_slider > .-container > .-content > .-sub_container > .-points{
    position: relative;
    pointer-events: none;
    display: block;
}

.dbs_slider:not(.-sv) > .-container > .-content > .-sub_container > .-points{
	display: none;
}

.dbs_slider.-h > .-container > .-content > .-sub_container > .-points{
	left: 0;
    top: 0;
    width: 100%;
}

.dbs_slider.-v > .-container > .-content > .-sub_container > .-points{
    top: 0;
    height: 100%;
    width: 5em;
}


.dbs_slider.-h > .-container > .-content > .-sub_container > .-points:after{
	content: "";
	position: relative;
	display:block;
}

.dbs_slider.-h > .-container > .-content > .-sub_container > .-points:after{
	height: .7em; /* deve ser iqual ao tamanho do fonte */
}

.dbs_slider[type="s"].-h > .-container > .-content > .-sub_container > .-points{
/*     left: -.5em; */
}
.dbs_slider[type="s"].-v > .-container > .-content > .-sub_container > .-points{
/*     top: -.5em; */
}


.dbs_slider > .-container > .-content > .-sub_container > .-points > .-point{
    position: absolute;
    display: inline-block;
    background-color: currentColor;
    border-radius: .1em;
	pointer-events: none;
    border-width: 1px;
    border-style: solid;
    color: transparent;    
    z-index: 2;
}	

/*esconde o ponto que marca as posições inicio e fim ou tenha placeholder*/
.dbs_slider:not([type="s"]).-ph > .-container > .-content > .-sub_container > .-points > .-point, 
.dbs_slider > .-container > .-content > .-sub_container > .-points > .-point.-first,
.dbs_slider:not([type="s"]) > .-container > .-content > .-sub_container > .-points > .-point.-last{
	display: none; 
}

.dbs_slider.-h > .-container > .-content > .-sub_container > .-points > .-point{
    border-left: 1px solid rgba(0, 0, 0, 0.32) !important;
    border-right: 1px solid rgba(255, 255, 255, 0.32) !important;
}
.dbs_slider.-v > .-container > .-content > .-sub_container > .-points > .-point{
    border-top: 1px solid rgba(0, 0, 0, 0.32) !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.32) !important;
}

.dbs_slider[type="s"] > .-container > .-content > .-sub_container > .-points > .-point{
}

.dbs_slider[type="s"].-h > .-container > .-content > .-sub_container > .-points > .-point{
	height: 1.65em;
    top: 0.7em;
    bottom: unset;
}

.dbs_slider[type="s"].-h.-i > .-container > .-content > .-sub_container > .-points > .-point{
	bottom: .7em;
    top: unset;
}

.dbs_slider[type="s"].-v > .-container > .-content > .-sub_container > .-points > .-point{
	width: 1.65em;
    height: 1px;
    left: -1.65em;
    right: unset;
}

.dbs_slider[type="s"].-v.-i > .-container > .-content > .-sub_container > .-points > .-point{
    right: -1.65em;
    left: unset;
}


/* .dbs_slider[type="v"].-selected > .-container > .-content > .-sub_container > .-points > .-point, */
/* .dbs_slider[type="r"].-selected > .-container > .-content > .-sub_container > .-points > .-point{ */
/* 	pointer-events: none; */
/* } */

.dbs_slider[type="v"] > .-container > .-content > .-sub_container > .-points > .-point,
.dbs_slider[type="r"] > .-container > .-content > .-sub_container > .-points > .-point{
}


.dbs_slider[type="v"].-h > .-container > .-content > .-sub_container > .-points > .-point,
.dbs_slider[type="r"].-h > .-container > .-content > .-sub_container > .-points > .-point{
    height: .3em;
	width: 1px;
    top: 1.4em;
}

.dbs_slider[type="v"].-h.-i > .-container > .-content > .-sub_container > .-points > .-point,
.dbs_slider[type="r"].-h.-i > .-container > .-content > .-sub_container > .-points > .-point{
    top: -1em;
}


.dbs_slider[type="v"].-v > .-container > .-content > .-sub_container > .-points > .-point,
.dbs_slider[type="r"].-v > .-container > .-content > .-sub_container > .-points > .-point{
    height: 1px;
    width: .3em;
	left: -1em;
	right: unset;
}
.dbs_slider[type="v"].-v.-i > .-container > .-content > .-sub_container > .-points > .-point,
.dbs_slider[type="r"].-v.-i > .-container > .-content > .-sub_container > .-points > .-point{
    right: -1em;
    left: unset;
}
        
.dbs_slider > .-container > .-content > .-sub_container > .-points > .-label{
	position: absolute;
    display: inline-block;
    font-size: .7em;
	-webkit-transition: opacity linear .2s;
	-moz-transition: opacity linear .2s;
	-o-transition: opacity linear .2s;
	transition: opacity linear .2s;
	opacity: 0.5;	
	line-height: 1;
}

.dbs_slider.-v > .-container > .-content > .-sub_container > .-points > .-label{
	width: 100%;
  	text-align: left;
	left: .25em;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.dbs_slider.-v.-i > .-container > .-content > .-sub_container > .-points > .-label{
    left: -0.2em;
    text-align: right;
}

.dbs_slider[type="v"].-v > .-container > .-content > .-sub_container > .-points > .-label.-first,
.dbs_slider[type="r"].-v > .-container > .-content > .-sub_container > .-points > .-label.-first{
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
}

.dbs_slider[type="v"].-v > .-container > .-content > .-sub_container > .-points > .-label.-last,
.dbs_slider[type="r"].-v > .-container > .-content > .-sub_container > .-points > .-label.-last{
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
}

.dbs_slider.-h > .-container > .-content > .-sub_container > .-points > .-label{
	-webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.dbs_slider.-h.-i > .-container > .-content > .-sub_container > .-points > .-label{
}

.dbs_slider[type="v"].-h > .-container > .-content > .-sub_container > .-points .-label.-first,
.dbs_slider[type="r"].-h > .-container > .-content > .-sub_container > .-points .-label.-first{
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
}
.dbs_slider[type="v"].-h > .-container > .-content > .-sub_container > .-points .-label.-last,
.dbs_slider[type="r"].-h > .-container > .-content > .-sub_container > .-points .-label.-last{
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
}
