.dbs_slider{
	display: inline-block;
	/* box-sizing: border-box; */
	/* line-height: 1em; */
	border: none;
	position: relative;
	line-height: 0;
}
.dbs_slider > .-container{
	position: relative;
	display: inline-block;
	height: 100%;
	width: 100%;
	z-index: 1;
    left: 0;
    top: 0;
    pointer-events: all;
}

.dbs_slider.-hide > .-container{
	opacity: 0;
    pointer-events: none;
}


.dbs_slider > .-container > .-content{
    position: absolute;
    display: inline-block;
    left: 0;
    top: 0;
    overflow: hidden;
    border-radius: 1em;
    border: none;
}

.dbs_slider:not(-readOnly) > .-container > .-content{
    cursor:  pointer;
}

.dbs_slider:not(-readOnly) > .-container > .-handle{
    cursor:  pointer;
}

.dbs_slider > .-container > .-content > .-slider{
/* 	content: ""; */
/* 	display: inline-block; */
	bottom: 0;
	left: 0;
	-webkit-transition: inherit;
	-moz-transition: inherit;
	transition: inherit;
    position: absolute;
}

.dbs_slider > .-container > .-content > .-slider .-label{
	fill:currentColor;
	position: absolute;
	left: 50%;
	top: 50%;
	white-space: nowrap;
	font-size: .8em;
}

.dbs_slider > .-container > .-content > .-slider .-label:nth-of-type(1) > .-value{
	float: left;
	font-weight: bold;
}

.dbs_slider > .-container > .-content > .-slider .-label:nth-of-type(1) > .-sufix{
	font-size: 30%;
	display: inline;
}

.dbs_slider.-v > .-container{
    min-width: 2em;
}
.dbs_slider.-h > .-container{
    min-height: 2em;
}

.dbs_slider.-v > .-container > .-content{
/*     transform: scale(-1); */
    width: .2em;
    height: 100%;
	left: calc(50% - .1em);
}

.dbs_slider.-h > .-container > .-content{
    width: 100%;
    height: .2em;
    top: calc(50% - .1em);
}
    

.dbs_slider.-h > .-container > .-content > .-slider{
	height: 100%;
	width: 0;
}
.dbs_slider.-ani.-h > .-container > .-content > .-slider{
	transition: width 1s ease;
}

.dbs_slider.-v > .-container > .-content > .-slider{
	width: 100%;
	height: 0;
}

.dbs_slider.-ani.-v > .-container > .-content > .-slider{
	transition: height 1s ease;
}
	
.dbs_slider.-h > .-container > .-content > .-slider > .-label{
	transform: translate(-50%, -50%);
}
.dbs_slider.-v > .-container > .-content > .-slider > .-label{
	transform: translate(-50%, -50%) scale(-1);
}

.dbs_slider > .-container > .-handle{
    height: 2em;
    width: 2em;
    border-radius: .2em;
/*     background: linear-gradient(135deg, hsl(0, 0%, 100%) 1%,hsl(0, 0%, 68%) 100%); */
    display: inline-block;
    position: absolute;
/*     border: 0.3em solid currentColor; */
    box-sizing: content-box;
	-webkit-transform: scale(.5);
	-moz-transform: scale(.5);
	-o-transform: scale(.5);
	transform: scale(.5);
	-webkit-transition: transform cubic-bezier(0, 0.65, 1, 1) .2s;
	-moz-transition: transform linear .2s;
	-o-transition: transform linear .2s;
	transition: transform cubic-bezier(0, 0.65, 1, 1) .2s;	
}

.dbs_slider.-h > .-container > .-handle{
    top: calc(50% - 1em);
    margin-left: -1em;
}
.dbs_slider.-v > .-container > .-handle{
    left: calc(50% - 1em);
    margin-top: -1em;
}

.dbs_slider.-selected > .-container > .-handle{
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
