.dbs_dataTable{
	display:block;
	font-size:inherit;
	color:inherit;
}

/* 	desativa altura padrão dos checkbox que por ventura existam dentro do data table */
.dbs_dataTable .dbs_checkbox > .-container > .dbs_input-data {
	height: auto;
}

.dbs_dataTable > .-container{
	display: inline-block;
	height: 100%;
	width: 100%;
	color:inherit;
}

.dbs_dataTable > .-container >.-header:first-child {
	border-width: 0px;
	-moz-border-radius: 6px 6px 0px 0px;
  	-webkit-border-radius: 6px 6px 0px 0px;
	border-radius:6px 6px 0px 0px;
}

.dbs_dataTable > .-container > div,
.dbs_dataTable > .-container > span{
	xdisplay: inline-block;
	width: 100%;	
}

.dbs_dataTable > .-container > .-header{
	text-shadow: 0px 1px 0px #FFFFFF;
	background-image: url("#{request.contextPath}/images/back_texture_white.png");
	background-repeat: repeat;
	background-color: rgba(180,180,180,0.1);
} 

.dbs_dataTable > .-container > .-header > div{
	display: inline-block;
	width: 100%;
	position: relative;
}

.dbs_dataTable > .-container > .-header > .-caption{
	min-height: 20px;
	height: 20px;
	font-weight: bold;
	text-shadow: 0px 1px 0px #FFFFFF;
	padding-top: 3px;
	padding-left: 5px;
	text-align: left;
	display: block;
	position: relative;	
} 
.dbs_dataTable > .-container > .-header > .-caption > .-icon{
	position: relative;
	float: left;
	top: -1px;
}

.dbs_dataTable > .-container > .-header > .-filter{
	padding: 4px;
} 

.dbs_dataTable > .-container > .-header > .-filter > .-input {
/* 	display: inline-block; */
	display: table;
	text-shadow: none;
	text-align: left;
	
}

.dbs_dataTable > .-container > .-header > .-filter > .-input .dbs_input,
.dbs_dataTable > .-container > .-header > .-filter > .-input .dbs_group{
	margin-bottom: 2px;
}

.dbs_dataTable > .-container > .-header > .-filter > .-button {
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	padding: 2px;
}

.dbs_dataTable > .-container > .-header > .-filter > .-button > .dbs_button{
	height: 100%;
}

.dbs_dataTable > .-container > .-header > .-toolbar{
	padding: 2px 4px 2px 2px;
	height: 22px;
} 

.dbs_dataTable > .-container > .-header > .-toolbar > nav > div > .-icon{
    position: absolute;
	background-color: rgb(13, 25, 45);
    border-style: outset;
    border-width: 1px;
    display: inline-block;
    float: left;
    left: 0;
    line-height: 9px;
    padding: 3px 2px 2px 3px;
    top: 0;    
}

.dbs_dataTable > .-container > .-header > .-toolbar > nav{
	float: right;
}

.dbs_dataTable > .-container > .-header > .-toolbar > nav > div > .dbs_button{
}



.dbs_dataTable > .-container > .-content{
	height: 100%;
} 

.dbs_dataTable > .-container > .-content > table {
	display: block;
	height: 100%;
	width: 100%; /* 24/03/2013 - No safari, a largura na linha não estava limitada */
	font-family: inherit;
	color: inherit;
	overflow-x: auto;
	overflow-y: hidden; 

	padding-top: 19px;
	position: relative;
}

.dbs_dataTable > .-container > .-content > table > thead,
.dbs_dataTable > .-container > .-content > table > tbody,
.dbs_dataTable > .-container > .-content > table > tfoot{
	min-width: 100% !important;
}
	
.dbs_dataTable > .-container > .-content > table > thead{
	position: absolute;
	display: inline-block;
	top: 0px; /* Incluio par esconder um ponto de sombra no título 19/04/2013*/
	padding-left:1px; /* incluido para alinha a linha da celula do cabeçalho com a linha do body */
}

.dbs_dataTable > .-container > .-content > table > tbody{
	position: relative;
	display: inline-block;
}
.dbs_dataTable > .-container > .-content > table > tfoot{
	position: relative;
	display: inline-block;
}

.dbs_dataTable > .-container > .-content > table > thead > tr{
	background: rgb(255,255,255); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNmU2ZTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(230,230,230,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(230,230,230,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(230,230,230,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(230,230,230,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(230,230,230,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(230,230,230,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-8 */
/*  -webkit-box-shadow:0px 2px 2px -1px rgba(0, 0, 0, 0.3); */
/* 	-moz-box-shadow:0px 2px 2px -1px rgba(0, 0, 0, 0.3); */
/* 	box-shadow:0px 2px 2px -1px rgba(0, 0, 0, 0.3);	 */
   	-webkit-box-shadow:0 2px 2px -2px rgba(0, 0, 0, 0.7);
	-moz-box-shadow:0 2px 2px -2px rgba(0, 0, 0, 0.7);
	box-shadow:0 2px 2px -2px rgba(0, 0, 0, 0.7);	

}

.dbs_dataTable > .-container > .-content > table > tbody{
	height: 100%;
	overflow-x: hidden; /*Verificar esta linha, pois está escondendo as colunas quando ultrapassa largura do browser. Testar suggestion*/
	overflow-y: auto; /*Verificar esta linha, pois está escondendo as colunas quando ultrapassa largura do browser*/
	border-top:0px ;
	border-left:1px;
	border-right:0px;
	border-bottom:0px;
	border-style: solid;
	border-color: rgba(255,255,255,0.2);
}

.dbs_dataTable > .-container > .-content > table > thead > tr,
.dbs_dataTable > .-container > .-content > table > tbody > tr,
.dbs_dataTable > .-container > .-content > table > tfoot > tr{
	display: block;
	position: relative;
}

.dbs_dataTable > .-container > .-content > table > thead > tr,
.dbs_dataTable > .-container > .-content > table > tfoot > tr {
/* 	xdisplay: inline-block; Comentado, pois não exibia o título inteiro quando haviam poucas colunas. Incluido para exibir o título inteiro mesmo quando não há linhas */
	min-height: 19px;
	height: 19px;
	text-shadow: 0px 1px 0px #FFFFFF;
	border-width:0;
	border-style: none;
	border-color: rgba(255,255,255,0.2);
/* 	xposition: relative; Desabilitado pois a sombra dos cabeçalhos funcionam, porém o botão de selecinar todos, não */
/*     xz-index: -1; Desabilitado pois a sombra dos cabeçalhos funcionam, porém o botão de selecinar todos, não */
}

.dbs_dataTable > .-container > .-content > table > tbody > tr {
 	min-height: 16px;
}

.dbs_dataTable:not(.-noDialogEdit) > .-container > .-content > table > tbody > tr {
/*  	border-width:0px 0px 1px 0px; */
 	border-width:1px 1px 0px 0px;
	border-style: solid;
	border-color: rgba(255,255,255,0.2); 
}

.dbs_dataTable.-noDialogEdit > .-container > .-content > table > tbody > tr {
 	border-width:1px 1px 0px 0px;
	border-style: solid;
	border-color: rgba(0,0,0,0.1); 
}

.dbs_dataTable:not(.-noDialogEdit) > .-container > .-content > table > tbody > tr {
	cursor: pointer;
}

.dbs_dataTable > .-container > .-content > table > thead > tr > .-C,
.dbs_dataTable > .-container > .-content > table > tbody > tr > .-C{
	display: none;
	width: 0px;
}

.dbs_dataTable > .-container > .-content > table > thead > tr > th{
	font-weight: normal;
	padding:0px 2px 0px 2px;
	height: inherit;
}

.dbs_dataTable > .-container > .-content > table > tbody > tr > td{
	padding:1px 2px 3px 2px;
}

.dbs_dataTable > .-container > .-content > table > thead > tr > th,
.dbs_dataTable > .-container > .-content > table > tbody > tr > td{
	overflow: hidden;
	line-height: 100%;
/* 	white-space: nowrap; Comentado em 18/05/2013 por não expandir linha quando há texto grande*/ 
	text-align: left;
}

.dbs_dataTable.-noDialogEdit > .-container > .-content > table > tbody > tr > td{
	border-width:0px 0px 0px 1px;
	border-style: solid;
	border-color: rgba(0,0,0,0.1);
}

.dbs_dataTable > .-container > .-content > table > thead > tr > th,
.dbs_dataTable:not(.-noDialogEdit) > .-container > .-content > table > tbody > tr > td{
	border-width:0px 0px 0px 1px;
	border-style: solid;
	border-color: rgba(255,255,255,0.2);
}

.dbs_dataTable > .-container > .-content > table > thead > tr > th.-checkbox,
.dbs_dataTable > .-container > .-content > table > tbody > tr > td.-checkbox{
	min-width: 17px;
	max-width: 17px;
	width: 17px;
}

.dbs_dataTable > .-container > .-content > table > tbody > tr > td.-checkbox > div {
    display: block;
    position: relative;
    height: 100%;
/*     height: 15px; */
/*     top: -2px;	 */
}

.dbs_dataTable > .-container > .-content > table > tbody .dbs_input{
	margin: -1px 0 -2px -1px;
/* 	width: 100%; */
}

			
/* .dbs_dataTable.-noDialogEdit > .-container > .-content > table > tbody > tr:not(.-selected) .dbs_input-data{ */
.dbs_dataTable.-noDialogEdit > .-container > .-content > table > tbody .dbs_input-data.-readOnly{
	border: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px !important;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background-color: transparent;
	color: inherit;
	padding: 2px 2px 0px 1px !important;
	display: inherit;
	line-height: 15px;
	min-height: 19px !important;
}

.dbs_dataTable > .-container > .-content > table > tbody .dbs_input-data.-readOnly{
	background-color: transparent !important;
}

.dbs_dataTable > .-container > .-content > table > tbody .dbs_input-data:focus:not(.-editing){
	border:none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	color:white !important;
	background: rgb(30,87,153) !important; /* Old browsers */
	background: -moz-linear-gradient(top,  rgb(15,43,76) 0%, rgba(13,25,45,1) 100%) !important; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(15,43,76)), color-stop(100%,rgba(13,25,45,1))) !important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgb(15,43,76) 0%,rgba(13,25,45,1) 100%) !important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgb(15,43,76) 0%,rgba(13,25,45,1) 100%) !important; /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgb(15,43,76) 0%,rgba(13,25,45,1) 100%) !important; /* IE10+ */
	background: linear-gradient(to bottom,  rgb(15,43,76) 0%,rgba(13,25,45,1) 100%) !important; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0F2B4C', endColorstr='#0d192d',GradientType=0) !important; /* IE6-9 */
}

.dbs_dataTable > .-container > .-content > table > tbody .dbs_checkbox > .dbs_input-data{
	height: 12px;
}

.dbs_dataTable > .-container > .-content > table > tbody .dbs_input-data:FOCUS,
.dbs_dataTable > .-container > .-content > table > tbody .dbs_input-data-FOCUS{
	background-color: rgb(221, 235, 255);
	color: rgb(13,25,45);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}


.dbs_dataTable > .-container > .-content > table > tbody > tr > td.-checkbox > div > input {
}

.dbs_dataTable > .-container > .-content > table > tbody > tr > td > .-selectOne{
	display:none !important;
}
.dbs_dataTable > .-container > .-content > table > tbody > tr > td > .-key{
	display:none !important;
}

.dbs_dataTable > .-container > .-content > table > thead > tr > .-CX,
.dbs_dataTable > .-container > .-content > table > tbody > tr > .-CX{
	width: 100%;
	border-left: 0px !important;
}


.dbs_dataTable > .-container > .-content > table > thead > tr > th.-checkbox > button > table{
	margin: 0px 0px 0px -1px;
}


.dbs_dataTable:not(.-noDialogEdit) > .-container > .-content > table > tbody > .-selected {
	color:white; 
	background: rgb(19,57,99);
	background: -moz-linear-gradient(top,  rgba(19,57,99,1) 0%, rgba(15,43,76,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(19,57,99,1)), color-stop(100%,rgba(15,43,76,1)));
	background: -webkit-linear-gradient(top,  rgba(19,57,99,1) 0%,rgba(15,43,76,1) 100%);
	background: -o-linear-gradient(top,  rgba(19,57,99,1) 0%,rgba(15,43,76,1) 100%);
	background: -ms-linear-gradient(top,  rgba(19,57,99,1) 0%,rgba(15,43,76,1) 100%);
	background: linear-gradient(to bottom,  rgba(19,57,99,1) 0%,rgba(15,43,76,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#133963', endColorstr='#0f2b4c',GradientType=0 );
}

.dbs_dataTable:not(.-noDialogEdit) > .-container > .-content > table > tbody > .-selected .dbs_icon{
	background-position-y: -16px; 
}

    
.dbs_dataTable > .-container > .-content > table > tbody > .-focus {
	color:white;
	background: rgb(8,114,201);
	background: -moz-linear-gradient(top,  rgba(8,114,201,1) 0%, rgba(7,101,178,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(8,114,201,1)), color-stop(100%,rgba(7,101,178,1)));
	background: -webkit-linear-gradient(top,  rgba(8,114,201,1) 0%,rgba(7,101,178,1) 100%);
	background: -o-linear-gradient(top,  rgba(8,114,201,1) 0%,rgba(7,101,178,1) 100%);
	background: -ms-linear-gradient(top,  rgba(8,114,201,1) 0%,rgba(7,101,178,1) 100%);
	background: linear-gradient(to bottom,  rgba(8,114,201,1) 0%,rgba(7,101,178,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0872c9', endColorstr='#0765b2',GradientType=0 );
}

.dbs_dataTable > .-container > .-content > table > tbody > .-focus .dbs_icon{
	background-position-y: -16px; 
}


.dbs_dataTable > .-container > .-content > table > thead > .-focus {
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA4NzJjOSIgc3RvcC1vcGFjaXR5PSIwLjE4Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZTU3OTkiIHN0b3Atb3BhY2l0eT0iMC4yNyIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(8,114,201,0.18) 0%, rgba(30,87,153,0.27) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(8,114,201,0.18)), color-stop(100%,rgba(30,87,153,0.27))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(8,114,201,0.18) 0%,rgba(30,87,153,0.27) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(8,114,201,0.18) 0%,rgba(30,87,153,0.27) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(8,114,201,0.18) 0%,rgba(30,87,153,0.27) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(8,114,201,0.18) 0%,rgba(30,87,153,0.27) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e0872c9', endColorstr='#450F2B4C',GradientType=0 ); /* IE6-8 */
	background-color: rgb(255,255,255);
}


.dbs_dataTable > .-container > .-content > table > tbody > .-odd {
	background-color: rgba(255,255,255,0.04);
}

.dbs_dataTable > .-container > .-content > table > tbody > .-even {
	background-color: rgba(0,0,0,0.04);
}

.dbs_dataTable_empty{
	background: -moz-linear-gradient(top,  rgba(220,220,220,0.3) 0%, rgba(255,255,255,0.3) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(220,220,220,0.3)), color-stop(100%,rgba(255,255,255,0.3))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(220,220,220,0.3) 0%,rgba(255,255,255,0.3) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(220,220,220,0.3) 0%,rgba(255,255,255,0.3) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(220,220,220,0.3) 0%,rgba(255,255,255,0.3) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(220,220,220,0.3) 0%,rgba(255,255,255,0.3) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ddcdcdc', endColorstr='#4dffffff',GradientType=0 ); /* IE6-9 */
}
