.dbs_nav-freeze{
/* 	width: 100%; */
/* 	height: 100%; */
/* 	position: fixed; */
	overflow: hidden;
}

.dbs_nav {
    display: inline-block;
    position: relative;
}

.dbs_nav > .-container{
	position: relative;
	display: inline-block;
	top:0;
	left:0;
/* 	width: 100%; */
/* 	height: 100%; */
}
.dbs_nav > .-container > .-mask{
	position: fixed;
	top:0;
	left:0;
	opacity: 0.3;
	width: 100%;
	height: 100%;
	transition: opacity .3s;
	z-index: 9999998;
}

.dbs_nav.-closed > .-container > .-mask{
	opacity: 0;
	pointer-events: none;
}

.dbs_nav > .-container > .-nav{
	position: fixed;
	display: inline-block;
	white-space: nowrap;
	z-index: 9999999;
}

/* PROGRESS TIMEOUT */
@keyframes progress_timeout_animation {
    from {width: 0%;}
    to {width: 100%;}
}
.dbs_nav > .-container > .-nav > .-progress_timeout{
	position: fixed;
    height: 0.1em;
    bottom: 0;
    left: 0;
}

/* CENTER */
.dbs_nav.-tlc > .-container > .-nav,
.dbs_nav.-trc > .-container > .-nav,
.dbs_nav.-blc > .-container > .-nav,
.dbs_nav.-brc > .-container > .-nav{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity .2s, width .3s, height .3s, left .3s, top .3s;
}
.dbs_nav.-tlc.-closed > .-container > .-nav,
.dbs_nav.-trc.-closed > .-container > .-nav,
.dbs_nav.-blc.-closed > .-container > .-nav,
.dbs_nav.-brc.-closed > .-container > .-nav{
	opacity: 0;
}

/*VERTICAL */
.dbs_nav.-tlv > .-container > .-nav,
.dbs_nav.-trv > .-container > .-nav,
.dbs_nav.-blv > .-container > .-nav,
.dbs_nav.-brv > .-container > .-nav{
	height: 100%;
	transition: width .2s;
}

/*HORIZONTAL */
.dbs_nav.-tlh > .-container > .-nav,
.dbs_nav.-trh > .-container > .-nav,
.dbs_nav.-blh > .-container > .-nav,
.dbs_nav.-brh > .-container > .-nav{
	width: 100%;
	transition: height .2s;
}

/* TOP */
.dbs_nav.-tlh > .-container > .-nav,
.dbs_nav.-tlv > .-container > .-nav,
.dbs_nav.-trh > .-container > .-nav,
.dbs_nav.-trv > .-container > .-nav{
	top: 0;
}
/* BOTTOM */
.dbs_nav.-blh > .-container > .-nav,
.dbs_nav.-blv > .-container > .-nav,
.dbs_nav.-brh > .-container > .-nav,
.dbs_nav.-brv > .-container > .-nav{
	bottom: 0;
}

/* RIGHT */
.dbs_nav.-trh > .-container > .-nav,
.dbs_nav.-trv > .-container > .-nav,
.dbs_nav.-brh > .-container > .-nav,
.dbs_nav.-brv > .-container > .-nav{
	right: 0;
    text-align: right;
}
/* LEFT */
.dbs_nav.-tlh > .-container > .-nav,
.dbs_nav.-tlv > .-container > .-nav,
.dbs_nav.-blh > .-container > .-nav,
.dbs_nav.-blv > .-container > .-nav{
	left: 0;
	text-align: left;
}

.dbs_nav.-closed > .-container > .-nav{
	pointer-events: none;
	box-shadow: none !important;
}
.dbs_nav > .-container > .-nav.-closed *{
	pointer-events: none;
}

/*VERTICAL */
.dbs_nav.-closed.-tlv > .-container > .-nav,
.dbs_nav.-closed.-trv > .-container > .-nav,
.dbs_nav.-closed.-blv > .-container > .-nav,
.dbs_nav.-closed.-brv > .-container > .-nav{
	width: 0;
}

/*HORIZONTAL */
.dbs_nav.-closed.-tlh > .-container > .-nav,
.dbs_nav.-closed.-trh > .-container > .-nav,
.dbs_nav.-closed.-blh > .-container > .-nav,
.dbs_nav.-closed.-brh > .-container > .-nav{
	height: 0;
}

/* CENTER */
.dbs_nav.-closed.-tlc > .-container > .-nav,
.dbs_nav.-closed.-trc > .-container > .-nav,
.dbs_nav.-closed.-blc > .-container > .-nav,
.dbs_nav.-closed.-brc > .-container > .-nav{
	width: 0;
	height: 0;
}

.dbs_nav > .-container > .-nav > .-container {
    height: 100%;
    width: 100%;
    position: relative;
    display: inline-block;
	
}

.dbs_nav > .-container > .-nav > .-container > .-content{
    position: relative;
    display: inline-block;
	width: 100%;
    height: 100%;
    overflow: scroll;
}

.dbs_nav > .-container > .-nav > .-container > .-content > div{
	display: table;
	width: 100%;
    height: 100%;
}
.dbs_nav > .-container > .-nav > .-container > .-content > div > nav{
    display: table-cell;
    vertical-align: bottom;
}

/* VERTICAL */
.dbs_nav.-tlv > .-container > .-nav > .-container > .-content > div > nav,
.dbs_nav.-trv > .-container > .-nav > .-container > .-content > div > nav,
.dbs_nav.-blv > .-container > .-nav > .-container > .-content > div > nav,
.dbs_nav.-brv > .-container > .-nav > .-container > .-content > div > nav{
/* 	width: 100%; */
}


/* HORIZONTAL */
.dbs_nav.-tlh > .-container > .-nav > .-container > .-content > div > nav,
.dbs_nav.-trh > .-container > .-nav > .-container > .-content > div > nav,
.dbs_nav.-blh > .-container > .-nav > .-container > .-content > div > nav,
.dbs_nav.-brh > .-container > .-nav > .-container > .-content > div > nav{
/* 	height: 100%; */
}

/* TOP*/
.dbs_nav.-tlh > .-container > .-nav > .-container > .-content > div > nav,
.dbs_nav.-tlv > .-container > .-nav > .-container > .-content > div > nav,
.dbs_nav.-trh > .-container > .-nav > .-container > .-content > div > nav,
.dbs_nav.-trv > .-container > .-nav > .-container > .-content > div > nav{
    top: 0;
    vertical-align: top;
}

/* BOTTOM*/
.dbs_nav.-blh > .-container > .-nav > .-container > .-content > div > nav,
.dbs_nav.-blv > .-container > .-nav > .-container > .-content > div > nav,
.dbs_nav.-brh > .-container > .-nav > .-container > .-content > div > nav,
.dbs_nav.-brv > .-container > .-nav > .-container > .-content > div > nav{
/*     bottom: 0; */
    vertical-align: bottom;
}

/* LEFT */
.dbs_nav.-tlh > .-container > .-nav > .-container > .-content > div > nav,
.dbs_nav.-tlv > .-container > .-nav > .-container > .-content > div > nav,
.dbs_nav.-blh > .-container > .-nav > .-container > .-content > div > nav,
.dbs_nav.-blv > .-container > .-nav > .-container > .-content > div > nav{
    left: 0;
	text-align: left;
}
/* RIGHT */
.dbs_nav.-trh > .-container > .-nav > .-container > .-content > div > nav,
.dbs_nav.-trv > .-container > .-nav > .-container > .-content > div > nav,
.dbs_nav.-brh > .-container > .-nav > .-container > .-content > div > nav,
.dbs_nav.-brv > .-container > .-nav > .-container > .-content > div > nav{
    right: 0;
	text-align: right;
}

/* CENTER */
.dbs_nav.-tlc > .-container > .-nav > .-container > .-content > div > nav,
.dbs_nav.-trc > .-container > .-nav > .-container > .-content > div > nav,
.dbs_nav.-blc > .-container > .-nav > .-container > .-content > div > nav,
.dbs_nav.-brc > .-container > .-nav > .-container > .-content > div > nav{
	
}


.dbs_nav > .-container > .-icon {
	position: relative;
    display: flex;
    top:0;
    left:0;
    vertical-align: middle;
}

.dbs_nav > .-container > .-icon > .-content {
	position: relative;
	cursor: pointer;
	font-size: inherit;
}

/* TOP     */
.dbs_nav.-tlh > .-container > .-icon,
.dbs_nav.-tlv > .-container > .-icon,
.dbs_nav.-trh > .-container > .-icon,
.dbs_nav.-trv > .-container > .-icon{
}

/* BOTTOM */
.dbs_nav.-blh > .-container > .-icon,
.dbs_nav.-blv > .-container > .-icon,
.dbs_nav.-brh > .-container > .-icon,
.dbs_nav.-brv > .-container > .-icon{
}

/* LEFT */
.dbs_nav.-tlh > .-container > .-icon,
.dbs_nav.-tlv > .-container > .-icon,
.dbs_nav.-blh > .-container > .-icon,
.dbs_nav.-blv > .-container > .-icon{
}

/* RIGHT */
.dbs_nav.-trh > .-container > .-icon,
.dbs_nav.-trv > .-container > .-icon,
.dbs_nav.-brh > .-container > .-icon,
.dbs_nav.-brv > .-container > .-icon{

}


.dbs_nav.-tlh > .-container > .-icon{
}
.dbs_nav.-tlv > .-container > .-icon{
}
.dbs_nav.-trh > .-container > .-icon{
}
.dbs_nav.-trv > .-container > .-icon{
}
.dbs_nav.-blh > .-container > .-icon{
}
.dbs_nav.-blv > .-container > .-icon{
}
.dbs_nav.-brh > .-container > .-icon{
}
.dbs_nav.-brv > .-container > .-icon{
}

.dbs_nav > .-container > .-nav > .-header {
    position: absolute;
    display: block;
    height: 1.5em;
    overflow: hidden;
}

.dbs_nav > .-container > .-nav > .-header > .-content {
	position: relative;
	/* width: 100%; */
}
.dbs_nav > .-container > .-nav > .-header > .-content > .-caption {
	width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}
.dbs_nav > .-container > .-nav > .-header > .-content > .-iconcloseCentral {
	position: absolute;
    top: 0;
    right: 0;
}

/* TOP     */
.dbs_nav.-tlh > .-container > .-nav > .-header,
.dbs_nav.-tlv > .-container > .-nav > .-header,
.dbs_nav.-trh > .-container > .-nav > .-header,
.dbs_nav.-trv > .-container > .-nav > .-header{
	top: 0;
}
/* BOTTOM */
.dbs_nav.-blh > .-container > .-nav > .-header,
.dbs_nav.-blv > .-container > .-nav > .-header,
.dbs_nav.-brh > .-container > .-nav > .-header,
.dbs_nav.-brv > .-container > .-nav > .-header{
	bottom: 0;
}
/* RIGHT */
.dbs_nav.-tlv > .-container > .-nav > .-header,
.dbs_nav.-blv > .-container > .-nav > .-header,
.dbs_nav.-trh > .-container > .-nav > .-header,
.dbs_nav.-brh > .-container > .-nav > .-header{
	right: 0;
    text-align: left;
}
/* LEFT*/
.dbs_nav.-tlh > .-container > .-nav > .-header,
.dbs_nav.-blh > .-container > .-nav > .-header,
.dbs_nav.-trv > .-container > .-nav > .-header,
.dbs_nav.-brv > .-container > .-nav > .-header{
	left: 0;
    text-align: right;
}

/* VERTICAL */
.dbs_nav.-tlv > .-container > .-nav > .-header,
.dbs_nav.-blv > .-container > .-nav > .-header,
.dbs_nav.-trv > .-container > .-nav > .-header,
.dbs_nav.-brv > .-container > .-nav > .-header{
	width: 100%;
}
/* HORIZONTAL */
.dbs_nav.-tlh > .-container > .-nav > .-header,
.dbs_nav.-blh > .-container > .-nav > .-header,
.dbs_nav.-trh > .-container > .-nav > .-header,
.dbs_nav.-brh > .-container > .-nav > .-header{
	height: 100%;
}

/* CENTER */
.dbs_nav.-tlc > .-container > .-nav > .-header,
.dbs_nav.-trc > .-container > .-nav > .-header,
.dbs_nav.-blc > .-container > .-nav > .-header,
.dbs_nav.-brc > .-container > .-nav > .-header{
    width: 100%;
    z-index: 1;
}

/* ----------------------------------------------------- */
.dbs_nav > .-container > .-nav > .-iconclose{
    position: absolute;
    display: inline-block;
    /* font-size: .3em; */
    font-size: 4.5px;
	/* z-index: -1; */
    width: 0em;
    height: 0em;
}
/* VERTICAL */
.dbs_nav.-tlv > .-container > .-nav > .-iconclose,
.dbs_nav.-blv > .-container > .-nav > .-iconclose,
.dbs_nav.-trv > .-container > .-nav > .-iconclose,
.dbs_nav.-brv > .-container > .-nav > .-iconclose{
    top: 50%;
}
/* HORIZONTAL */
.dbs_nav.-tlh > .-container > .-nav > .-iconclose,
.dbs_nav.-blh > .-container > .-nav > .-iconclose,
.dbs_nav.-trh > .-container > .-nav > .-iconclose,
.dbs_nav.-brh > .-container > .-nav > .-iconclose{
    left: 50%;
}

/* LEFT VERTICAL */
.dbs_nav.-tlv > .-container > .-nav > .-iconclose,
.dbs_nav.-blv > .-container > .-nav > .-iconclose{
    right: 0;
}
/* RIGHT VERTICAL */
.dbs_nav.-trv > .-container > .-nav > .-iconclose,
.dbs_nav.-brv > .-container > .-nav > .-iconclose{
    left: 0;
}

/* TOP HORIZONTAL */
.dbs_nav.-tlh > .-container > .-nav > .-iconclose,
.dbs_nav.-trh > .-container > .-nav > .-iconclose{
    bottom: 0;
}
/* BOTTOM HORIZONTAL */
.dbs_nav.-blh > .-container > .-nav > .-iconclose,
.dbs_nav.-brh > .-container > .-nav > .-iconclose{
    top: 0;
}
/* CENTER */
.dbs_nav.-tlc > .-container > .-nav > .-iconclose,
.dbs_nav.-trc > .-container > .-nav > .-iconclose,
.dbs_nav.-blc > .-container > .-nav > .-iconclose,
.dbs_nav.-brc > .-container > .-nav > .-iconclose{
	display: none;
}
/* -------------- */
.dbs_nav > .-container > .-nav > .-iconclose > div{
	position: fixed;
	overflow: hidden;
	background-color: inherit;
	color: inherit;
	cursor: pointer;
}

/* VERTICAL */
.dbs_nav.-trv > .-container > .-nav > .-iconclose > div,
.dbs_nav.-brv > .-container > .-nav > .-iconclose > div,
.dbs_nav.-tlv > .-container > .-nav > .-iconclose > div,
.dbs_nav.-blv > .-container > .-nav > .-iconclose > div{
    width: 1em;
    height: 30%;
    min-height: 5em;
}

.dbs_nav.-trv.-closed > .-container > .-nav > .-iconclose > div,
.dbs_nav.-brv.-closed > .-container > .-nav > .-iconclose > div,
.dbs_nav.-tlv.-closed > .-container > .-nav > .-iconclose > div,
.dbs_nav.-blv.-closed > .-container > .-nav > .-iconclose > div,
.dbs_nav.-c.-closed > .-container > .-nav > .-iconclose > div{
    width: 0em;
    min-width: 0;
}
/* HORIZONTAL */
.dbs_nav.-trh > .-container > .-nav > .-iconclose > div,
.dbs_nav.-brh > .-container > .-nav > .-iconclose > div,
.dbs_nav.-tlh > .-container > .-nav > .-iconclose > div,
.dbs_nav.-blh > .-container > .-nav > .-iconclose > div{
	height: 1em;
    width: 30%;
    min-width: 5em;
}

/* CENTER */
.dbs_nav.-tlc > .-container > .-nav > .-iconclose > div,
.dbs_nav.-trc > .-container > .-nav > .-iconclose > div,
.dbs_nav.-blc > .-container > .-nav > .-iconclose > div,
.dbs_nav.-brc > .-container > .-nav > .-iconclose > div{
	height: 1em;
    width: 30%;
    min-width: 5em;
}

.dbs_nav.-trh.-closed > .-container > .-nav > .-iconclose > div,
.dbs_nav.-brh.-closed > .-container > .-nav > .-iconclose > div,
.dbs_nav.-tlh.-closed > .-container > .-nav > .-iconclose > div,
.dbs_nav.-blh.-closed > .-container > .-nav > .-iconclose > div{
    height: 0em;
    min-height: 0;
}

/* CENTER */
.dbs_nav.-tlc.-closed > .-container > .-nav > .-iconclose > div,
.dbs_nav.-trc.-closed > .-container > .-nav > .-iconclose > div,
.dbs_nav.-blc.-closed > .-container > .-nav > .-iconclose > div,
.dbs_nav.-brc.-closed > .-container > .-nav > .-iconclose > div{
    height: 0em;
    min-height: 0;
}

/* VERTICAL RIGHT */
.dbs_nav.-trv > .-container > .-nav > .-iconclose > div,
.dbs_nav.-brv > .-container > .-nav > .-iconclose > div{
    border-radius: 1em 0 0 1em;
    transform: translate(-.95em, -50%);
}
/* VERTICAL LEFT */
.dbs_nav.-tlv > .-container > .-nav > .-iconclose > div,
.dbs_nav.-blv > .-container > .-nav > .-iconclose > div{
    border-radius: 0 1em 1em 0;
    transform: translate(0em, -50%);
}
/* HORIZONTAL TOP */
.dbs_nav.-trh > .-container > .-nav > .-iconclose > div,
.dbs_nav.-tlh > .-container > .-nav > .-iconclose > div{
    border-radius: 0 0 1em 1em;
    transform: translate(-50%, 0em);    
}
/* HORIZONTAL BOTTOM */
.dbs_nav.-brh > .-container > .-nav > .-iconclose > div,
.dbs_nav.-blh > .-container > .-nav > .-iconclose > div{
    border-radius: 1em 1em 0 0;
    transform: translate(-50%, -.95em);
}

/* CENTER */
.dbs_nav.-tlc > .-container > .-nav > .-iconclose > div,
.dbs_nav.-trc > .-container > .-nav > .-iconclose > div,
.dbs_nav.-blc > .-container > .-nav > .-iconclose > div,
.dbs_nav.-brc > .-container > .-nav > .-iconclose > div{
    width: 1em;
    height: 30%;
    min-height: 5em;
}
.dbs_nav.-tlc.-closed > .-container > .-nav > .-iconclose > div,
.dbs_nav.-trc.-closed > .-container > .-nav > .-iconclose > div,
.dbs_nav.-blc.-closed > .-container > .-nav > .-iconclose > div,
.dbs_nav.-brc.-closed > .-container > .-nav > .-iconclose > div{
    width: 0em;
    min-width: 0;
}

/* -------------- */
.dbs_nav > .-container > .-nav > .-iconclose > div:before{
/*     position: fixed; */
	position: absolute;
    font-size: 1.3em;
}
/* VERTICAL */
.dbs_nav.-trv > .-container > .-nav > .-iconclose > div:before,
.dbs_nav.-brv > .-container > .-nav > .-iconclose > div:before,
.dbs_nav.-tlv > .-container > .-nav > .-iconclose > div:before,
.dbs_nav.-blv > .-container > .-nav > .-iconclose > div:before{
	top: 50%;
}
/* HORIZONTALL */
.dbs_nav.-trh > .-container > .-nav > .-iconclose > div:before,
.dbs_nav.-brh > .-container > .-nav > .-iconclose > div:before,
.dbs_nav.-tlh > .-container > .-nav > .-iconclose > div:before,
.dbs_nav.-blh > .-container > .-nav > .-iconclose > div:before{
	left: 50%;
}
/* VERTICAL RIGHT */
.dbs_nav.-trv > .-container > .-nav > .-iconclose > div:before,
.dbs_nav.-brv > .-container > .-nav > .-iconclose > div:before{
    transform: translate(-.8em,-50%);
}
/* VERTICAL LEFT */
.dbs_nav.-tlv > .-container > .-nav > .-iconclose > div:before,
.dbs_nav.-blv > .-container > .-nav > .-iconclose > div:before{
	transform: translate(-.2em,-50%);
}
/* HORIZONTAL TOP */
.dbs_nav.-trh > .-container > .-nav > .-iconclose > div:before,
.dbs_nav.-tlh > .-container > .-nav > .-iconclose > div:before{
	transform: translate(-50%, -.1em);
}
/* HORIZONTAL BOTTOM */
.dbs_nav.-brh > .-container > .-nav > .-iconclose > div:before,
.dbs_nav.-blh > .-container > .-nav > .-iconclose > div:before{
	transform: translate(-50%, 0em);
}

.dbs_nav > .-container > .-nav > .-footer {
	position: absolute;
    display: inline-block;
    overflow: hidden;
}

.dbs_nav > .-container > .-nav > .-footer > .-content {
	position: relative;
}

/* TOP     */
.dbs_nav.-tlh > .-container > .-nav > .-footer,
.dbs_nav.-tlv > .-container > .-nav > .-footer,
.dbs_nav.-trh > .-container > .-nav > .-footer,
.dbs_nav.-trv > .-container > .-nav > .-footer{
	bottom: 0;
}
/* BOTTOM */
.dbs_nav.-blh > .-container > .-nav > .-footer,
.dbs_nav.-blv > .-container > .-nav > .-footer,
.dbs_nav.-brh > .-container > .-nav > .-footer,
.dbs_nav.-brv > .-container > .-nav > .-footer{
	top: 0;
}

/* HORIZONTAL */
.dbs_nav.-tlh > .-container > .-nav > .-footer,
.dbs_nav.-trh > .-container > .-nav > .-footer,
.dbs_nav.-blh > .-container > .-nav > .-footer,
.dbs_nav.-brh > .-container > .-nav > .-footer{
	height: 100%;
}
/* VERTICAL */
.dbs_nav.-tlv > .-container > .-nav > .-footer,
.dbs_nav.-trv > .-container > .-nav > .-footer,
.dbs_nav.-blv > .-container > .-nav > .-footer,
.dbs_nav.-brv > .-container > .-nav > .-footer{
	width: 100%;
}

/* LEFT VERTICAL / RIGHT HORIZONTAL */
.dbs_nav.-tlv > .-container > .-nav > .-footer,
.dbs_nav.-blv > .-container > .-nav > .-footer,
.dbs_nav.-trh > .-container > .-nav > .-footer,
.dbs_nav.-brh > .-container > .-nav > .-footer{
	left: 0;
    text-align: left;
}
/* LEFT HORIZONTAL / RIGHT VERTICAL */
.dbs_nav.-tlh > .-container > .-nav > .-footer,
.dbs_nav.-blh > .-container > .-nav > .-footer,
.dbs_nav.-trv > .-container > .-nav > .-footer,
.dbs_nav.-brv > .-container > .-nav > .-footer{
	right: 0;
    text-align: right;
}

/* CENTER */
.dbs_nav.-tlc > .-container > .-nav > .-footer{
	width: 100%;
    z-index: 1;	
    bottom: 0;
	left: 0;
	text-align: left;
}
.dbs_nav.-trc > .-container > .-nav > .-footer{
	width: 100%;
    z-index: 1;	
    bottom: 0;
	left: 0;
	text-align: right;
}
.dbs_nav.-blc > .-container > .-nav > .-footer{
	width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    text-align: left;
}
.dbs_nav.-brc > .-container > .-nav > .-footer{
	width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    text-align: right;
}

/* CENTER MOBILE */
@media screen and (max-width: 767px) {
	.dbs_nav.-tlc > .-container > .-nav,
	.dbs_nav.-trc > .-container > .-nav,
	.dbs_nav.-blc > .-container > .-nav,
	.dbs_nav.-brc > .-container > .-nav{
		width: 100% !important;
	    height: 100% !important;
	}
}
