.dbs_radio{}

.dbs_radio > table{
	position: relative;
	display: table;
}

.dbs_radio > table > tbody > tr .-th_input:not([disabled]){
	cursor: pointer;	
}

.dbs_radio > table > tbody > tr > td {
	display: table;
	white-space: nowrap;
}

.dbs_radio > table > tbody > tr > td > .-th_input-label {
	display: inline-block; 
	margin-right: 1em;
/* 	padding: 0 0 0 .3em; */
	padding: 0;
	margin: 0;
	vertical-align: middle;
    cursor: inherit;
}

.dbs_radio > table > tbody > tr > .-th_input[disabled] > .-th_input-label{
	cursor: default;
}

.dbs_radio > table > tbody > tr > td > .-th_input-data {
    position: relative;
    visibility: hidden;
    overflow: visible;
    background-color: transparent;
    height: 1.5em !important;
    width: 1.5em !important;
    cursor: inherit;
}

.dbs_radio > table > tbody > tr > td > .-th_input-data:after{
    font-family: 'dbsfaces_icons' !important;
    visibility: visible;
    position: relative;
    content: "\e91c";
    font-size: 1.5em;
}

.dbs_radio > table > tbody > tr > td > .-th_input-data:checked:after{
	content: "\e91d";
}
