.dbs_combobox{
}


.dbs_combobox > .-container{
/* 	position: relative; */
}

.dbs_combobox > .-container > .dbs_input-label {
}

.dbs_combobox > .-container > .dbs_input-data {
	height: 19px;
	position: relative;
	padding: 0px 14px 0 1px !important;
	line-height: 1.4;
	text-align: left;
	overflow: hidden;
}

.dbs_combobox > .-container > .dbs_input-data > select {
	opacity: 0;
	position: absolute;
	cursor: pointer;
	font-size: inherit;
	border: medium none;
	left:-1px;
	top:-1px;
}

.dbs_combobox > .-container > .dbs_input-data.-readOnly {
	line-height: 1.5;
}

.dbs_combobox > .-container > .dbs_input-data > .-data {
	display:block;
	overflow: hidden;	
	position: relative;
    top: 1px;	
}

.dbs_combobox > .-container > .dbs_input-data > .-button {
	position: absolute;	
	top: 3px;
	right: 3px;
/* 	font-size: 13px; */
/* 	cursor: pointer; */
/* 	line-height: 1; */
/* 	text-rendering:auto; */
}



.dbs_combobox > .-container > .dbs_input-data > .-button.-disabled {
}