.dbs_pagedSearch > .-container{
	height: 100vh;
    flex-direction: column !important;
}
.dbs_pagedSearch > .-container > .-select_key{
	position: absolute;
	visibility: hidden;
}
.dbs_pagedSearch > .-container > .-select_row{
	position: absolute;
	visibility: hidden;
}
.dbs_pagedSearch > .-container > .-R1 {
	width: 100%;
	height: 38px;
    flex: 0 0 38px !important;
}
.dbs_pagedSearch > .-container > .-R1 > .-input_search {
	position: absolute;
	z-index: 1;
}

.dbs_pagedSearch > .-container > .-R1 > .-input_suggestion {
	opacity: 0.5;
}
.dbs_pagedSearch > .-container > .-R1 > .-input_search,
.dbs_pagedSearch > .-container > .-R1 > .-input_search > .-container > .-th_input-data,
.dbs_pagedSearch > .-container > .-R1 > .-input_suggestion,
.dbs_pagedSearch > .-container > .-R1 > .-input_suggestion > .-container > .-th_input-data {
	width: 100%;
}
		
.dbs_pagedSearch > .-container > .-R2 {
	flex: 1;
	width: 100%;
	overflow:auto;
}
.dbs_pagedSearch > .-container > .-R2 > .-visible_container {
}		

.dbs_pagedSearch_container {
}
.dbs_pagedSearch_container > .-item {
}

.dbs_pagedSearch_container > .-item > .-item_key,
.dbs_pagedSearch_container > .-item > .-item_display_value {
    position: absolute;
	visibility: hidden;
}

.dbs_pagedSearch > .-container > .-R2 > .-invisible_container {
    position: absolute;
	visibility: hidden;
}
.dbs_pagedSearch > .-container > .-R2 > .-invisible_container > .-invisible_list{
}

.dbs_pagedSearch > .-container > .-R2 > .-invisible_container > .-invisible_list > table > tbody > tr > td > .-item {
	height: 0px;
}

.dbs_pagedSearch > .-container > .-R2 > .-showLoading{
	display: block;
}
.dbs_pagedSearch > .-container > .-R2 > .-hideLoading{
	display: none;
}