.dbs_accordion_section-caption{
	z-index: 1;
}

.dbs_accordion {
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	background: transparent;
	overflow:hidden;
}

.dbs_accordion_section {
	position: relative;
	clear: both;
	height: 33.4%;
	text-align: center;
	display: block;
}
.dbs_accordion_section.-closed > div > .dbs_accordion_section-caption {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.dbs_accordion_section > div {
	height: 100%;
	padding-top: 20px; /* Altura do cebeçalho */
}

.dbs_accordion_section-caption {
	padding-top: 3px;
	padding-left: 8px;
	height: 20px; /* Altura do cebeçalho */
	margin-top: -20px; /* Altura do cebeçalho */
	cursor: pointer;
	position: relative;
	-webkit-box-shadow: 0 2px 2px -1px rgb(150, 150, 150);
	-moz-box-shadow: 0 2px 2px -1px rgb(150, 150, 150);
	box-shadow: 0 2px 2px -1px rgb(150, 150, 150);
 	border-color: rgb(255,255,255);
    border-style: solid none none;
    border-width: 1px 0 0;
    	
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y1ZjVmNSIgc3RvcC1vcGFjaXR5PSIwLjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==), url("#{request.contextPath}/images/default_back_texture.png");
	background: -moz-linear-gradient(top,  rgba(140, 140,140,0.1) 0%, rgba(100,100,100,0.1) 100%), url("#{request.contextPath}/images/default_back_texture.png"); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(235,235,235,0.1)), color-stop(100%,rgba(100,100,100,0.1))), url("#{request.contextPath}/images/default_back_texture.png"); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(140, 140,140,0.1) 0%,rgba(100,100,100,0.1) 100%), url("#{request.contextPath}/images/default_back_texture.png"); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(140, 140,140,0.1) 0%,rgba(100,100,100,0.1) 100%), url("#{request.contextPath}/images/default_back_texture.png"); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(140, 140,140,0.1) 0%,rgba(100,100,100,0.1) 100%), url("#{request.contextPath}/images/default_back_texture.png"); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(140, 140,140,0.1) 0%,rgba(100,100,100,0.1) 100%), url("#{request.contextPath}/images/default_back_texture.png"); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1aebebeb', endColorstr='#1ae1e1e1',GradientType=0 ); /* IE6-8 */
	text-align:left;
	width: 100%;
	float: left;
	color: rgb(13, 25, 45);
	font-size: 10px;
	font-weight: bold;
	text-shadow: 1px 1px 1px #FFFFFF;
}

.dbs_accordion_section-caption > .-icon {
	float: left;
	position: relative;
	top: -2px;
	margin-right: 2px;
}

.dbs_accordion_section-caption > .-caption {
	margin-left: 4px;
}

.dbs_accordion_section-container {
	position: relative !important;
	height: 100%;
	color: rgb(13, 25, 45);
	overflow: hidden;
	width: 100%;
	padding: 0px;
}

.dbs_accordion_section-container > .-content,
.dbs_accordion_section-container > .-cover{
	position: absolute;
	height: 100%;
	width: 100%;
	padding: 0px;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

.dbs_accordion_section-container > .-content {
	overflow: auto;
}

.dbs_accordion_section-container > .-cover {
	background: url("#{request.contextPath}/images/vidro.png");
	background-repeat: repeat;
	border-color: rgb(200, 200, 200);
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    cursor: pointer;
    overflow: hidden	
}