.dbs_chart{
}
.dbs_chart > .-container{
	position: relative;
	display: inline-block;
/* 	height: 100%; */
/* 	width: 100%; */
/* 	background: -moz-linear-gradient(top,  rgba(13,25,45,0.01) 0%, rgba(254,254,254,0.01) 100%); FF3.6+ */
/* 	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(13,25,45,0.01)), color-stop(100%,rgba(254,254,254,0.01))); Chrome,Safari4+ */
/* 	background: -webkit-linear-gradient(top,  rgba(13,25,45,0.01) 0%,rgba(254,254,254,0.01) 100%); Chrome10+,Safari5.1+ */
/* 	background: -o-linear-gradient(top,  rgba(13,25,45,0.01) 0%,rgba(254,254,254,0.01) 100%); Opera 11.10+ */
/* 	background: -ms-linear-gradient(top,  rgba(13,25,45,0.01) 0%,rgba(254,254,254,0.01) 100%); IE10+ */
/* 	background: linear-gradient(to bottom,  rgba(13,25,45,0.01) 0%,rgba(254,254,254,0.01) 100%); W3C */
/* 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#080d192d', endColorstr='#03fefefe',GradientType=0 ); IE6-9 */
}

.dbs_chart > .-container > .-caption,
.dbs_chart > .-container > .-data,
.dbs_chart > .-container > .-footer{
	position: relative;
	display: block;
	text-align: center;
}

.dbs_chart > .-container > .-caption{
	background-image: url("#{request.contextPath}/images/default_back_texture.png");
	-webkit-border-radius: 3px 3px 0px 0px;
	-moz-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px;
}

.dbs_chart > .-container > .-data{
}

.dbs_chart > .-container > .-data > .-container{
	position: relative;
	display: inline-block;
}

.dbs_chart > .-container > .-data > .-container > .-content{
}

.dbs_chart > .-container > .-data > .-container > .-content > .-left{
}
	
.dbs_chart > .-container > .-data > .-container > .-content > .-value{
}	

.dbs_chart > .-container > .-data > .-container > .-content > .-value > .-grid {
	stroke: rgb(220,220,220);
	stroke-width: 1px;
}

.dbs_chart > .-container > .-data > .-container > .-content > .-value > .-grid > .-label{
	font-size: 8px;
	fill: rgb(220,220,220);
}

.dbs_chart > .-container > .-data > .-container > .-content > .-value > .-grid > .-line{
}

.dbs_chart > .-container > .-data > .-container > .-content > .-right{
}	

.dbs_chart > .-container > .-footer{
}
