.dbs_charts{
}
.dbs_charts > .-container{
	position: relative;
	display: inline-block;
}

.dbs_charts > .-container > .-caption,
.dbs_charts > .-container > .-data,
.dbs_charts > .-container > .-footer{
	position: relative;
	display: block;
	text-align: center;
}

.dbs_charts > .-container > .-caption{
    width: 100%;	
	background-image: url("#{request.contextPath}/images/back_texture_white.png");
    background-color: rgba(13,25,45,.02);
	-webkit-border-radius: 3px 3px 0px 0px;
	-moz-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px;
    font-weight: bold;
}

.dbs_charts > .-container > .-data{
	font-size: .7em;
}

.dbs_charts > .-container > .-data > .-container{
	position: relative;
	display: inline-block;
	shape-rendering: geometricPrecision;
	overflow: visible;
}

.dbs_charts > .-container > .-data > .-container > .-content{
}

.dbs_charts > .-container > .-data > .-container > .-content > .-left{
}
	
.dbs_charts > .-container > .-data > .-container > .-content > .-value{
}	

.dbs_charts > .-container > .-data > .-container > .-content > .-value > .-grid {
	stroke: rgb(220,220,220);
	stroke-width: 1px;
	shape-rendering: crispEdges;
}
.dbs_charts > .-container > .-data > .-container > .-content > .-value > .-grid > .-label{
	fill: rgb(180, 180, 180);
	stroke-width: 0px;
	text-anchor: end;
	dominant-baseline: middle;
}
.dbs_charts.-dim > .-container > .-data > .-container > .-content > .-value > .-grid > .-label{
	opacity: 0;
}
.dbs_charts.-dim > .-container > .-data > .-container > .-content > .-value > .dbs_chart > .-path > path,
.dbs_charts.-dim > .-container > .-data > .-container > .-content > .-value > .dbs_chart > .dbs_chartValue:not(.-selected){
    -webkit-transition: opacity .5s; 
    -moz-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
    -webkit-transition-delay: .2s;
    -moz-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s;
	opacity: .4;
}
.dbs_charts.-dim > .-container > .-data > .-container > .-content > .-value > .dbs_chart > .dbs_chartValue:not(.-selected) > .-info{
	opacity: 0;
}
.dbs_charts.-dim > .-container > .-data > .-container > .-content > .-value > .dbs_chart > .dbs_chartValue:not(.-selected) > .-info > .-label{
	opacity: 0;
}	

.dbs_charts > .-container > .-data > .-container > .-content > .-right{
}	

.dbs_charts > .-container > .-data > .-container > defs{
}

.dbs_charts > .-container > .-data > .-container > defs > .-guide {
}
.dbs_charts > .-container > .-data > .-container > defs > .-guide > ellipse{
}

.dbs_charts > .-container > .-footer{
}



