.dbs_quickInfo {
	position: relative;
	display: inline-block;
	-webkit-user-select: none;
	line-height: 1;
}
.dbs_quickInfo.-th_action:not(.-disabled) {
    opacity: 1; /*Para resolver um bug que escondia o overflow dentro de um dialog*/
}

.dbs_quickInfo > .-icon {
	position: relative;
	display: inline-block;
	cursor: pointer;
	width: 100%;
    height: 100%;
    top:0;
    left:0;
}

.dbs_quickInfo.-selected > .-icon{
	color: white;
	background-color: transparent;
}
/* Desliga layout padrão do -th_action */
.dbs_quickInfo.-selected.-th_action:not(.-disabled):HOVER,
.dbs_quickInfo.-selected.-th_action:not(.-disabled):ACTIVE,
.dbs_quickInfo.-selected.-th_action:not(.-disabled):FOCUS{
	background: none;
	background-color: transparent !important;
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.dbs_quickInfo > .-icon:before{
    position: relative;
	z-index: 1;
	top:1px;
}
.dbs_quickInfo.-selected > .-icon:after{
	content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    z-index: 0;
    border-style: solid;
    border-radius: 3px;
    background-color: rgb(13,25,45);
    color: rgb(13,25,45);
    border-width: 0px;
    
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

    transform-style: flat;
}

.dbs_quickInfo > .-icon > .-content{
	pointer-events: none;
	opacity:0;
	display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    left:0;
    top:0;
    
    
/* 	position: fixed; */
	/* reset transform translate     */
/*     transform-style: flat; */
/*     -webkit-transform: translateX(0) translateY(0); */
/*     -moz-transform: translateX(0) translateY(0); */
/*     -o-transform: translateX(0) translateY(0); */
/*     transform: translateX(0) translateY(0); */
	/* ================ */
}

.dbs_quickInfo.-selected > .-icon > .-content{
	opacity:1;
}

.dbs_quickInfo > .-icon > .-content > .-tooltip{
}
.dbs_quickInfo > .-icon > .-content > .-tooltip > .-container{
	font-size: 11px;
}
.dbs_quickInfo > .-icon > .-content > .-tooltip > .-container > .-content{
}
.dbs_quickInfo > .-icon > .-content > .-tooltip.-show > .-container > .-content{
	-moz-animation: -kf_dbs_quickinfo .15s linear;
	-o-animation: -kf_dbs_quickinfo .15s linear;
	-webkit-animation: -kf_dbs_quickinfo .15s linear;
	animation: -kf_dbs_quickinfo .15s linear;
}	


.dbs_quickInfo.-selected > .-icon > .-content:after{
    position: absolute;
    content: '';
    display: block;
    width: 0;
    height: 0;
    z-index: 0;
}

/* top bottom */
.dbs_quickInfo.-selected.-l1 > .-icon > .-content,
.dbs_quickInfo.-selected.-l3 > .-icon > .-content{
}
/* top */
.dbs_quickInfo.-selected.-l1 > .-icon > .-content{
    top: 0px;
}
/* bottom */
.dbs_quickInfo.-selected.-l3 > .-icon > .-content{
	bottom: 0px;
}
/* right left */
.dbs_quickInfo.-selected.-l2 > .-icon > .-content,
.dbs_quickInfo.-selected.-l4 > .-icon > .-content{
}
/* right */
.dbs_quickInfo.-selected.-l2 > .-icon > .-content{
	right: 0px;
}
/* left */
.dbs_quickInfo.-selected.-l4 > .-icon > .-content{
	left: 0px;
}

/* top bottom */
.dbs_quickInfo.-selected.-l1 > .-icon > .-content:after,
.dbs_quickInfo.-selected.-l3 > .-icon > .-content:after{
/* 	border-left: 6px solid transparent; */
/*     border-right: 6px solid transparent; */
	border-left: .45em solid transparent;
    border-right: .45em solid transparent;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

/* top */
.dbs_quickInfo.-selected.-l1 > .-icon > .-content:after{
/* 	border-bottom: 8px solid rgb(13,25,45); */
	border-bottom: 0.6em solid rgb(13,25,45);
    top: -50%;
}
/* bottom */
.dbs_quickInfo.-selected.-l3 > .-icon > .-content:after{
/* 	border-top: 8px solid rgb(13,25,45); */
	border-top: 0.6em solid rgb(13,25,45);
    bottom:-50%;
}
/* right left */
.dbs_quickInfo.-selected.-l2 > .-icon > .-content:after,
.dbs_quickInfo.-selected.-l4 > .-icon > .-content:after{
	border-top: 0.45em solid transparent;
    border-bottom: 0.45em solid transparent;
/* 	border-top: 6px solid transparent; */
/*  border-bottom: 6px solid transparent; */
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
/* right */
.dbs_quickInfo.-selected.-l2 > .-icon > .-content:after{
/*     border-left: 8px solid rgb(13,25,45); */
	border-left: .6em solid rgb(13,25,45);
	right: -50%;
}
/* left */
.dbs_quickInfo.-selected.-l4 > .-icon > .-content:after{
/*     border-right: 8px solid rgb(13,25,45); */
    border-right: .6em solid rgb(13,25,45);
    left: -50%;
}

.dbs_quickInfo > .-icon > .-content > .-tooltip > .-container > .-content{
	text-align: left;
}
.dbs_quickInfo > .-icon > .-content > .-tooltip > .-container:before{
    border: none;
}
.dbs_quickInfo.-l1 > .-icon > .-content > .-tooltip > .-container,
.dbs_quickInfo.-l3 > .-icon > .-content > .-tooltip > .-container{
}

.dbs_quickInfo.-l1 > .-icon > .-content > .-tooltip > .-container{
}

.dbs_quickInfo.-l3 > .-icon > .-content > .-tooltip > .-container{
}

.dbs_quickInfo.-l2 > .-icon > .-content > .-tooltip > .-container,
.dbs_quickInfo.-l4 > .-icon > .-content > .-tooltip > .-container{
}

.dbs_quickInfo.-l2 > .-icon > .-content > .-tooltip > .-container{
}

.dbs_quickInfo.-l4 > .-icon > .-content > .-tooltip > .-container{
}


.-a_dbs_quickinfo{
	-moz-animation: -kf_dbs_quickinfo .1s linear;
	-o-animation: -kf_dbs_quickinfo .1s linear;
	-webkit-animation: -kf_dbs_quickinfo .1s linear;
	animation: -kf_dbs_quickinfo .1s linear;
}

/* single pulse			 */
@-moz-keyframes -kf_dbs_quickinfo {
  0% {-moz-transform: scale(0.1); opacity:0;}
  80% {-moz-transform: scale(1.1);}
  100% {-moz-transform: scale(1);opacity:1;}
}
@-webkit-keyframes -kf_dbs_quickinfo {
  0% {-webkit-transform: scale(0.1);opacity:0;}
  80% {-webkit-transform: scale(1.1);}
  100% {-webkit-transform: scale(1);opacity:1;}
}
@-o-keyframes -kf_dbs_quickinfo {
  0% {-o-transform: scale(0.1);opacity:0;}
  80% {-o-transform: scale(1.1);}
  100% {-o-transform: scale(1);opacity:1;}
}
@-ms-keyframes -kf_dbs_quickinfo {
  0% {-ms-transform: scale(0.1);opacity:0;}
  80% {-ms-transform: scale(1.1);}
  100% {-ms-transform: scale(1);opacity:1;}
}
@keyframes -kf_dbs_quickinfo {
  0% {transform: scale(0.1);opacity:0;}
  80% {transform: scale(1.1);}
  100% {transform: scale(1);opacity:1;}
}
