.dbs_chartValue{
}



.dbs_chartValue > .-extrainfo > .-content{
	display: none; 
	position: absolute;
	background-image: url("#{request.contextPath}/images/default_back_texture.png");
	background-color: rgba(13, 25, 45, 0.9);
	color: white;
	background-repeat: repeat;
    border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;    
    padding: 2px 4px 1px 2px;
    font-size: 8px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.6);
   	-webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.6);
    z-index: 1;	
}

.dbs_chartValue:hover > .-extrainfo > .-content{
	display: inline-block;
}

.dbs_chartValue:hover{
	stroke: rgb(13,25,45);
	stroke-width: 1px;
}


.dbs_chartValue .dbs_input {
	font-size: 8px;
}

.dbs_chartValue .dbs_input-data{
	min-height: 13px;
}
