.dbs_chartValue{
	cursor:pointer;
	stroke-width: 0px;
	font-size: 8px;
	fill: rgb(180,180,180);
}
.dbs_chartValue > ellipse{
}


.dbs_chartValue > rect{
	shape-rendering: crispEdges;
}

.dbs_chartValue > .-label{
}

.dbs_chartValue > .-label.-hide{
	display: none;
}


.dbs_chartValue > .-extrainfo > span{
	display: none; 
	position: absolute;
	background-image: url("#{request.contextPath}/images/back_texture_white.svg");
	background-color: rgb(210, 210, 210);
	color: white;
	background-repeat: repeat;
    border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;    
    padding: 0px 3px 0px 3px;
    font-size: 8px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.6);
   	-webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.6);
    z-index: 1;	
    color: rgb(13,25,45);
}

.dbs_chartValue:hover{
	stroke: rgb(13,25,45);
	stroke-width: 1px;
}

.dbs_chartValue:hover > ellipse{
	fill:white;	
}

.dbs_chartValue > .-label{
	stroke-width: 0px !important;
}


.dbs_chartValue .dbs_input {
	font-size: 8px;
}

.dbs_chartValue .dbs_input-data{
	min-height: 13px;
}
