.dbs_quickInfo {
	position: relative;
	display: inline-block;
}

.dbs_quickInfo > .-container {
	position: relative;
	display: inline-block;
}

.dbs_quickInfo > .-container > .-content {
	display: none; 
	position: absolute;
	background-image: url("#{request.contextPath}/images/default_back_texture.png");
	background-color: rgba(13, 25, 45, 0.9);
	color: white;
	background-repeat: repeat;
    border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;    
    padding: 3px 5px 2px 6px;
    left: 16px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
   	-webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.dbs_quickInfo > .-container:hover > .-content{
	display: inline-block;
}

