.dbs_quickInfo {
	position: relative;
	display: inline-block;
}

.dbs_quickInfo > .-container {
	position: relative;
	display: inline-block;
}

.dbs_quickInfo > .-container > .-content {
	position: fixed;
	left: inherit;
	margin-left: 16px;	
	
/* 	position: absolute; Comentado e substituido por código acima par permitir que tela ultrapasse os limites da borda do pai */
/*     left: 16px; */
	display: none; 
	background-image: url("#{request.contextPath}/images/back_texture_black_transparent.png");
	background-color: rgba(13, 25, 45, 0.8);
	color: white;
	background-repeat: repeat;
    border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;    
    padding: 3px 5px 2px 6px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
   	-webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
    z-index: 1;
}


