
.dbs_button{
	color: inherit;
	font-size: inherit;
	border:none;
	background:none;
	-webkit-border-radius:2px;  
	-moz-border-radius:2px; 
	border-radius:2px;
	margin: 0px;
	padding: 0px 1px !important;
	border-width: 0px !important;
	border-style:none !important;
	-moz-box-sizing: border-box !important;
	-webkit-box-sizing: border-box !important; 
	box-sizing: border-box !important;
/* 	text-shadow:1px 1px 1px rgba(50, 50, 50, 0.5);  */
	text-shadow: none;
}

.dbs_button.-on{
	background-color: rgba(130, 220, 255,0.8) !important;
/* 	-webkit-box-shadow:0px 0px 4px 2px #68B7FF inset;  */
/* 	-moz-box-shadow:0px 0px 4px 2px #68B7FF inset;  */
/* 	box-shadow:0px 0px 4px 2px #68B7FF inset;  */
}

.dbs_button.-disabled {
	cursor: default;
	opacity: 0.9;
}

.dbs_button > table{
	position: relative; /* Incluido em 05/06/2014*/
	display:block; /*Desabilitado em 06/02/2013 para centralizar no IE9 */
				   /*Reabilitado pois, aparentemente, problema foi resolvido 05/06/2014 */
	xdisplay:inline-block; /*Desabilitado em 20/11/2012 para excluir o espaço que existia na parte de baixo do botão*/
	color: inherit;
	margin: 0px;
	padding: 0px;
	line-height: 0px;
	font-size: inherit;
	text-align: center;
}

.dbs_button > table > tbody {
	display: inline-block;
	margin: 0px;
	padding: 0px;
	line-height: 0px;
	font-size: inherit;
}
.dbs_button > table > tbody > tr {
	display:inline-block;
	margin: 0px !important;
	padding: 0px !important;
	line-height: 0px !important;
	font-size: inherit;
}

.dbs_button > table > tbody > tr > td {
	display:inline-block;
	margin: 0px !important;
	padding: 0px !important;
	font-size: inherit;
}


.dbs_button > table > tbody > tr > td > .-label,
.dbs_button > table > tbody > tr > td > .-icon {
	display: block;
}

.dbs_button > table > tbody > tr > td > .-label {
	margin: -1px 0 0;
	padding: 0 1px 1px 0;
	line-height: normal;
	font-size: inherit;
}
.dbs_button > table > tbody > tr > td > .-icon {
	padding: 0px !important;
	margin: 0px !important;
}

.dbs_button:not(.-disabled):ACTIVE, 
button.dbs_menuitem:not(.-disabled):ACTIVE{
	background-color: rgba(255, 255, 255, 0.2) !important;
	-webkit-box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.2), -1px -1px 0 0 rgba(255, 255, 255, 0.4) !important;
	-moz-box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.2), -1px -1px 0 0 rgba(255, 255, 255, 0.4) !important;
	box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.2), -1px -1px 0 0 rgba(255, 255, 255, 0.4) !important;
	
/* 	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6), 0px 0px 1px rgba(100, 180, 255, 1) !important; */
	text-shadow: none;
}


.dbs_button:not(.-disabled):HOVER, 
.dbs_button:not(.-disabled):FOCUS, 
button.dbs_menuitem:not(.-disabled):HOVER, 
button.dbs_menuitem:not(.-disabled):FOCUS{
	text-decoration: none !important;
/* 	-webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.4), -1px -1px 0px 0px rgba(255, 255, 255, 0.4); */
	background-color: rgba(155, 155, 155, 0.15);
	-webkit-box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.2), -1px -1px 0px 0px rgba(255, 255, 255, 0.3);
	-moz-box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.2), -1px -1px 0px 0px rgba(255, 255, 255, 0.3);
	box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.2), -1px -1px 0px 0px rgba(255, 255, 255, 0.3);

/* 	color:white; */
/* 	background: rgb(8,114,201); Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */ 
/* 	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iIzA4NzJjOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZTU3OTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); */
/* 	background: -moz-linear-gradient(top, rgba(8,114,201,1) 1%, rgba(30,87,153,1) 100%); FF3.6+ */
/* 	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(8,114,201,1)), color-stop(100%,rgba(30,87,153,1))); Chrome,Safari4+ */
/* 	background: -webkit-linear-gradient(top, rgba(8,114,201,1) 1%,rgba(30,87,153,1) 100%); Chrome10+,Safari5.1+ */
/* 	background: -o-linear-gradient(top, rgba(8,114,201,1) 1%,rgba(30,87,153,1) 100%); Opera 11.10+ */
/* 	background: -ms-linear-gradient(top, rgba(8,114,201,1) 1%,rgba(30,87,153,1) 100%); IE10+ */
/* 	background: linear-gradient(top, rgba(8,114,201,1) 1%,rgba(30,87,153,1) 100%); W3C */
/* 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0872c9', endColorstr='#1e5799',GradientType=0 ); IE6-8			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#207cca',GradientType=0 ); IE6-9 */

	
/* 	-webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.4), 0 0 0px 1px rgba(100, 180, 255, 1); */
/* 	-moz-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.4), 0 0 0px 1px rgba(100, 180, 255, 1); */
/* 	box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.4), 0 0 0px 1px rgba(100, 180, 255, 1); */

}

button.dbs_button:INACTIVE, 
button.dbs_menuitem:INACTIVE,
li.dbs_menuitem:INACTIVE {
	color:#333333;
}

