.dbs_chartValueX{
}

.dbs_chartValueX > .-point{
	cursor: pointer;
}

.dbs_chartValueX.-pie{
	pointer-events: painted;
    fill: currentColor;
}

.dbs_chartValueX.-pie > .-point{
}    
.dbs_chartValueX.-pie > .-pointLink{
	visibility: hidden;
}    
.dbs_chartValueX.-pie.-hover > .-pointLink{
	visibility: visible;
}    

.dbs_chartValueX.-pie > .-info{
    pointer-events: bounding-box;
}

/* .dbs_chartValueX.-pie > .-info.-left{ */
/*     text-anchor: end; */
/* } */
/* .dbs_chartValueX.-pie > .-info.-right{ */
/*     text-anchor: start; */
/* } */

.dbs_chartValueX.-pie > .-info > .-values{
	font-size: .6em;
    text-anchor: start;
}

/* .dbs_chartValueX.-pie > .-info > .-values{ */
.dbs_chartValueX.-pie{
/* 	-webkit-transition: transform linear .1s; */
/* 	-moz-transition: transform linear .1s; */
/* 	-o-transition: transform linear .1s; */
/* 	transition:  transform linear .1s; */
/* 	-webkit-transform: scale(1); */
/* 	-moz-transform: scale(1); */
/* 	-o-transform: scale(1); */
/* 	transform: scale(1); */
}
    
/* .dbs_chartValueX.-pie.-hover > .-info > .-values{ */
.dbs_chartValueX.-pie.-hover{
/* 	-webkit-transform: scale(1.2); */
/* 	-moz-transform: scale(1.2); */
/* 	-o-transform: scale(1.2); */
/* 	transform: scale(1.2); */
}
.dbs_chartValueX.-pie > .-info > .-values.-invert{
	text-anchor: end;
}

.dbs_chartValueX.-pie > .-info > .-values > .-label{
    dominant-baseline: middle;
/* 	font-weight: bold; */
}
.dbs_chartValueX.-pie > .-info > .-values > .-value{
	display: none;
}
.dbs_chartValueX.-pie > .-info > .-values > .-perc{
	display: none;
}
.dbs_chartValueX.-pie > .-info > .-values > .-perc > .-int{
}
.dbs_chartValueX.-pie > .-info > .-values > .-perc > .-dec{
	font-size:0.7em;
}


.dbs_chartValueX.-pie > .-info > .-values > .-percBox{
	fill: currentColor;
	display: none;
}

.dbs_chartValueX.-line > .-point{
	stroke-width: .1em;
    stroke: currentColor;
    fill: white;
}

.dbs_chartValueX.-line > .-info{
/* 	display:none; */
}
.dbs_chartValueX.-line > .-point,
.dbs_chartValueX.-line > .-info > .-path,
.dbs_chartValueX.-line > .-info > .-labelBox,
.dbs_chartValueX.-line > .-info > .-valueBox,
.dbs_chartValueX.-line > .-info > .-label,
.dbs_chartValueX.-line > .-info > .-value{
	visibility: hidden;
}

.dbs_chartValueX.-line > .-info > .-label{
    font-size: 0.8em;
    color: currentColor;
}
.dbs_chartValueX.-line > .-info > .-value{
	font-size: 0.8em;
    dominant-baseline: middle;
	text-anchor: end;
	color: currentColor;
}
.dbs_chartValueX.-line > .-info > .-path{
	stroke: currentColor;
    fill: none;
    stroke-dasharray: .1em;
	opacity: 0.3;
}

.dbs_chartValueX.-line > .-info > .-labelBox{
    stroke: none;
    fill: gray;
}
.dbs_chartValueX.-line > .-info > .-valueBox{
    stroke: none;
    fill: gray;
}

.dbs_chartX.-line.-showDelta > .-chart > .-values > .dbs_chartValueX{
	pointer-events: none;
}

.dbs_chartX.-line:not(.-showLabel) > .-chart > .-values > .dbs_chartValueX > .-info > .-label,
.dbs_chartX.-line:not(.-showLabel) > .-chart > .-values > .dbs_chartValueX > .-info > .-labelBox{
	display:none;
}

.dbs_chartX.-line:not(.-showValue) > .-chart > .-values > .dbs_chartValueX > .-info > .-value,
.dbs_chartX.-line:not(.-showValue) > .-chart > .-values > .dbs_chartValueX > .-info > .-valueBox{
	display:none;
}

.dbs_chartX.-line > .-chart > .-values > .dbs_chartValueX.-line.-showLabel > .-info > .-label,
.dbs_chartX.-line > .-chart > .-values > .dbs_chartValueX.-line.-showValue > .-info > .-value{
	visibility: visible;
}
.dbs_chartX.-line.-selected > .-chart > .-values > .dbs_chartValueX.-line.-showLabel.-hide > .-info > .-label,
.dbs_chartX.-line.-selected > .-chart > .-values > .dbs_chartValueX.-line.-showValue.-hide > .-info > .-value{
	visibility: hidden;
}

.dbs_chartX.-line.-selected > .-chart > .-values > .dbs_chartValueX.-line.-hover > .-point,
.dbs_chartX.-line.-selected > .-chart > .-values > .dbs_chartValueX.-line.-hover > .-info > .-path,
.dbs_chartX.-line.-selected > .-chart > .-values > .dbs_chartValueX.-line.-hover > .-info > .-labelBox,
.dbs_chartX.-line.-selected > .-chart > .-values > .dbs_chartValueX.-line.-hover > .-info > .-valueBox,
.dbs_chartX.-line.-selected > .-chart > .-values > .dbs_chartValueX.-line.-hover > .-info > .-label,
.dbs_chartX.-line.-selected > .-chart > .-values > .dbs_chartValueX.-line.-hover > .-info > .-value{
	visibility: visible;
}
