.dbs_inputText{
}

			
.dbs_inputText > .dbs_input-label {
}

.dbs_inputText > .-input {
	display: inline-block;
	position: relative;
}

.dbs_inputText > .-input > .dbs_input-suggestion-key,
.dbs_inputText > .-input > .dbs_input-submit{
	display:none;
}

.dbs_inputText > .-input > .dbs_input-suggestion{
	position: absolute;
	color: rgb(0, 180, 255);	
	border-color: transparent;
} 

.dbs_inputText > .-input > .dbs_input-suggestion.dbs_input-data-FOCUS{
	box-shadow: none !important;
}

.dbs_inputText > .-input > .dbs_input-data{
	position: relative;
}

.dbs_inputText > .-input > .dbs_input-data:Focus{
	background-color: transparent;
}

.dbs_inputText	> .-input > .-list{
	background-color: transparent;
	position: absolute;
	width: 100%;
	left:0px;
	top:18px;
	z-index: 2;
}

.dbs_inputText	> .-input > .-list > .dbs_dataTable{
	width: 100%;
}

.dbs_inputText	> .-input > .-is_pesquisar{
	position: absolute;
	opacity: 0.3;
	top: 4px;
	z-index: 1;
	right: 4px;
}

.dbs_inputText	> .-input > .-list > .dbs_dataTable > .-container{
	xwidth: 100%;
	xdisplay: block; /* Comentado pois limitava a largura da lista */
	display: inline-block;
	width: auto;
	background: rgb(255,255,255); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkY2RjZGMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(220,220,220,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(220,220,220,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(220,220,220,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(220,220,220,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(220,220,220,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(220,220,220,1) 100%); /* W3C */
	-webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
}

.dbs_inputText	> .-input > .-list > .dbs_dataTable > .-container > .-content{}

.dbs_inputText	> .-input > .-list > .dbs_dataTable > .-container > .-content > table{
/* 	margin-bottom: 0 !important; */
/* 	padding-bottom: 0 !important; */
}

.dbs_inputText	> .-input > .-list > .dbs_dataTable > .-container > .-content > table > tbody{
	max-height: 97px;
	overflow-style: marquee;
}

.dbs_inputText	> .-input > .-list > .dbs_dataTable > .-container > .-content > table > tbody,
.dbs_inputText	> .-input > .-list > .dbs_dataTable > .-container > .-content > table > thead{
	width: inherit;
	xmargin-right: 15px;
	display:block;
}

.dbs_inputText	> .-input > .-list > .dbs_dataTable > .-container > .-content > table > * > tr > .-C1{
	text-align: left;
	white-space: nowrap;
}

	
