.dbs_dialog{}

.dbs_dialog {
	background-color: rgba(0, 0, 0, 0.05);
	background-image: url("#{request.contextPath}/images/vidro.png");
	background-repeat: repeat;
/* 	xposition:absolute; Comentado em 12/3/2013 pois dialog dentro de dialog era limitado pelo tamanho do anterior  */
/* 	xposition: fixed; 24/03/2013 - comentado pois considerava o offsetparent como body, desabilitando todos os inputs. Quando deveria desabilitar somente os dentro do mask. */
	position: absolute;
	display: block;
	top:0;
	left:0;
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
	font-weight: normal;
	z-index: 3;
}

.dbs_dialog > div {
	opacity:0;
   	-webkit-box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.6);
	box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.6);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius:3px;
	position: absolute;
/* 	xoverflow: hidden; 24/04/2013 - desabilitado por cortava o dialog quando fosse superior ao dialog anterior */
	overflow: visible;
/* 	xposition: fixed; 24/04/2013 - desabilitado por cortava o dialog quando fosse superior ao dialog anterior */
/* 	border-width: 1px; 28/04/2014 - desabilitado por Ricardo */ 
/* 	border-color: rgb(130,130,130); 28/04/2014 - desabilitado por Ricardo */
/* 	border-style: solid; 28/04/2014 - desabilitado por Ricardo */
 }

.dbs_dialog > div > .-caption{
/* 	background-color: rgba(255,255,255,.1); */ /*26-05-2015*/
/* 	background-image: url("#{request.contextPath}/images/back_texture_white.svg"); *//*26-05-2015*/
/* 	background-repeat: repeat; *//*26-05-2015*/
	height: 21px;
	position: relative;
	top:0;
	width: 100%;
	overflow: hidden;
	border-width: 0px;
	-moz-border-radius: 3px 3px 0px 0px;
	-webkit-border-radius: 3px 3px 0px 0px;
	border-radius:3px 3px 0px 0px;
	z-index: 1;
	cursor: move;
}

.dbs_dialog > div > .-caption > .-label{
	position: relative;
	height: 100%;
	padding-left: 5px;
	color:white;
/* 	text-shadow: 1px 1px 0px #000000; */ /*26-05-2015*/
	text-align: center;
}

.dbs_dialog > div > .-caption > .-label > span {
	vertical-align: middle;
}

.dbs_dialog > div > .-caption > .-iconclose{
	position: absolute;
	top:0;
	right:0;
	width: 20px;
	height: 100%;
	float:right;
}


.dbs_dialog > div > .-caption > .-iconclose > div{
	border-width: 1px;
	border-style: solid;
	border-color: rgba(100,100,100,0.5);
    left: 50%;
    margin-left: -6px;
    margin-top: -6px;
    position: absolute;
    top: 50%;
}

.dbs_dialog > div > .-caption > .-iconclose > span > div:HOVER{
    background-position: -33px -0px;
}

.dbs_dialog > div > .-content.-message{}

.dbs_dialog > div > .-toolbar > ul > li.-icon > span{
	position: relative;
	left:1px;
	top:0px;	
}



.dbs_dialog > div > .-content{
	display: block;
	height: 100%;
/* 	overflow: auto; comentado em 24/07/2013 por inibir a exibição de componentes maiores comos os inputAtivos*/
	overflow: visible;
	padding: 5px 6px 6px 6px;
	-moz-border-radius: 0px 0px 3px 3px;
	-webkit-border-radius: 0px 0px 3px 3px;
	border-radius:0px 0px 3px 3px;
}

/* Incluido em 05/fev/14 para padronizar as telas dialog simples */
.dbs_dialog > div > .-content.dbs_back_gradient_white{ 
	color:rgb(13,25,45);
}

.dbs_dialog > div > .-content .dbs_input:not(td),
.dbs_dialog > div > .-content .dbs_group{ /* exblui td para evitar a margem nos input type=radio */
	margin-bottom: 2px;	
}

.dbs_dialog > div > .-toolbar{
	background-image: url("#{request.contextPath}/images/back_texture_white.svg");
	background-repeat: repeat;
	height: 22px;
	background-color: rgba(240,240,240,1);
	position: relative;
	width: 100%;
	overflow: hidden;
	text-align: right;
	border-color: rgba(20,20,20,0.1);
	border-style: solid;
	border-width: 0 0 1px;
	line-height: 0px;
}

.dbs_dialog > div > .-toolbar > ul{
	text-align: left;
	display: block;
	margin:0px;
    padding: 2px 4px 1px 2px;
	border-width: 0px;
/* 	-moz-border-radius: 0px 0px 3px 3px; */ /*Todo Excluir */
/*   	-webkit-border-radius: 0px 0px 3px 3px; */ /*Todo Excluir */
/* 	border-radius:0px 0px 3px 3px; */ /*Todo Excluir */
	display: inline-block;
    height: 22px;	
}

.dbs_dialog > div > .-toolbar > ul > li{
	display:inline-block;
}

.dbs_dialog > div > .-toolbar > ul > li.-icon{
	position: absolute;
	height: 21px;
	width: 24px;
	background-color: rgba(13, 25, 45, 1);
	color: white;
	left: 0;
	top: 0;
	padding: 3px;
}

.dbs_dialog-confirmation{
	height: 100%;
	margin-bottom:-23px;
	padding-bottom:23px;
	display:block;
	position:relative;
}


.dbs_dialog-confirmation > .-content{
	height: 100%;
	padding-bottom: 5px;
	display: table;
}

.dbs_dialog-confirmation > .-content > div{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	max-width: 42px; /*Para limitar a largura e obrigar a exibição do scrollbar. Curiosamente este valor não impede que a largura seja maior*/
	overflow: auto; /*Para ofrçar a exibição do scrollbar*/ 
}
	
.dbs_dialog-confirmation > .-content > .-icon{
	padding: 2px;
	opacity:0.9;
}		

.dbs_dialog-confirmation > .-content > .-label{
	width: 100%
}


.dbs_dialog-confirmation > .-button{
	padding: 2px;
	text-align: right;
}

.dbs_dialog-confirmation > .-button > button{
	height: 21px;
	margin-left: 21px;
}
			