.dbs_progress{}

.dbs_progress > .-container{
	display: inline-block;
	position: relative;
	z-index: 0;	
}

.dbs_progress > .-container > .-content,
.dbs_progress > .-container > .-content > .-value{
	-webkit-border-radius:8px;  
	-moz-border-radius:8px; 
	border-radius:8px;	
}

.dbs_progress > .-container > .-content{
	position: relative;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjA1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4wNSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+), url("#{request.contextPath}/images/back_texture_white.png");
	background: -moz-linear-gradient(top,  rgba(255,255,255,0.05) 0%, rgba(255,255,255,0.05) 100%), url("#{request.contextPath}/images/back_texture_white.png"); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.05)), color-stop(100%,rgba(255,255,255,0.05))), url("#{request.contextPath}/images/back_texture_white.png"); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0.05) 0%,rgba(255,255,255,0.05) 100%), url("#{request.contextPath}/images/back_texture_white.png"); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0.05) 0%,rgba(255,255,255,0.05) 100%), url("#{request.contextPath}/images/back_texture_white.png"); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0.05) 0%,rgba(255,255,255,0.05) 100%), url("#{request.contextPath}/images/back_texture_white.png"); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0.05) 0%,rgba(255,255,255,0.05) 100%), url("#{request.contextPath}/images/back_texture_white.png"); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0dffffff', endColorstr='#0dffffff',GradientType=0 ), url("#{request.contextPath}/images/back_texture_white.png"); /* IE6-8 */
	
/* 	background-image: url("#{request.contextPath}/images/back_texture_white.png"); */
	display: inline-block;
	border-color: rgba(13, 25, 45, 0.1);
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    min-width: 18px;
}

.dbs_progress > .-container > .-content > .-value{
	height: 14px;
	position: relative;
	z-index: 0;
/* 	z-index: -1; Comentado em 20/mai/2015 Ricardo */
	background-color: rgba(0, 50,255, 0.8);
}

.dbs_progress > .-container > .-content > .-label{
    position: absolute;
    top: 50%;
	margin-top: -4px;
	line-height: 7px;
    font-size: 6px;
    text-align: center;
    width: 100%;
    left: 0px;
}

.dbs_progress > .-container > .-content > .-label.-black{
	color: rgb(13, 25, 45);
}
.dbs_progress > .-container > .-content > .-label.-white{
	color: rgb(250, 250, 250);
}

.dbs_progress > .-container > .-content > .-label.-green{
	color: rgb(0, 250, 0);
	font-weight: bold;
}

.dbs_progress > .-container > .-content > .-loading{
    position:absolute;
	right: 3px;
    z-index: 2; /*-2*/
    opacity:0.40;
	left: initial;
}
