.dbs_tabPage[type="acc"]{
/* 	opacity: 0; */
	position: absolute !important;
	overflow: auto;
	width:100%;
	height: 100%;
}

.dbs_tabPage[type="acc"].-selected{
/* 	opacity: 1; */
	position:relative !important;
}
.dbs_tabPage[type="acc"].-hide{
	display: none;
}

.dbs_tabPage[type="tab"]{
	opacity: 0;
	position: absolute !important;
	overflow: auto;
	width:100%;
	height: 100%;
}

.dbs_tabPage[type="tab"].-selected{
	opacity: 1;
	position:relative !important;
}

