.dbs_inputNumber{
}

.dbs_inputNumber > .-container{
	position: relative;
}

.dbs_inputNumber > .-container > .-input{
	display: inline-block;
	position: relative;
}
.dbs_inputNumber > .-container > .-input > .-buttons{
    overflow: hidden;
    position: absolute;
    height: 1.8em;
    width: 100%;
    z-index: 1;
    display: block;
	font-family: monospace;
}

.dbs_inputNumber > .-container > .-input:not(.-selected) > .-buttons{
	pointer-events: none;
}
.dbs_inputNumber > .-container > .-input:.-selected > .-buttons{
	pointer-events: all;
}

.dbs_inputNumber > .-container > .-input.-selected > .-buttons{

}

.dbs_inputNumber > .-container > .-input > .-buttons .-th_action{
}
.dbs_inputNumber > .-container > .-input > .-buttons .-th_action:active{
	transition: transform .1s;
	transform: scale(1.4);	
}

.dbs_inputNumber > .-container > .-input > .-buttons > .-container{
    position: absolute;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
	transform: translateY(-2em);
    transition: transform .2s;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    flex-wrap: nowrap;
	padding: 0 0.2em;
}   

.dbs_inputNumber > .-container > .-input.-selected > .-buttons > .-container{
	transform: translateY(0);
}

.dbs_inputNumber > .-container > .-input > .-buttons > .-container:before{
    content: "";
    background-color: currentColor;
    border-radius: .3em;
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.dbs_inputNumber > .-container > .-input > .-buttons > .-container > .-th_action{
	-webkit-flex-basis: .5em;
	-moz-flex-basis: .5em;
	flex-basis: .5em;
	text-align: center;
	height: 1em;
    padding: 0.3em;
}


.dbs_inputNumber > .-container > .-input > .-buttons > .-container > .-th_action:before{
    position: absolute;
    height: 1em;
    width: 100%;
    top: calc(50% - .5em);
    left: calc(50% - .5em);
}
    

.dbs_inputNumber > .-container > .-input > .-buttons > .-container > [class*=" -i_"]{
	font-size: unset !important;
}   

.dbs_inputNumber > .-container > .-input > .-buttons > .-container > [class*=" -i_"]:before{
    left: 0px;
}


.dbs_inputNumber > .-container > .-input > .-buttons > .-container > .-up:before{
	transform: rotate(-90deg);
}

.dbs_inputNumber > .-container > .-input > .-buttons > .-container > .-down:before{
	transform: rotate(90deg);
}

/* .dbs_inputNumber > .-container > .-input > .-buttons > .-container > .-delete:before{ */
/* } */

/* .dbs_inputNumber > .-container > .-input > .-buttons > .-container > .-close:before{ */
/* } */

/* .dbs_inputNumber > .-container > .-input > .-buttons > .-container > .-up:before{ */
/* 	content: "+"; */
/* } */

/* .dbs_inputNumber > .-container > .-input > .-buttons > .-container > .-down:before{ */
/* 	content: "-"; */
/* } */
/* .dbs_inputNumber > .-container > .-input > .-buttons > .-container > .-op_mm:before{ */
/* 	content: "M"; */
/* 	text-decoration: overline; */
/* }    */
/* .dbs_inputNumber > .-container > .-input > .-buttons > .-container > .-op_cm:before{ */
/* 	content: "C"; */
/* 	text-decoration: overline; */
/* }    */
/* .dbs_inputNumber > .-container > .-input > .-buttons > .-container > .-op_xm:before{ */
/* 	content: "X"; */
/* 	text-decoration: overline; */
/* }    */
/* .dbs_inputNumber > .-container > .-input > .-buttons > .-container > .-op_m:before{ */
/* 	content: "M"; */
/* }    */
/* .dbs_inputNumber > .-container > .-input > .-buttons > .-container > .-op_c:before{ */
/* 	content: "C"; */
/* }    */
/* .dbs_inputNumber > .-container > .-input > .-buttons > .-container > .-op_x:before{ */
/* 	content: "X"; */
/* }    */
