.dbs_tab {}

.dbs_tab > .-container{
	position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-flex-flow: column nowrap;
    -moz-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-transition: opacity .1s linear;
    -moz-transition: opacity .1s linear;
    -o-transition: opacity .1s linear;
    transition: opacity .1s linear;
    opacity: 1;
    
	box-sizing: border-box;
    
	border-radius: .3em .3em 0 0;
	border-width: 1px;
	border-style: solid;
	    
	border-bottom-color: rgba(50,50,50,0.4);
	border-right-color: rgba(50,50,50,0.4);
	border-top-color: rgba(200,200,200,0.4);
	border-left-color: rgba(200,200,200,.4);
	
}

.dbs_tab > .-container.-hide{
	opacity: 0;
}


.dbs_tab > .-container > .-captions{
    -webkit-flex: 0 1 1em;
    -moz-flex: 0 1 1em;
    flex: 0 1 1em;
	line-height: normal;
}

.dbs_tab.-l > .-container > .-captions{
    -webkit-align-self: flex-start;
    -moz-align-self: flex-start;
    align-self: flex-start;
}
.dbs_tab.-r > .-container > .-captions{
    -webkit-align-self: flex-end;
    -moz-align-self: flex-end;
    align-self: flex-end;
}
.dbs_tab.-c > .-container > .-captions{
    -webkit-align-self: center;
    -moz-align-self: center;
    align-self: center;
}
.dbs_tab.-e > .-container > .-captions{
    -webkit-align-self: stretch;
    -moz-align-self: stretch;
    align-self: stretch;
}
.dbs_tab.-a > .-container > .-captions{
    -webkit-align-self: stretch;
    -moz-align-self: stretch;
    align-self: stretch;
}

.dbs_tab > .-container > .-captions > .-container > .-caption{
    flex: 1 1 auto;
}

.dbs_tab.-e > .-container > .-captions > .-container > .-caption{
    flex: 1 1 1em;
}
    
    

.dbs_tab > .-container > .-captions > .-container{
    -webki-flex-flow: row nowrap;
    -moz-flex-flow: row nowrap;
    flex-flow: row nowrap;
	height: 2em;
}

.dbs_tab > .-container > .-captions > .-container > .-caption{
    text-align: center;
    cursor: pointer;
    -webkit-flex: 1 1 auto;
    -moz-flex: 1 1 auto;
    flex: 1 1 auto;
/* 	border-width: 1px 1px 1px 0; */
/*     border-style: solid; */
    border-width: 0;
    border-radius: none;
	padding: 0.1em .7em;
	-webkit-transition: background .2s linear;
	-moz-transition: background .2s linear;
	transition: background .2s linear;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.dbs_tab:not(.-selected):not([disabled]) > .-container > .-captions > .-container > .-caption > a:ACTIVE:after{
	content: " ";
	box-sizing: border-box;
	position: absolute;
	display: inline-block;
/* 	top: 0; */
/* 	left: 0; */
	width: 1.2em;
	height: 1.2em;
	
	left: calc(50% - .6em);
    top: calc(50% - .6em);
    
/* 	opacity: 0.5; */
	border: 1px solid;
	border-radius: 100%;
	-webkit-animation-name: -kf_sonar;
	-moz-animation-name: -kf_sonar;
	animation-name: -kf_sonar;

	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	animation-fill-mode: both;

	animation-timing-function: cubic-bezier(.075,.82,.165,1);
	-moz-animation-timing-function: cubic-bezier(.075,.82,.165,1);
	-webkit-animation-timing-function: cubic-bezier(.075,.82,.165,1);

	-webkit-animation-duration: .2s;
	-moz-animation-duration: .2s;
	animation-duration: .2s;

	box-sizing: border-box;
	pointer-events: none;
}

/* .dbs_tab > .-container > .-captions > .-container > .-caption.-selected:before{ */
/*     content: ""; */
/*     position: absolute; */
/*     border-top: .15em solid currentColor !important; */
/*     border-radius: 0 0 0 0; */
/*     width: 100%; */
/*     top: 0; */
/*     left: 0; */
/* } */

.dbs_tab > .-container > .-captions > .-container > .-caption:first-child {
    border-radius: .3em 0 0 0;
}
.dbs_tab > .-container > .-captions > .-container > .-caption:last-child {
    border-radius: 0 .3em 0 0;
}

.dbs_tab > .-container > .-captions > .-container > .-caption:not(:first-child):before,
.dbs_tab > .-container > .-captions > .-container > .-caption:first-child:after,
.dbs_tab > .-container > .-captions > .-container > .-caption:not(:last-child):after,
.dbs_tab > .-container > .-captions > .-container > .-caption:last-child:before{
	content: "";
	position: absolute;
	height: 100%;
	top: 0;
	border-style: solid;
}


.dbs_tab > .-container > .-captions > .-container > .-caption:not(:first-child):before,
.dbs_tab > .-container > .-captions > .-container > .-caption:last-child:before{
	border-width: 0 0 0 1px;
	border-color: rgba(255,255,255,.32);
	left:0;
}
.dbs_tab > .-container > .-captions > .-container > .-caption:not(:last-child):after,
.dbs_tab > .-container > .-captions > .-container > .-caption:first-child:after{
	border-width: 0 1px 0 0;
	border-color: rgba(0,0,0,.32);
	right:0;
}


.dbs_tab > .-container > .-captions > .-container > .-caption.-selected{
    background: transparent !important;
	color: unset !important;
	cursor: default;
}

.dbs_tab > .-container > .-captions > .-container > .-caption:not(.-selected){
/*     border-width: 0; */
}
    

.dbs_tab > .-container > .-captions > .-container > .-caption > a {
    position: relative;
	display: inline-block;
    top: calc(50% - .6em);
    white-space: nowrap;
}

.dbs_tab > .-container > .-captions > .-container > .-caption > a > .-icon:before{
    position: relative;
    top: -.05em;
}
.dbs_tab > .-container > .-captions > .-container > .-caption > a > .-icon{
    float: left;
    line-height: 1em;
}
.dbs_tab > .-container > .-captions > .-container > .-caption > a > .-icon:after{
	content: "";
	clear: both;
}

.dbs_tab > .-container > .-captions > .-container > .-caption > a > .-value{
/* 	vertical-align: middle; */
}


.dbs_tab > .-container > .-captions > .-container > .-caption > .loading_container{
	position: absolute;
	display: block;
	top: 0px;
	left: 50%;
	padding: 1em;
	margin-left: -.6em;
}

.dbs_tab > .-container > .-captions > .-container > .-caption > .loading_container .-loading{
	-ms-filter: invert(100%);
    -o-filter: invert(100%);
    -moz-filter: invert(100%);
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.dbs_tab > .-container > .-tabPages{
	display: inline-block;
    position: relative;
    padding: 0.4em;
    -webkit-flex: 1 1 100%;
    -moz-flex: 1 1 100%;
    flex: 1 1 100%;
/* 	overflow: auto; */
	overflow: hidden;
} 	

.dbs_tab > .-container > .-tabPages > .-content{
	display: inline-block;
	position: relative;
    width: 100%;
    height: 100%;
} 	


@media screen and (max-width: 768px) {
	.dbs_tab > .-container{
	    border: none;
	}
	
	.dbs_tab > .-container > .-tabPages{
    	padding: 0.4em 0;
	}
	
	.dbs_tab > .-container > .-captions > .-container > .-caption:first-child {
	    border-radius: .3em 0 0 .3em;
	}
	.dbs_tab > .-container > .-captions > .-container > .-caption:last-child {
	    border-radius: 0 .3em .3em 0;
	}
}


