.-t_slide{
	height: 100%;
    width: 100%;
}

.-t_slide > div{
	width: 100%;
    position: relative;
    
	-webkit-transition: left .3s, height .3s;
	-moz-transition: left .3s, height .3s;
	-o-transition: left .3s, height .3s;
	transition: left .3s, height .3s;
	left: 100vw;
}

.-t_slide.-in > div:first-child,
.-t_slide > .-in{
	transition: left .3s cubic-bezier(.18,.89,.32,1.28);
	left: 0;
}
.-t_slide.-out_left > div:first-child,
.-t_slide > .-out_left{
	transition: left .3s cubic-bezier(.55,.06,.68,.19);
	left: -100vw;
}
.-t_slide.-out_right > div:first-child,
.-t_slide > .-out_right{
	transition: left .3s cubic-bezier(.55,.06,.68,.19);
	left: 100vw;
}
