:root {
  --th_fc: hsl(217.5, 55.17%, 11.37%);
  --th_bc: rgb(254, 254, 255);
}
html{
	font-family: Roboto, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", Arial, sans-serif, Helvetica, Myriad Pro, -apple-system !important;
	font-size: 11px;
}
/* #foo h1 { */
/*   color: var(--main-color); */
/* } */

/* Retira a cor padrão do browser dos campos autofill  */
input:-webkit-autofill, 
textarea:-webkit-autofill, 
select:-webkit-autofill{
    -webkit-animation-name: -kf_autofill;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes -kf_autofill {
    to {
        color: currentColor;
        background: transparent;
    }
}

/*Remove Gray Highlight When Tapping Links in Mobile webkit browsers*/
input,
textarea,
button,
div,
span,
select,
a {
}

.-th_fc{
	color: hsl(217.5, 55.17%, 11.37%);
}

::-webkit-input-placeholder{/* WebKit, Blink, Edge */
    color: currentColor;
    opacity: 0.5;
} 
:-moz-placeholder{/* Mozilla Firefox 4 to 18 */
	color: currentColor;
    opacity: 0.5;
}
::-moz-placeholder{ /* Mozilla Firefox 19+ */
	color: currentColor;
    opacity: 0.5;
}
:-ms-input-placeholder{, /* Internet Explorer 10-11 */
	color: currentColor;
    opacity: 0.5;
}
::-ms-input-placeholder{ /* Microsoft Edge */
	color: currentColor;
    opacity: 0.5;
}

.-th_fc.-th_i{ /*Invert*/
	color: rgb(254, 254, 255);
}
.-th_bc{
/* 	background-color: rgb(245, 245, 245); */
	background-image: linear-gradient(-45deg, hsla(0, 0%, 87%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
/*     background-image: linear-gradient(161deg, hsl(218, 100%, 97%) 0%,hsl(218, 100%, 87%) 100%); */
	
}
.-th_bc.-th_i{/*Invert*/
/* 	background-color:rgb(13,25,45); */
/* 	background-color: hsl(218, 72%, 46%); */
    background-image: linear-gradient(-45deg, hsla(218, 72%, 46%, 1) 1%,hsla(218, 74%, 62%, 1) 100%);
/*     background-image: linear-gradient(0deg, hsla(217.5, 55.17%, 10%, 1) 0%, hsla(218,55%,15%,1) 100%); */
/* 	background-image: linear-gradient(0deg, hsla(217.5, 55.17%, 7.37%, 1) 0%, hsla(217.5, 55.17%, 11.37%, 1) 100%); */
}

.-th_action{
	font-family:inherit;
	-webkit-tap-highlight-color: transparent;
}

.-th_action,
.-th_action:HOVER,
.-th_action:LINK {
	text-decoration: none !important;
	outline-style: none !important;
	outline-width: 0px !important;
}

.-th_action[disabled] {
	cursor: default;
	opacity: 0.9;
	pointer-events: none;
}

.-th_action:not([disabled]){
	opacity: 0.95;
	cursor: pointer;
	outline: none !important;
	border-collapse: separate;
}

.-th_action.dbs_menuitem:not([disabled]):ACTIVE{
	background-color: rgba(254, 254, 255, 0.2) !important;
	opacity: 1;	
	
	-webkit-box-shadow: 0 0 0 1px rgba(254,254,255,.25);
	-moz-box-shadow: 0 0 0 1px rgba(254,254,255,.25);
	box-shadow: 0 0 0 1px rgba(254,254,255,.25);
	
	text-shadow: none;
}


.-th_action:not(.dbs_menuitem):not([disabled]):ACTIVE > *:not(style):not(script):not(.-tooltip):after{
	content: " ";
	box-sizing: border-box;
	position: absolute;
	display: inline-block;
/* 	top: 0; */
/* 	left: 0; */
	width: 1.2em;
	height: 1.2em;
	
	left: calc(50% - .6em);
    top: calc(50% - .6em);
    
/* 	opacity: 0.5; */
	border: .5px solid;
	border-radius: 100%;
	-webkit-animation-name: -kf_sonar;
	-moz-animation-name: -kf_sonar;
	animation-name: -kf_sonar;

	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	animation-fill-mode: both;

	animation-timing-function: cubic-bezier(.075,.82,.165,1);
	-moz-animation-timing-function: cubic-bezier(.075,.82,.165,1);
	-webkit-animation-timing-function: cubic-bezier(.075,.82,.165,1);

	-webkit-animation-duration: .2s;
	-moz-animation-duration: .2s;
	animation-duration: .2s;

	box-sizing: border-box;
	pointer-events: none;
}


.-th_action:not(.dbs_menuitem):not([disabled]):ACTIVE{
	opacity: 1;	
	border: unset !important;
	background: unset !important;
	background-color: unset !important;
	box-shadow: unset !important;
}


.-th_action:not([disabled]):HOVER,
.-th_action:not([disabled]):FOCUS{
	text-decoration: none !important;
	opacity: 1;	

	background: -moz-linear-gradient(top,  rgba(234,234,234,0.1) 0%, rgba(71,71,71,0.1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(234,234,234,0.1)), color-stop(100%,rgba(71,71,71,0.1)));
	background: -webkit-linear-gradient(top,  rgba(234,234,234,0.1) 0%,rgba(71,71,71,0.1) 100%);
	background: -o-linear-gradient(top,  rgba(234,234,234,0.1) 0%,rgba(71,71,71,0.1) 100%);
	background: -ms-linear-gradient(top,  rgba(234,234,234,0.1) 0%,rgba(71,71,71,0.1) 100%);


	-webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.1);
	-moz-box-shadow: 0 0 0 1px rgba(0,0,0,.1);
	box-shadow: 0 0 0 1px rgba(0,0,0,.1);

}

.-th_action:INACTIVE {
	color:#333333;
}



.-th_view_border{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 0px 0px 1px rgba(13, 25, 45, 0.1);
	-moz-box-shadow: 0px 0px 0px 1px rgba(13, 25, 45, 0.1);
	box-shadow: 0px 0px 0px 1px rgba(13, 25, 45, 0.1);
}


.-th_lineHorizontalAfter:after,
.-th_lineHorizontalBefore:before{
	content: " ";
	display: block;
	position: absolute;
	border-top: 1px solid rgba(0, 0, 0, 0.3) !important;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
    width: 100%;
    z-index: 1;
	left: 0;
}


.-th_lineHorizontalAfter.-white:after,
.-th_lineHorizontalBefore.-white:before{
	border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
	border-bottom: 1px solid rgba(255, 255, 255, 0.6) !important;
	left: 0;
}

.-th_lineVerticalAfter:after,
.-th_lineVerticalBefore:before{
    content: " ";
    display: inline-block;
    border-left: 1px solid rgba(0, 0, 0, 0.3) !important;
    border-right: 1px solid rgba(255, 255, 255, 0.2) !important;
    top: 0;
    position: absolute;
    height: 100%;
    z-index: 1;
}

.-th_lineVerticalAfter.-white:after,
.-th_lineVerticalBefore.-white:before{
	border-left: 1px solid rgba(0, 0, 0, 0.1) !important;
	border-right: 1px solid rgba(255, 255, 255, 0.6) !important;
    top: 0px;
}

.-th_input {
	font-size: inherit;
	display: table;
	padding: 0px;
	margin: 0px;
	border: none;
  	-webkit-tap-highlight-color: transparent;
}

/* INPUTS --------------------------------*/
.-th_input ::-webkit-input-placeholder {
}
.-th_input :-moz-placeholder {
}
.-th_input ::-moz-placeholder {
}
.-th_input :-ms-input-placeholder {  
}
.-th_input ::-webkit-input-placeholder-shown {
}
.-th_input :-moz-placeholder-shown {
}
.-th_input ::-moz-placeholder-shown {
}
.-th_input :-ms-input-placeholder-shown {  
}


input,
textarea,
select,
.-th_input-data > label,
.-th_input-data > .-data {
	font-family: inherit;
	font-weight: inherit;
/* 	color: rgb(13, 25, 45); */
}

input,
textarea,
select{
	background: transparent;
/* 	background: white; */
}


.-th_input-label{
	position: relative;
	text-align: left;
}


.-th_input-data{
	position: relative;
}

.-th_input-data,
.-th_input-label,
.-th_input-suggestion {
	font-size: inherit;
	font-weight: inherit;
}

.-th_input-data,
.-th_input-suggestion{
/* 	background-color: white; */
	background-color: transparent;
}

.-th_input-data,
.-th_input-suggestion {
	display: inline-block;
	font-style: normal;
	text-shadow: none !important;
	font-weight: inherit;
/* 	font-weight: normal !important; */
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: middle;
	min-height: 1.45em;
	color: inherit;
/* 	min-height: 19px; Comentado em 2016-01-13 ricardo*/
}

.-th_input-data[type=text],
.-th_input-data[type=password],
.-th_input-data[type=email],
.-th_input-data[type=tel],
.-th_input-data[type=number],
.-th_input-data[type=date],
.-th_input-data[type=time],
.-th_input-data[type=url],
textarea.-th_input-data{
	-webkit-appearance: none;
	-moz-appearance: none;
    appearance: none;
}


.-th_input-data[type=text],
.-th_input-data[type=password],
.-th_input-data[type=email],
.-th_input-data[type=tel],
.-th_input-data[type=number],
.-th_input-data[type=date],
.-th_input-data[type=time],
.-th_input-data[type=url],
select.-th_input-data, 
textarea.-th_input-data,
span.-th_input-data,
div.-th_input-data,
label.-th_input-data,
.-th_input-suggestion{
	border: none;
	padding: .2em .1em;
	-webkit-border-radius: .15em;
	-moz-border-radius: .15em;
	border-radius: .15em;
}


.-th_input-data.-readOnly {
	background-color: rgba(0, 0, 0, 0.05) !important;
	overflow: hidden;
}

.-th_input-data.-lower{
	text-transform: lowercase;
}
.-th_input-data.-upper{
	text-transform: uppercase;
}
.-th_input-data.-proper,
.-th_input-data.-upperfirst{
	text-transform: capitalize;
}


.-th_input-data[type=text].-readOnly,
.-th_input-data[type=password].-readOnly,
.-th_input-data[type=email].-readOnly,
.-th_input-data[type=tel].-readOnly,
.-th_input-data[type=number].-readOnly,
.-th_input-data[type=date].-readOnly,
.-th_input-data[type=time].-readOnly,
.-th_input-data[type=url].-readOnly,
select.-th_input-data.-readOnly,
textarea.-th_input-data.-readOnly,
span.-th_input-data.-readOnly,
div.-th_input-data.-readOnly,
label.-th_input-data.-readOnly{
/* 	padding: 1px 1px 1px 1px !important; */
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: rgba(0, 0, 0, 0.05);
/* 	line-height: 15px; */
}


.-th_input-data[type=text]:FOCUS,
.-th_input-data[type=password]:FOCUS,
.-th_input-data[type=email]:FOCUS,
.-th_input-data[type=tel]:FOCUS,
.-th_input-data[type=number]:FOCUS,
.-th_input-data[type=date]:FOCUS,
.-th_input-data[type=time]:FOCUS,
.-th_input-data[type=url]:FOCUS,
select.-th_input-data:FOCUS,
textarea.-th_input-data:FOCUS,
.-th_input-data-FOCUS{
/* 	-webkit-box-shadow: 0 0 1px rgb(0, 153, 255), 0 0 0 rgb(143, 143, 143) inset !important; */
/* 	-moz-box-shadow: 0 0 1px rgb(0, 153, 255), 0 0 0 rgb(143, 143, 143) inset !important; */
/* 	box-shadow: 0 0 1px rgb(0, 153, 255), 0 0 0 rgb(143, 143, 143) inset !important; */
	outline: none;
}


.-th_input > .-container {
	white-space: nowrap;
	display: inline-block;
    position: relative;
    width: 100%;
}

.-th_input .-error {
	background-color: rgb(255, 255, 210);
}
.-th_input .-invalid{
	background-color: rgba(255, 120, 120, 0.2) !important;
/*     border-color: red !important; */
/*     border: 1px hsla(0, 100%, 51%, 0.65) solid; */
}

.-th_input .-required {
	background-color: rgb(224, 224, 224);
}


.-th_input .-msg_a {
/* 	background-color: rgba(255, 120, 120, 0.2) !important; */
}
.-th_input .-msg_s {
/* 	background-color: rgba(255, 120, 120, 0.2) !important; */
}
.-th_input .-msg_i {
/* 	background-color: rgba(255, 120, 120, 0.2) !important; */
}
.-th_input .-msg_t {
/* 	background-color: rgba(255, 120, 120, 0.2) !important; */
}
.-th_input .-msg_w {
	background-color: rgba(255, 120, 120, 0.2) !important;
}
.-th_input .-msg_c {
	background-color: rgba(255, 120, 120, 0.2) !important;
}
.-th_input .-msg_g {
	background-color: rgba(255, 120, 120, 0.2) !important;
}
.-th_input .-msg_p {
	background-color: rgba(255, 0, 0, 0.3) !important;
}
.-th_input .-msg_e {
	background-color: rgba(255, 0, 0, 0.14) !important;
}


.-th_input-data{
	
}

.-th_input-label{
	vertical-align:middle; 
	display:inline-block;
}


.-th_input-label:first-child:after{
	content:":";
}
/* onview */
.-th_onview.-autoHide.-enter{
	visibility: visible;
}
.-th_onview.-autoHide{
	visibility: hidden;
}

/* card */
.-th_card,
.-th_card.-full{
	position: relative;
	width: 100%;
/* 	max-height: 100%; */
/* 	overflow: hidden; */
/* 	overflow: visible; */
}

.-th_card:not(.-full){
	padding: 1.5em;
}

.-th_card.-full{
	line-height: 0;
}

/* BUTTONS STRIP-------------- */
.-th_buttons_strip {
    display: flex;
    display: -webkit-flex;
	-webkit-flex-flow: row nowrap;
	-moz-flex-flow: row nowrap;
	flex-flow: row nowrap;
	-webkit-justify-content: flex-start;
	-moz-justify-content: flex-start;
	justify-content: flex-start;
	text-align: center;
}
.-th_buttons_strip > *:not(style):not(script) {
	text-align: inherit;
	display: inline-block;
    position: relative;
    -webkit-flex: 1 1 auto;
    -moz-flex: 1 1 auto;
    flex: 1 1 auto;
    border-width: 0;
    border-radius: none;
	padding: 0.1em .7em;
}

.-th_buttons_strip > *:not(style):not(script):first-of-type {
    border-radius: .3em 0 0 .3em;
}
.-th_buttons_strip > *:not(style):not(script):last-of-type {
    border-radius: 0 .3em .3em 0;
}

.-th_buttons_strip > *:not(style):not(script):not(:first-of-type):before,
.-th_buttons_strip > *:not(style):not(script):first-of-type:after,
.-th_buttons_strip > *:not(style):not(script):not(:last-of-type):after,
.-th_buttons_strip > *:not(style):not(script):last-of-type:before{
	content: "";
	position: absolute;
	height: 100%;
	top: 0;
	border-style: solid;
}
.-th_buttons_strip > *:not(style):not(script):not(:first-of-type):before,
.-th_buttons_strip > *:not(style):not(script):last-of-type:before{
	border-width: 0 0 0 1px;
	border-color: rgba(255,255,255,.32);
	left:0;
}
.-th_buttons_strip > *:not(style):not(script):not(:last-of-type):after,
.-th_buttons_strip > *:not(style):not(script):first-of-type:after{
	border-width: 0 1px 0 0;
	border-color: rgba(0,0,0,.32);
	right:0;
}


/*RESPONSIVE -------------- */
.-th_responsive{
}

.-th_flex{
    position: relative;
    display: flex;
    display: -webkit-flex;
    
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    flex-flow: row wrap;
	
	-webkit-justify-content: center;
	-moz-justify-content: center;
    justify-content: center;
	
	-webkit-align-items: stretch;
	-moz-align-items: stretch;
    align-items: stretch;

	-webkit-align-content: strech;
	-moz-align-content: strech;
	align-content: strech;
    
	box-sizing: content-box;
/* 	flex-basis: 99.99%; */
}
/* .-th_responsive .-th_flex.-v_center > .-th_col{ */
/* 	 align-items: center; */
/* }    */
.-th_responsive .-th_flex.-nowrap{
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.-th_flex > .-th_col{
    position: relative;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
	flex-grow: 1;
	-webkit-flex-shrink: 0;
	-moz-flex-shrink: 0;
    flex-shrink: 0;
	box-sizing: content-box;
	max-width: 100%;
/* 	-webkit-align-self: flex-start; */
/* 	-moz-align-self: flex-start; */
/* 	align-self: flex-start; */
/* 	-webkit-flex-basis: auto; */
/* 	-moz-flex-basis: auto; */
/* 	flex-basis: auto;	 */
}

.-th_flex > .-th_col.-shrink{
	-webkit-flex-shrink: 1;
	-moz-flex-shrink: 1;
    flex-shrink: 1;
}

.-th_flex > .-th_col.-f16{
	flex-basis: 99.99%;
}
.-th_flex > .-th_col.-f15{
	flex-basis: 93.75%;
}
.-th_flex > .-th_col.-f14{
	flex-basis: 87.5%;
}
.-th_flex > .-th_col.-f13{
	flex-basis: 81.25%;
}
.-th_flex > .-th_col.-f12{
	flex-basis: 75%;
}
.-th_flex > .-th_col.-f11{
	flex-basis: 68.75%;
}
.-th_flex > .-th_col.-f10{
	flex-basis: 62.5%;
}
.-th_flex > .-th_col.-f9{
	flex-basis: 56.25%;
}
.-th_flex > .-th_col.-f8{
	flex-basis: 50%;
}
.-th_flex > .-th_col.-f7{
	flex-basis: 43.75%;
}
.-th_flex > .-th_col.-f6{
	flex-basis: 37.5%;
}
.-th_flex > .-th_col.-f5{
	flex-basis: 31.25%;
}
.-th_flex > .-th_col.-f4{
	flex-basis: 25%;
}
.-th_flex > .-th_col.-f3{
	flex-basis: 18.759%;
}
.-th_flex > .-th_col.-f2{
	flex-basis: 12.5%;
}
.-th_flex > .-th_col.-f1{
	flex-basis: 6.25%;
}


@media screen and (min-width:320px) and (max-height:480px){
	.-th_responsive{
		font-size: 10px;
	}
}
@media screen and (min-width:320px) and (max-width:419px) and (min-height:481px){
	.-th_responsive{
		font-size: 11px;
	}
}
@media screen and (min-width:420px) and (max-width:524px){
	.-th_responsive{
		font-size: 12px;
	}
}	
@media screen and (min-width:525px) and (max-width:655px){
	.-th_responsive{
		font-size: 13px;
	}
}	
@media screen and (min-width:656px) and (max-width:819px){
	.-th_responsive{
		font-size: 14px;
	}
}	
@media screen and (min-width:820px) and (max-width:1023px){
	.-th_responsive{
		font-size: 15px;
	}
}	
@media screen and (min-width:1024px) and (max-width:1279px){
	.-th_responsive{
		font-size: 15px;
	}
}	
@media screen and (min-width:1280px){
	.-th_responsive{
		font-size: 16px;
	}
}


/* Resposive */
@media screen and (max-width: 768px) {

	.-th_responsive .-th_input-data{
		width:100% !important; /*ALBERTO: incluído em 26/08/2016*/
	}
	
	.-th_responsive .-th_input .-th_input-label:first-child{
	    display: block;
	    position: relative;
	    font-size: .7em;
	    left: .2em;
	}

	.-th_responsive .-th_input .-th_input-label:first-child:after{
		content:"";
	}
	
}


/* ------Simbolo Ok nos itens do list-------------------- */
.-th_list.-ok{
    left: 1.6em;
    position: relative;
}
.-th_list.-ok > li{
	margin-right: 1.6em;
}   
    
.-th_list.-ok > li:before {
    display: inline-block;
    position: absolute;
	content: "\e902";
    font-size: 1.45em;
    font-family: 'dbsfaces_icons' !important;
    left: -1.2em;
}

.-th_list.-green > li:before {
    color: green;
}



