.dbs_tabPage{
	visibility: hidden;
	position: absolute;
/* 	display: none; */
/* 	overflow: visible; */
	overflow: auto;
	width:100%;
/* 	padding: .3em; */
	height: 100%;
}

.dbs_tabPage.-selected{
/* 	display:table !important;	10/08/2013 - Comentado por não funcionar a height 100% no dbscom:report */
	visibility: visible; 
	position:relative;
}


