.dbs_tab {}

.dbs_tab > .-container{
/* 	padding-top: 2px; */
	display: inline-block; /*INcluido em 15/07/2013 por Ricardo, pois */
	text-align: left;
}

.dbs_tab > .-container, 
.dbs_tab > .-container > div, 
.dbs_tab > .-container > div > div, 
.dbs_tab > .-container > div > div > div {
	width: 100%;
	height: 100%;
} 	

.dbs_tab > .-container > div{
	top:0;
	margin-top:-22px; /*Utilizar o tamanho do título da aba*/
	padding-top:22px; /*Utilizar o tamanho do título da aba*/
} 	

.dbs_tab > .-container > div > .-content{} 	

.dbs_tab > .-container > ul{
/* 	display:table-row; */
	display:inline-block;
	height:20px; /*Tamanho do título da aba*/
	position: relative;
   	white-space: pre; /* retira spaços em branco entre o título de as páginas(Problema causado por Strict DOCTYPE */
/*    	z-index: 1; comentado em 24/02/2015 - Ricardo. Estava sobreponto o menu*/
}	


.dbs_tab > .-container > ul > li{
	position:relative;
/*    	z-index: 1; comentado em 24/02/2015 - Ricardo. Estabva sobreponto o menu*/
	padding-left: 8px;
    padding-right: 8px;
	float:right;
    height:22px; /*Utilizar o tamanho do título da aba*/
    margin:0px -6px 0px 0px;
	border-top: 1px;
	border-left: 1px;
	border-right:1px;
	border-bottom:0px;
	border-color: rgb(140,140,140);
	border-style: solid;
	color:white;
	font-weight: normal;
    text-shadow: none;
	cursor:pointer;
	-webkit-border-radius:0px 3px 0px 0px;  
	-moz-border-radius: 0px 3px 0px 0px;
	border-radius:0px 3px 0px 0px;
	
	background-image: url("#{request.contextPath}/images/back_texture_black.png"); /*IE*/
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjQiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=),url("#{request.contextPath}/images/back_texture_black.png");
	background: -moz-linear-gradient(top, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0) 100%), url("#{request.contextPath}/images/back_texture_black.png"); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.4)), color-stop(100%,rgba(255,255,255,0))), url("#{request.contextPath}/images/back_texture_black.png"); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0) 100%), url("#{request.contextPath}/images/back_texture_black.png"); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0) 100%), url("#{request.contextPath}/images/back_texture_black.png"); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0) 100%), url("#{request.contextPath}/images/back_texture_black.png"); /* IE10+ */
	background: linear-gradient(top, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0) 100%), url("#{request.contextPath}/images/back_texture_black.png"); /* W3C */
}	


.dbs_tab > .-container > ul > li.-selected{
	border-top: 1px;
	border-left: 1px;
	border-right:1px;
	border-bottom:0px;
	border-style: solid;
	text-shadow: none;
/* 	text-shadow:1px 1px 0px #DDDDDD;	 */
	border-color: rgb(210,210,210);
	color:rgb(13,25,45);
	display:block;
	position:relative;
	background: rgb(245,245,245); /* Old browsers */
}
.dbs_tab > .-container > ul > li > a {
	display: block;
	height: 100%;
	width: 100%;	
}


.dbs_tab > .-container > ul > li > .loading_container{
	position: absolute;
	display: block;
	top: 0px;
	left: 50%;
	padding: 10px;
	margin-left: -6px;
}

.dbs_tab > .-container > ul > li > .loading_container .-loading{
	-ms-filter: invert(100%);
    -o-filter: invert(100%);
    -moz-filter: invert(100%);
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.dbs_tab > .-container > ul > li > a > .-icon{
  	float: left;
    position: relative;
    top: 2px	
}

.dbs_tab > .-container > ul > li > a > .-caption{
	float:left;
	color:inherit;
	display:inline-block;
	line-height: 100%;
	padding-top:4px;
	padding-left:4px;
	padding-right:2px;
}

.dbs_tab > .-container > ul > li > a.-iconclose{
	display:inline-block;
	position:relative;
	margin-left:6px;
	left:1px;
	top:4px;
}

.dbs_tab > .-container > ul > li > a.-iconclose:HOVER{
	background-position: -33px -0px;
}



