.dbs_crudTable{
	display:inline-block;
}

.dbs_crudTable > .-container{
	height: 100%;
}

.dbs_crudTable > .-container > .dbs_dataTable{
	height: 100%;
}

.dbs_crudTable > .-container > .dbs_dataTable > .-container > .-header > .-toolbar > nav > .-approval,
.dbs_crudTable > .-container > .dbs_dataTable > .-container > .-header > .-toolbar > nav > .-icon{
	position: absolute;
	left:2px;
}


.dbs_crudTable > .-container > .dbs_dataTable > .-container > .-content  > table > thead > tr > .-C1 > label > span > ul > li {
	display:table;
}

.dbs_crudTable > .-container > .dbs_dataTable.-formStyle_Table > .-container > .-content  > table > tbody > tr > .-C1 > label {
    position: relative;
	left: 1px;
    top: 1px;
}

.-checkbox > .dbs_checkbox > .-th_input > .-input > .-icon {
	margin-left: 2px;
	margin-top: 2px;
}