.-th_fc{
/* 	color:rgb(13,25,45); */
	color: hsl(217.5, 55.17%, 11.37%);
}
.-th_fc.-th_i{ /*Invert*/
	color: rgb(254, 254, 255);
}
.-th_bc{
	background-color: rgb(254, 254, 255);
}
.-th_bc.-th_i{/*Invert*/
/* 	background-color:rgb(13,25,45); */
	background-color: hsl(217.5, 55.17%, 11.37%);
}

.-th_action{
}

.-th_action,
.-th_action:HOVER,
.-th_action:LINK {
	text-decoration: none !important;
	outline-style: none !important;
	outline-width: 0px !important;
}

.-th_action.-disabled {
	cursor: default;
	opacity: 0.9;
}

.-th_action:not(.-disabled){
	opacity: 0.95;
}

.-th_action:not(.-disabled):ACTIVE{
	background-color: rgba(254, 254, 255, 0.2) !important;
	opacity: 1;	
	
	-webkit-box-shadow: 0 0 0 1px rgba(254,254,255,.25);
	-moz-box-shadow: 0 0 0 1px rgba(254,254,255,.25);
	box-shadow: 0 0 0 1px rgba(254,254,255,.25);
	
	text-shadow: none;
}

.-th_action:not(.-disabled):HOVER,
.-th_action:not(.-disabled):FOCUS{
	text-decoration: none !important;

	background: -moz-linear-gradient(top,  rgba(234,234,234,0.1) 0%, rgba(71,71,71,0.1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(234,234,234,0.1)), color-stop(100%,rgba(71,71,71,0.1)));
	background: -webkit-linear-gradient(top,  rgba(234,234,234,0.1) 0%,rgba(71,71,71,0.1) 100%);
	background: -o-linear-gradient(top,  rgba(234,234,234,0.1) 0%,rgba(71,71,71,0.1) 100%);
	background: -ms-linear-gradient(top,  rgba(234,234,234,0.1) 0%,rgba(71,71,71,0.1) 100%);
	background: linear-gradient(to bottom,  rgba(234,234,234,0.1) 0%,rgba(71,71,71,0.1) 100%);

	opacity: 1;	

	-webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.1);
	-moz-box-shadow: 0 0 0 1px rgba(0,0,0,.1);
	box-shadow: 0 0 0 1px rgba(0,0,0,.1);

}

.-th_action:INACTIVE {
	color:#333333;
}

.-th_action:not(.-disabled){
	cursor: pointer;
	outline: none !important;
	border-collapse: separate;
}

.-th_view_border{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 0px 0px 1px rgba(13, 25, 45, 0.1);
	-moz-box-shadow: 0px 0px 0px 1px rgba(13, 25, 45, 0.1);
	box-shadow: 0px 0px 0px 1px rgba(13, 25, 45, 0.1);
}

.-th_caption{
    width: 100%;
    background-image: url("/images/back_texture_white.png");
    background-color: rgba(13,25,45,.02);
    -webkit-border-radius: 3px 3px 0px 0px;
    -moz-border-radius: 3px 3px 0px 0px;
    border-radius: 3px 3px 0px 0px;
    font-weight: bold;	
}

.-th_input {
	font-size: inherit;
/* 	font-size: 11px; Comentado em 2016-01-13 */
	display: table;
	padding: 0px;
	margin: 0px;
	border-style: solid;
	border-width: 0px;
}

input,
textarea,
select,
.-th_input-data > label,
.-th_input-data > .-data {
	font-family: inherit;
	font-weight: normal;
/* 	color: rgb(13, 25, 45); */
}

input,
textarea,
select{
	background: white;
}



.-th_input-label{
	text-align: left;
}

/* @media only screen and (max-width: 1370px){ */
/* 	.dbs_input-label{ */
/* 	    position: absolute !important; */
/* 	    opacity: 0.3; */
/* 	    padding: .2em .1em .2em .1em; */
/* 	    top: 1px !important; */
/* 	    left: 1px; */
/* 	} */
/* 	.-th_input-data{ */
/* 		background-color: inherit; */
/* 	} */
/* 	.-th_input-data:empty{ */
/* 		background-color: transparent; */
/* 	} */
/* } */

.-th_input-data{
	position: relative;
}

.-th_input-data,
.-th_input-label,
.-th_input-suggestion {
	font-size: inherit;
	font-weight: normal;
}

.-th_input-data,
.-th_input-suggestion{
	background-color: white;
}

.-th_input-data,
.-th_input-suggestion {
	display: inline-block;
	font-style: normal;
	text-shadow: none !important;
	font-weight: normal !important;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: middle;
	min-height: 1.45em;
/* 	min-height: 19px; Comentado em 2016-01-13 ricardo*/
}

.-th_input-data[type=text],
.-th_input-data[type=password],
.-th_input-data[type=email],
.-th_input-data[type=tel],
.-th_input-data[type=number],
.-th_input-data[type=date],
.-th_input-data[type=time],
.-th_input-data[type=url],
textarea.-th_input-data{
	-webkit-appearance: none;
	-moz-appearance: none;
    appearance: none;
}


.-th_input-data[type=text],
.-th_input-data[type=password],
.-th_input-data[type=email],
.-th_input-data[type=tel],
.-th_input-data[type=number],
.-th_input-data[type=date],
.-th_input-data[type=time],
.-th_input-data[type=url],
select.-th_input-data, 
textarea.-th_input-data,
span.-th_input-data,
div.-th_input-data,
label.-th_input-data,
.-th_input-suggestion{
   	border-color: rgba(13, 25, 45, 0.1);
/*    	border-color: rgba(13, 25, 45, 0.3) rgb(220, 220, 220) rgb(220, 220, 220) rgba(13, 25, 45, 0.3); */
    border-style: solid;
    border-width: 1px;
/* 	padding: 0px 1px 0px 1px !important; comentado em 2016-01-13 */
	padding: .2em .1em .2em .1em !important;
	-webkit-border-radius: .15em !important;
	-moz-border-radius: .15em !important;
	border-radius: .15em !important;
/* 	-webkit-box-shadow: 1px 1px 1px rgba(13, 25, 45, 0.1) inset; */
/* 	-moz-box-shadow: 1px 1px 1px rgba(13, 25, 45, 0.1) inset; */
/* 	box-shadow: 1px 1px 1px rgba(13, 25, 45, 0.1) inset; */
}

.-th_input-data.-readOnly {
	background-color: rgba(0, 0, 0, 0.05) !important;
	overflow: hidden;
}

.-th_input-data[type=text].-readOnly,
.-th_input-data[type=password].-readOnly,
.-th_input-data[type=email].-readOnly,
.-th_input-data[type=tel].-readOnly,
.-th_input-data[type=number].-readOnly,
.-th_input-data[type=date].-readOnly,
.-th_input-data[type=time].-readOnly,
.-th_input-data[type=url].-readOnly,
select.-th_input-data.-readOnly,
textarea.-th_input-data.-readOnly,
span.-th_input-data.-readOnly,
div.-th_input-data.-readOnly,
label.-th_input-data.-readOnly
	{
/* 	padding: 1px 1px 1px 1px !important; */
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: rgba(0, 0, 0, 0.05);
/* 	line-height: 15px; */
}

.-th_input-data:FOCUS,
.-th_input-data-FOCUS {
	background-color: rgb(221, 235, 255);
}

.-th_input-data[type=text]:FOCUS,
.-th_input-data[type=password]:FOCUS,
.-th_input-data[type=email]:FOCUS,
.-th_input-data[type=tel]:FOCUS,
.-th_input-data[type=number]:FOCUS,
.-th_input-data[type=date]:FOCUS,
.-th_input-data[type=time]:FOCUS,
.-th_input-data[type=url]:FOCUS,
select.-th_input-data:FOCUS,
textarea.-th_input-data:FOCUS,
.-th_input-data-FOCUS{
	-webkit-box-shadow: 0 0 1px rgb(0, 153, 255), 0 0 0 rgb(143, 143, 143) inset !important;
	-moz-box-shadow: 0 0 1px rgb(0, 153, 255), 0 0 0 rgb(143, 143, 143) inset !important;
	box-shadow: 0 0 1px rgb(0, 153, 255), 0 0 0 rgb(143, 143, 143) inset !important;
	outline: none;
}

.-th_input .-error {
	background-color: rgb(255, 255, 210);
}
.-th_input .-invalid {
	background-color: rgb(255, 210, 210);
}
.-th_input .-required {
	background-color: rgb(110, 210, 210);
}

.-th_input > .-container {
	white-space: nowrap;
	display: inline-block;
    position: relative;
    width: 100%;
}


.-th_input-data{
	
}

.-th_input-label{
	vertical-align:middle; 
	display:inline-block;
}


.-th_input-label:first-child:after{
	content:":";
}

/* .-th_responsive	.-th_section:before{ */
/* 	content: ""; */
/* 	text-align: left; */
/* } */
.-th_responsive	.-th_tr{
    position: relative;
/* 	display: inline-table; */
    width: 100%;
    text-align: center;
}

.-th_responsive	.-th_tr > .-th_td{
/*     display: inline-table; */
    vertical-align: top;
    min-width: 320px;
}
.-th_responsive	.-th_tr.-c1 > .-th_td{
	width: 100%;
}

.-th_responsive	.-th_tr.-c2 > .-th_td{
	width: 50%;
}
.-th_responsive	.-th_tr.-c3 > .-th_td{
	width: 33%;
}


/* @media screen and (min-width: 560px){ */
/* 	.-th_responsive	.-th_tr > .-th_section{ */
/* 	    width: 50%; */
/* 	} */
/* } */

/* (min-width: 700px) and landscape */
/* Resposive */
@media screen and (max-width: 600px) and (orientation: portrait){
	.-th_responsive .-th_input-data{
	}
	
	.-th_responsive .-th_input .-th_input-label:first-child{
	    display: block;
	    position: relative;
	    font-size: .7em;
	    left: .2em;
	}

	.-th_responsive .-th_input .-th_input-label:first-child:after{
		content:"";
	}
	
}


