.dbs_nav > .-container > .-nav > .-container > .-content > div > nav > .-divMessage{
	display: table;
	white-space: normal;
}

.dbs_nav > .-container > .-nav > .-container > .-content > div > nav > .-divMessage > .-iconMessage{
	display: table-cell;
    position: relative;
    vertical-align: middle;
    left: 0;
}

.dbs_nav > .-container > .-nav > .-container > .-content > div > nav > .-divMessage > .-contentMessage{
	display: table-cell;
    position: relative;
    vertical-align: middle;
    padding-left: 0.5em;
}