.-th_action{
}

.-th_action,
.-th_action:HOVER,
.-th_action:LINK {
	text-decoration: none !important;
	outline-style: none !important;
	outline-width: 0px !important;
}

.-th_action.-disabled {
	cursor: default;
	opacity: 0.9;
}

.-th_action:not(.-disabled){
	opacity: 0.95;
}

.-th_action:not(.-disabled):ACTIVE{
	background-color: rgba(255, 255, 255, 0.2) !important;
	opacity: 1;	
	
	-webkit-box-shadow: 0 0 0 1px rgba(255,255,255,.25);
	-moz-box-shadow: 0 0 0 1px rgba(255,255,255,.25);
	box-shadow: 0 0 0 1px rgba(255,255,255,.25);
	
	text-shadow: none;
}

.-th_action:not(.-disabled):HOVER,
.-th_action:not(.-disabled):FOCUS{
	text-decoration: none !important;

	background: -moz-linear-gradient(top,  rgba(234,234,234,0.1) 0%, rgba(71,71,71,0.1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(234,234,234,0.1)), color-stop(100%,rgba(71,71,71,0.1)));
	background: -webkit-linear-gradient(top,  rgba(234,234,234,0.1) 0%,rgba(71,71,71,0.1) 100%);
	background: -o-linear-gradient(top,  rgba(234,234,234,0.1) 0%,rgba(71,71,71,0.1) 100%);
	background: -ms-linear-gradient(top,  rgba(234,234,234,0.1) 0%,rgba(71,71,71,0.1) 100%);
	background: linear-gradient(to bottom,  rgba(234,234,234,0.1) 0%,rgba(71,71,71,0.1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1aeaeaea', endColorstr='#1a474747',GradientType=0 );

	opacity: 1;	

	-webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.1);
	-moz-box-shadow: 0 0 0 1px rgba(0,0,0,.1);
	box-shadow: 0 0 0 1px rgba(0,0,0,.1);

}

.-th_action:INACTIVE {
	color:#333333;
}

.-th_action:not(.-disabled){
	cursor: pointer;
	outline: none !important;
	border-collapse: separate;
}

