.dbs_chartValueX{
}

.dbs_chartValueX{
	cursor: pointer;
}

.dbs_chartValueX.-pie{
	pointer-events: painted;
    fill: currentColor;
}

.dbs_chartValueX.-pie > .-point{
}    
.dbs_chartValueX.-pie > .-pointLink{
	visibility: hidden;
}    
.dbs_chartValueX.-pie.-hover > .-pointLink{
	visibility: visible;
}    

.dbs_chartValueX.-pie > .-info{
/*     pointer-events: bounding-box; */
}

.dbs_chartValueX.-pie > .-info > .-values{
	font-size: .6em;
    text-anchor: start;
}

.dbs_chartValueX.-pie{
}
    
.dbs_chartValueX.-pie.-hover{
}

.dbs_chartValueX.-pie > .-info > .-values.-invert{
	text-anchor: end;
}

.dbs_chartValueX.-pie > .-info > .-values > .-label{
    dominant-baseline: middle;
}

.dbs_chartValueX.-pie > .-info > .-values > .-value{
	display: none;
}
.dbs_chartValueX.-pie > .-info > .-values > .-perc{
	display: none;
}
.dbs_chartValueX.-pie > .-info > .-values > .-perc > .-int{
}
.dbs_chartValueX.-pie > .-info > .-values > .-perc > .-dec{
}
.dbs_chartValueX.-pie > .-info > .-values > .-percBox{
	display: none;
}


.dbs_chartValueX.-line > .-point{
	stroke-width: .1em;
    stroke: currentColor;
    fill: white;
}

.dbs_chartValueX.-line > .-info{
/* 	display:none; */
}
.dbs_chartValueX.-line > .-point,
.dbs_chartValueX.-line > .-info > .-path,
.dbs_chartValueX.-line > .-info > .-labelBox,
.dbs_chartValueX.-line > .-info > .-valueBox,
.dbs_chartValueX.-line > .-info > .-label,
.dbs_chartValueX.-line > .-info > .-value{
	visibility: hidden;
}

.dbs_chartValueX.-line > .-info > .-label{
    font-size: 0.8em;
    color: currentColor;
}
.dbs_chartValueX.-line > .-info > .-value{
	font-size: 0.8em;
    dominant-baseline: middle;
	text-anchor: end;
	color: currentColor;
}
.dbs_chartValueX.-line > .-info > .-path{
	stroke: currentColor;
    fill: none;
    stroke-dasharray: .1em;
	opacity: 0.3;
}

.dbs_chartValueX.-line > .-info > .-labelBox{
    stroke: none;
    fill: gray;
}
.dbs_chartValueX.-line > .-info > .-valueBox{
    stroke: none;
    fill: gray;
}


.dbs_chartX.-pie.-selected.-hover > .-chart > .-values > .dbs_chartValueX{
}

.dbs_chartX.-pie.-selected.-hover > .-chart > .-values > .dbs_chartValueX:not(.-hover):not(.-link){
	transition: stroke-opacity linear .5s;
	stroke-opacity: 0.1;
	fill-opacity: 0.1;
}

.dbs_chartX.-pie.-selected.-hover.-hoverLink > .-chart > .-values > .dbs_chartValueX:not(.-hover):not(.-link){
	pointer-events: none;	
}

.dbs_chartX.-pie.-selected.-hover.-hoverLink > .-chart > .-values > .dbs_chartValueX.-link:not(.-hoverLink){
/* 	-webkit-filter: url('#chartsblur'); */
/* 	-moz-filter: url('#chartsblur'); */
/* 	-o-filter: url('#chartsblur'); */
/* 	filter: url('#chartsblur');	 */
	stroke-opacity: 0.5;
	fill-opacity: 0.5;
}




.dbs_chartX.-line.-showDelta > .-chart > .-values > .dbs_chartValueX{
	pointer-events: none;
}

.dbs_chartX.-line:not(.-showLabel) > .-chart > .-values > .dbs_chartValueX > .-info > .-label,
.dbs_chartX.-line:not(.-showLabel) > .-chart > .-values > .dbs_chartValueX > .-info > .-labelBox{
	display:none;
}

.dbs_chartX.-line:not(.-showValue) > .-chart > .-values > .dbs_chartValueX > .-info > .-value,
.dbs_chartX.-line:not(.-showValue) > .-chart > .-values > .dbs_chartValueX > .-info > .-valueBox{
	display:none;
}

.dbs_chartX.-line > .-chart > .-values > .dbs_chartValueX.-line.-showLabel > .-info > .-label,
.dbs_chartX.-line > .-chart > .-values > .dbs_chartValueX.-line.-showValue > .-info > .-value{
	visibility: visible;
}
.dbs_chartX.-line.-selected > .-chart > .-values > .dbs_chartValueX.-line.-showLabel.-hide > .-info > .-label,
.dbs_chartX.-line.-selected > .-chart > .-values > .dbs_chartValueX.-line.-showValue.-hide > .-info > .-value{
	visibility: hidden;
}

.dbs_chartX.-line.-selected > .-chart > .-values > .dbs_chartValueX.-line.-hover > .-point,
.dbs_chartX.-line.-selected > .-chart > .-values > .dbs_chartValueX.-line.-hover > .-info > .-path,
.dbs_chartX.-line.-selected > .-chart > .-values > .dbs_chartValueX.-line.-hover > .-info > .-labelBox,
.dbs_chartX.-line.-selected > .-chart > .-values > .dbs_chartValueX.-line.-hover > .-info > .-valueBox,
.dbs_chartX.-line.-selected > .-chart > .-values > .dbs_chartValueX.-line.-hover > .-info > .-label,
.dbs_chartX.-line.-selected > .-chart > .-values > .dbs_chartValueX.-line.-hover > .-info > .-value{
	visibility: visible;
}


