.dbs_progress{
	display: inline-block;
	/* box-sizing: border-box; */
	/* line-height: 1em; */
	border: none;
	height: 1em;
	width: 100px;
	position: relative;
}
.dbs_progress > .-container{
	/* position: absolute; */
	position: absolute;
	display: inline-block;
	height: 100%;
	width: 100%;
	/* box-sizing: content-box; */
	z-index: 1;
    left: 0;
    top: 0;
}

.dbs_progress.-hide > .-container{
	opacity: 0;
}

.dbs_progress > .-container > .-content{
}


.dbs_progress > .-container > .-content .-label:nth-of-type(1) > .-value{
	float: left;
	font-weight: bold;
}

.dbs_progress > .-container > .-content .-label:nth-of-type(1) > .-sufix{
	font-size: 30%;
	display: inline;
}

.dbs_progress.-h > .-container,
.dbs_progress.-v > .-container{
	content: "";
	overflow: hidden;
	border-style: solid;
	border-width: 1px;
	border-radius: 12em;
}
.dbs_progress.-v > .-container{
    transform: scale(-1);
}

.dbs_progress.-h > .-container  > .-content,
.dbs_progress.-v > .-container  > .-content{
/* 	content: ""; */
/* 	display: inline-block; */
	bottom: 0;
	left: 0;
	-webkit-transition: inherit;
	-moz-transition: inherit;
	transition: inherit;
/* 	border-radius: inherit; */
}

.dbs_progress.-h > .-container > .-content{
	height: 100%;
	width: 0;
}
.dbs_progress.-ani.-h > .-container > .-content{
	transition: width 1s ease;
}

.dbs_progress.-v > .-container > .-content{
	width: 100%;
	height: 0;
}

.dbs_progress.-ani.-v > .-container > .-content{
	transition: height 1s ease;
}
	
.dbs_progress.-h > .-container > .-content > .-label,
.dbs_progress.-v > .-container > .-content > .-label{
	position: absolute;
	left: 50%;
	top: 50%;
	white-space: nowrap;
}
.dbs_progress.-h > .-container > .-content > .-label{
	transform: translate(-50%, -50%);
}
.dbs_progress.-v > .-container > .-content > .-label{
	transform: translate(-50%, -50%) scale(-1);
}

.dbs_progress.-c > .-container > .-content{
	overflow: visible;
	position: absolute;
    left: 0;
    top: 0;
    /* display: inline-block; */
    width: 100%;
    height: 100%;
}

.dbs_progress.-c > .-container > .-content > g{

}
.dbs_progress.-c > .-container > .-content > g > .-back,
.dbs_progress.-c > .-container > .-content > g > .-point{
    stroke-width: 1em;
	fill: none;
}
.dbs_progress.-c > .-container > .-content > g > .-back{
	stroke: currentColor;
	stroke-opacity: 0.2;
}
.dbs_progress.-ani.-c > .-container > .-content > g > .-point{
	transition: stroke-dashoffset 1s ease;
/*     stroke-dashoffset: 0; */
/*     stroke-dashoffset: initial; */
}
.dbs_progress.-c.-hide > .-container > .-content > g > .-point{
	transition: none;
	display:none;
}

.dbs_progress.-c > .-container > .-content > g > .-label{
    text-anchor: middle;
}
