.dbs_charts{
	display: table;
/* 	border: rgba(0,0,0,.5) solid 1px; */
}

.dbs_charts > .-container{
	position: relative;
	display: inline-block;
	opacity:0;
/* 	border: rgba(0,0,0,.5) solid 1px; */
}

.dbs_charts > .-container > .-caption,
.dbs_charts > .-container > .-data,
.dbs_charts > .-container > .-footer{
	position: relative;
	display: block;
    cursor: default;
}

.dbs_charts > .-container > .-caption{
    width: 100%;	
	text-align: left;
	padding-left: .3em;
    font-weight: bold;
	background-image: url("#{request.contextPath}/images/back_texture_white.png");
    background-color: rgba(13,25,45,.02);
	-webkit-border-radius: 3px 3px 0px 0px;
	-moz-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px;
}

.dbs_charts > .-container > .-data{
	font-size: .7em;
}

.dbs_charts > .-container > .-data > .-container{
	position: relative;
	display: inline-block;
	shape-rendering: geometricPrecision;
	overflow: visible;
}

.dbs_charts > .-container > .-data > .-container > .-content{
}

.dbs_charts > .-container > .-data > .-container > .-content > .-left{
}
	
.dbs_charts > .-container > .-data > .-container > .-content > .-label{
	font-size: 1.8em;
	stroke-width: 0;
}	

.dbs_charts > .-container > .-data > .-container > .-content > .-label > .-content{
	font-size: 0.6em;
	cursor: pointer;
	opacity: 0.7;
}
.dbs_charts > .-container > .-data > .-container > .-content > .-label > .-content.-activated{
	opacity: 1;
	-moz-animation: -kf_dbs_chart_selected .1s linear;
	-o-animation: -kf_dbs_chart_selected .1s linear;
	-webkit-animation: -kf_dbs_chart_selected .1s linear;
	animation: -kf_dbs_chart_selected .1s linear;
}

.dbs_charts > .-container > .-data > .-container > .-content > .-label > .-content > text{
	fill: white;
	transform: translate(.5em);
	fill-opacity:0.8;
}	
.dbs_charts > .-container > .-data > .-container > .-content > .-label > .-content.-activated > text{
	fill-opacity:1;
}	

.dbs_charts > .-container > .-data > .-container > .-content > .-label > .-content > rect{
}	

.dbs_charts > .-container > .-data > .-container > .-content > .-value{
}

.dbs_charts-grid {
	stroke: rgba(0,0,0,.05);
	stroke-width: 1px;
	shape-rendering: crispEdges;
}
.dbs_charts-grid > .-label{
	stroke-width: 0px;
	text-anchor: end;
	dominant-baseline: middle;
    cursor: default;
    opacity: 0.8;
}

.dbs_charts-grid.-dim > text.-label{
	opacity: 0;
}

.dbs_charts > .-container > .-data > .-container > .-content > .-right{
}	

.dbs_charts > .-container > .-data > .-container > defs{
}

.dbs_charts > .-container > .-data > .-container > defs > .-point {
}
.dbs_charts > .-container > .-data > .-container > defs > .-point > ellipse{
}
.dbs_charts > .-container > .-data > .-container > defs > .-point,
.dbs_charts > .-container > .-data > .-container > defs > .-guide {
	
}

.dbs_charts > .-container > .-footer{
}




