.dbs_chart{
	position: relative;
}

.dbs_chart > .-line {
	stroke-width: .2em;
}
.dbs_chart > .-delta{
	
}
.dbs_chart > .-delta > .-deltaline{
	stroke-linecap: round;
	stroke-dasharray: .3em;
}

.dbs_chart[type='line'][dx1] > .dbs_chartValue.-selected  > .-point,
.dbs_chart[type='line'] > .dbs_chartValue.-selectedDelta  > .-point{
	fill: transparent;
    stroke-width: 0.03em; 
    transform-origin: center;
    -webkit-transform: scale(4);
    -moz-transform: scale(4);
    -o-transform: scale(4);
    transform: scale(4);
    
    -webkit-transition: transform .3s;
    -moz-transition: transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s;
}

.dbs_chart[type='line'] > .dbs_chartValue.-selected,
.dbs_chart[type='line'] > .dbs_chartValue.-selectedDelta,
.dbs_chart[type='bar'] > .dbs_chartValue.-selected{
	stroke: rgb(13,25,45);
}

.dbs_chart[type='line'] > .dbs_chartValue.-selected,
.dbs_chart[type='bar'] > .dbs_chartValue.-selected{
	stroke-width: .1em;
}

.dbs_chart[type='pie'] > .dbs_chartValue.-selected{
	stroke-width: .2em;
}

.dbs_chart[type='bar'] > .dbs_chartValue > rect {
    shape-rendering: crispEdges;
}
.dbs_chart[type='line'] > .dbs_chartValue > .-point{
/* 	fill:transparent;	 */
}
.dbs_chart[type='line'] > .dbs_chartValue:not(.-selected):not(.-delta) > .-point{
	fill: transparent; 
}
.dbs_chart[type='line'] > .dbs_chartValue.-selected > .-point{
/* 	fill:white;	 */
}

.dbs_chart[type='pie'] > .dbs_chartValue > .-info > .-point{
    height: 1.2em;
    width: 4em;
	stroke-width: .05em;
}

.dbs_chart[type='line'] > .dbs_chartValue.-selected > .-info > .-point{
	fill:white;	
}


