.dbs_inputPhone{
}

.dbs_inputPhone > .-container{
	position:relative;
}

.dbs_inputPhone > .-container > .-th_input-data{
}

.dbs_inputPhone > .-container > .-th_input-label {
}


.dbs_inputPhone > .-container > .-th_input-data > input,
.dbs_inputPhone > .-container > .-th_input-data > label{
/* 	line-height: 100%; */
	border: 0 none;
	font-size: inherit;
	background-color: transparent !important;
/* 	height: 13px; */
/* 	float:left; */
/* 	margin-top: 2px; */
}

.dbs_inputPhone > .-container > .-th_input-data > label{
}

.dbs_inputPhone > .-container > .-th_input-data > input{
	text-align: right;
}
	