.dbs_checkbox{
}

.dbs_checkbox > .-container{
	position:relative;
}

.dbs_checkbox > .-container > .-th_input-label {
}


.dbs_checkbox > .-container > .-th_input-data {
    position: relative;
    visibility: hidden;
    overflow: visible;
    background-color: transparent;
    height: 1.4em;
    width: 1.4em !important;
}

.dbs_checkbox > .-container > .-th_input-data:not([disabled]):after{
	cursor: pointer;	
}

.dbs_checkbox > .-container > .-th_input-data:after{
    font-family: 'dbsfaces_icons' !important;
    visibility: visible;
    position: relative;
    content: "\e919";
    font-size: 1.5em;
        -webkit-transition: text-shadow .1s cubic-bezier(0.47, 0, 0.75, 0.72);
    -moz-transition: text-shadow .1s cubic-bezier(0.47, 0, 0.75, 0.72);
    transition: text-shadow .1s cubic-bezier(0.47, 0, 0.75, 0.72);
}

.dbs_checkbox > .-container > .-th_input-data:checked:after{
	content: "\e91a";
	text-shadow: 0 0 .05em currentColor;
}

.dbs_checkbox > .-container > .-th_input-data:checked:before{
    content: " ";
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid currentColor;
    border-radius: inherit;
    -webkit-animation: -kf_sonar .2s 1 cubic-bezier(.075,.82,.165,1) 0s both;
    -moz-animation: -kf_sonar .2s 1 cubic-bezier(.075,.82,.165,1) 0s both;
    animation: -kf_sonar .2s 1 cubic-bezier(.075,.82,.165,1) 0s both;
    -webkit-backface-visibility: hidden;
    box-sizing: border-box;
    backface-visibility: hidden;
    visibility: visible;
        border-radius: 1em;
}