.dbs_charts{
    display: inline-block;
	position: relative;
}

.dbs_charts > .-container{
/*     display: inline-block; */
	position: relative;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	-webkit-flex-flow: column nowrap;
	-moz-flex-flow: column nowrap;
	flex-flow: column nowrap;

	-webkit-transition: opacity .2s;
	-moz-transition: opacity .2s;
	-o-transition: opacity .2s;
	transition: opacity .2s;
	opacity: 1;
	
/* 	-webkit-justify-content: space-between; */
/* 	-moz-justify-content: space-between; */
/* 	justify-content: space-between; */

/*     -webkit-align-items: stretch; */
/*     -moz-align-items: stretch; */
/*     align-items: stretch; */

/*     -webkit-align-content: strech; */
/*     -moz-align-content: strech; */
/*     align-content: flex-start; */
}
.dbs_charts > .-container.-hide{
/* 	opacity: 0; */
	stroke-opacity: 0;
	fill-opacity: 0;
/* 	visibility: hidden; */
}
.dbs_charts > .-container > .-caption,
.dbs_charts > .-container > .-childrenCaption,
.dbs_charts > .-container > .-footer{
    -webkit-flex: 1 1 1em;
    -moz-flex: 1 1 1em;
    flex: 1 1 1em;
}

.dbs_charts > .-container > .-caption{
	text-align: left;	
}

.dbs_charts > .-container > .-childrenCaption{
	
}
.dbs_charts > .-container > .-childrenCaption > .-container{
	
}


.dbs_charts > .-container > .-childrenCaption > .-container > .-caption{
/*     margin: .1em; */
    border: 1px;
	border-style: solid;
    border-radius: .3em;
	font-weight: bold;
	text-align: center;
	cursor: pointer;	
	-webkit-flex: 1 1 1em;
	-moz-flex: 1 1 1em;
	flex: 1 1 1em;
}
.dbs_charts > .-container > .-childrenCaption > .-container > .-caption:not(last-child){
	margin-right: .1em;
}

.dbs_charts > .-container > .-childrenCaption > .-container > .-caption:not(.-selected){
    background: transparent !important;
}
    
.dbs_charts > .-container > .-childrenCaption > .-container > .-caption > .-text{
}

.dbs_charts > .-container > .-childrenCaption > .-container > .-caption.-selected > .-text{
	color: inherit !important;
}

.dbs_charts > .-container > .-childrenCaption > .-container > .-caption:not(.-selected) > .-text{
	background-color: transparent;
}

.dbs_charts > .-container > .-charts{
	display: inline-block;
	position: relative;
	-webkit-flex: 1 1 100%;
	-moz-flex: 1 1 100%;
	flex: 1 1 100%;
    border: 1px solid rgba(0,0,0,.1);
	top: 0;
	left: 0;
    border-radius: 1em;
    box-sizing: border-box;
/* 	padding: .3em; */
}

.dbs_charts.-hover > .-container > .-charts > .dbs_chart.-bar:not(.-selected){
	stroke-opacity: 0.1;
}

/* .dbs_charts > .-container > .-charts > .-container.-hide{ */
/* 	opacity: 0; */
/* } */

/* .dbs_charts > .-container > .-charts > .-container{ */
/* 	opacity: 1; */
/* 	position:absolute; */
/* 	display: inline-block; */
/* 	padding: .3em; */
/* 	top: 0; */
/* 	left: 0; */

/* 	width: 100%; */
/* 	height: 100%; */
/* } */

.dbs_charts > .-container > .-footer{
	text-align: right;
	font-size: .9em;
	opacity:0.8;
}
