.dbs_crudTable{
	display:inline-block;
}

.dbs_crudTable > .-container{
	height: 100%;
}

.dbs_crudTable > .-container > .dbs_dataTable{
	height: 100%;
}

.dbs_crudTable > .-container > .dbs_dataTable > .-container > .-header  > .-toolbar > nav > div > .-approval{
	position: absolute;
	left:2px;
}

.dbs_crudTable > .-container > .dbs_dataTable.-noDialogEdit > .-container > .-content  > table > tbody > tr > .-C1 > span {
	margin-left:-2px !important;
}

