.dbs_pagedSearch > .-container{
	height: 100vh;
    min-width: 100px;
    flex-direction: column !important;
}
.dbs_pagedSearch > .-container > .-select_row{
	position: absolute;
	visibility: hidden;
}
.dbs_pagedSearch > .-container > .-R1 {
	width: 100%;
	height: 1.75em;
    flex: 0 0 1.75em !important;
}
.dbs_pagedSearch > .-container > .-R1 > .-i_find {
    position: absolute !important;
    top: 25%;
    cursor: pointer;
    z-index: 1;
    right: 4px;
    opacity: 0.3;
}
.dbs_pagedSearch > .-container > .-R1 > .-loading {
	position: absolute !important;
    right: 4px !important;
    left: auto !important;
}
.dbs_pagedSearch > .-container > .-R1 > .-showLoading {
	display: block;
}
.dbs_pagedSearch > .-container > .-R1 > .-hideLoading {
	display: none;
}

.dbs_pagedSearch > .-container > .-R1 > .-input_search {
	position: absolute;
	z-index: 1;
}

.dbs_pagedSearch > .-container > .-R1 > .-input_valor {
    visibility: hidden;
    position: absolute;
}

.dbs_pagedSearch > .-container > .-R1 > .-input_suggestion {
	opacity: 0.5;
}
.dbs_pagedSearch > .-container > .-R1 > .-input_search,
.dbs_pagedSearch > .-container > .-R1 > .-input_search > .-container > .-th_input-data,
.dbs_pagedSearch > .-container > .-R1 > .-input_suggestion,
.dbs_pagedSearch > .-container > .-R1 > .-input_suggestion > .-container > .-th_input-data {
	width: 100%;
}
		
.dbs_pagedSearch > .-container > .-R2 {
	flex: 1;
	width: 100%;
	overflow:auto;
}
.dbs_pagedSearch > .-container > .-R2 > .-visible_container {
}		

.dbs_pagedSearch_container {
    padding-left: 0.15em;
}
.dbs_pagedSearch_container > .-item {
}

.dbs_pagedSearch_container > .-item > .-item_key,
.dbs_pagedSearch_container > .-item > .-item_display_value {
    position: absolute;
	visibility: hidden;
}

.dbs_pagedSearch > .-container > .-R2 > .-invisible_container {
    position: absolute;
	visibility: hidden;
}
.dbs_pagedSearch > .-container > .-R2 > .-invisible_container > .-invisible_list{
}

.dbs_pagedSearch > .-container > .-R2 > .-invisible_container > .-invisible_list > table > tbody > tr > td > .-item {
	height: 0px;
}