
.dbs_button{
	color: inherit;
	font-size: inherit;
	border:none;
	background:none;
	-webkit-border-radius:2px;  
	-moz-border-radius:2px; 
	border-radius:2px;
	margin: 0px;
	padding: 0px 0px;
	border-width: 0px;
	border-style:none;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
/* 	text-shadow:1px 1px 1px rgba(50, 50, 50, 0.5);  */
	text-shadow: none;
    -webkit-appearance: none;
}

/* Ajsutes necessários quando o botão for readonly, pois o encode será de uma div ao invés de um button */
.dbs_button.-disabled{
	pointer-events: none;
    text-align: center;
    vertical-align: baseline;
    border-collapse: separate;
    align-items: flex-start;
}

.dbs_button.-disabled > table{
    height: inherit;
}
.dbs_button.-disabled > table > tbody{
    height: inherit;
}
.dbs_button.-disabled > table > tbody > tr{
    height: inherit;
}
.dbs_button.-disabled > table > tbody > tr > td{
    height: inherit;
}
.dbs_button.-disabled > table > tbody > tr > td > .-icon{
    height: inherit;
	vertical-align: middle;
    display: table-cell;
}

.dbs_button.-on{
	background-color: rgba(130, 220, 255,0.8) !important;
}

.dbs_button > table{
	position: relative; /* Incluido em 05/06/2014*/
	display:table;
	width: 100%;
/* 	display:block; Desabilitado em 06/02/2013 para centralizar no IE9 */
				   /*Reabilitado pois, aparentemente, problema foi resolvido 05/06/2014 */
/* 	display:inline-block; Desabilitado em 20/11/2012 para excluir o espaço que existia na parte de baixo do botão */
	color: inherit;
	margin: 0px;
	padding: 0px;
	line-height: 0px;
	font-size: inherit;
	text-align: center;
}

.dbs_button > table > tbody {
/* 	display: inline-block; */
	margin: 0px;
	padding: 0px;
	line-height: 0px;
	font-size: inherit;
}
.dbs_button > table > tbody > tr {
/* 	display:inline-block; */
	margin: 0px !important;
	padding: 0px !important;
	line-height: 0px !important;
	font-size: inherit;
}

.dbs_button > table > tbody > tr > td {
	display:inline-block;
	margin: 0px !important;
	padding: 0px !important;
	font-size: inherit;
}


.dbs_button > table > tbody > tr > td > .-label,
.dbs_button > table > tbody > tr > td > .-icon {
	display: inline-block;
/* 	display: block; */
}

.dbs_button > table > tbody > tr > td > .-label {
	/* 	margin: -1px 0 0; 07-abr-15*/
	padding: 0 1px 1px 0;
	line-height: normal;
	font-size: inherit;
}
.dbs_button > table > tbody > tr > td > .-icon {
	padding: 0px !important;
	margin: 0px !important;
}

