/*
	MANTER NESTE ARQUIVO SOMENTE CLASSES GENERICAS.
*/

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

input::-ms-clear {
    display: none;
}

/* Classes de elementos HTML */
html,
body,
button,
div,
table,
input,
select,
tbody,
.-tooltip {
	font-family: Verdana, Arial, Helvetica, sans-serif !important;
/* 	text-rendering: optimizeLegibility !important; */
/* 	-webkit-font-smoothing: antialiased !important; */
	text-decoration: none !important;
	outline-style: none !important;
	outline-width: 0px !important;
	outline: none;
/* 	x-webkit-backface-visibility: hidden; */
/* 	x-webkit-transform: translateZ(0); */
/* 	x-webkit-perspective: 1000; */
}

body {
	padding: 0px;
	margin: 0px;
}

body {
	font-size: 11px;
}

body,
div,
dl,dt,dd,
ul,ol,li,
h1,h2,h3,h4,h5,h6,
pre,code,form,fieldset,legend,
input,select,textarea,p,blockquote,th,td,figure,figcaption,time,article{
	margin: 0;
	padding: 0;
}

div,ul,li,span,a,table,thead,tfoot,tbody,td,th,tr,caption {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}




table {
	border-collapse: collapse;
	border-spacing: 0;
	font-size: inherit;
	color: inherit;
	table-layout: auto;
	empty-cells: hide;
}


fieldset,
img {
	border: 0 none;
}

address,caption,cite,code,dfn,em,th,var {
	font-style: normal;
	font-weight: normal;
}

li {
	list-style: none outside none;
}

input,
textarea,
select,
.dbs_input-data > label,
.dbs_input-data > .-data {
	font-family: inherit;
	font-weight: normal;
	color: rgb(13, 25, 45);
}

input,
textarea,
select{
	background: white;
}


a,
a:HOVER,
a:LINK {
	text-decoration: none !important;
	outline-style: none !important;
	outline-width: 0px !important;
}

a,
a:HOVER,
a:VISITED,
a:LINK {
	color: inherit;
}

/* H1,H2,H3,H4,H5,H6 { */
/* 	color: rgb(254, 254, 255); */
	/*AZUL DBSOFT=rgb(13, 25, 45) #0d192d; BRANCO=rgb(245,245,245) #f5f5f5*/
/* 	font-weight: bold; */
/* 	text-shadow: 1px 1px 1px rgb(0, 0, 0); */
/* } */

H1 {
	font-size: 21px;
}

H2 {
	font-size: 18px;
}

H3 {
	font-size: 15.6px;
}

H4 {
	font-size: 13.4px;
}

H5 {
	font-size: 12px;
}

H6 {
	font-size: 11px;
}

svg{
/* 	shape-rendering: auto | optimizeSpeed | crispEdges | geometricPrecision | inherit */
}

/*MODIFIER = nomes padrão para serem utilizado em conjunto com outras classes. NÃO PODEM SER UTILIZADOS ISOLADAMENTE*/
.-caption {}
.-center {text-align: center !important;}
.-centervertical {}
.-closable {}
.-closed {}
.-checkbox {}
.-cover {}
.-content {}
.-container {}
.-disabled {}
.-even {}
.-error {}
.-message.-error{color: red;}
.-form {}
.-icon {}
.-input {}
.-label {}
.-mask {}
.-message {}
.-normal {}
.-not_selectable {}
.-odd {}
.-opened {}
.-left {text-align: left !important;}
.-right {text-align: right !important;}
.-nowrap {white-space: nowrap !important;}
.-bold {font-weight: bold;}
.-italic {font-style: italic;}
.-row {}
.-selected {}
.-selectable {}
.-title {}
.-toolbar {}
.-subtitle {}
.-readOnly {}
.-pushSuspended {}
.-on {}
.-flex{
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;   
}

/* Blur ----------------------------------- */
.-blur_soft{
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='1');
	filter: url("data:image/svg+xml;utf8,<svg version=\'1.1\' xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'blur\'><feGaussianBlur stdDeviation=\'1\' ></feGaussianBlur></filter></svg>#blur"); 
	filter: blur; 
	-ms-filter: blur(1px);
    -o-filter: blur(1px);
    -moz-filter: blur(1px);
    -webkit-filter: blur(1px);
    filter: blur(1px);
}
.-blur{
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='7');
	filter: url("data:image/svg+xml;utf8,<svg version=\'1.1\' xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'blur\'><feGaussianBlur stdDeviation=\'7\' ></feGaussianBlur></filter></svg>#blur"); 
	filter: blur; 
	-ms-filter: blur(7px);
    -o-filter: blur(7px);
    -moz-filter: blur(7px);
    -webkit-filter: blur(7px);
    filter: blur(7px);
}
.-blur_hard{
	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='18'); 			
	filter: url("data:image/svg+xml;utf8,<svg version=\'1.1\' xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'blur\'><feGaussianBlur stdDeviation=\'18\' ></feGaussianBlur></filter></svg>#blur"); 
	filter: blur; 
	-ms-filter : blur(18px);
	-o-filter : blur(18px); 
	-moz-filter : blur(18px);
	-webkit-filter: blur(18px); 
	filter: blur(18px);
	-ms-filter: progid:DXImageTransform.Microsoft.MotionBlur(strength=50), progid:DXImageTransform.Microsoft.BasicImage(mirror=1);
}

/* Hack para configurar o IE com opacity já que não aceita o blur */
@media all and (-ms-high-contrast:none)
{
	.-blur_soft{
		opacity: 0.7;
	} 
	.-blur{
		opacity: 0.5;
	} 
	.-blur_hard{
		opacity: 0.1;
	} 
}
      

.-glass{
	background: url("#{request.contextPath}/images/vidro.png");
	background-repeat: repeat;
	border-color: rgb(200, 200, 200);
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    overflow: hidden;
    z-index: 1;	
}



/* ----------------------------------------------- */
.-scrollLeft {
	-webkit-box-shadow: 3px 0 3px -1px rgba(0, 0, 0, 0.3) inset;
	-moz-box-shadow: 3px 0 3px -1px rgba(0, 0, 0, 0.3) inset;
	box-shadow: 3px 0 3px -1px rgba(0, 0, 0, 0.3) inset;
}

.-scrollRight {
	-webkit-box-shadow: -3px 0 3px -1px rgba(0, 0, 0, 0.3) inset;
	-moz-box-shadow: -3px 0 3px -1px rgba(0, 0, 0, 0.3) inset;
	box-shadow: -3px 0 3px -1px rgba(0, 0, 0, 0.3) inset;
}

.-scrollLeftRight {
	-webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3) inset;
	-moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3) inset;
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3) inset;
}

/* inputs ---------------------------------------- */
input.-foo {
	position: absolute !important;
	left: 0px !important;
	top: 0px !important;
	border-color: transparent !important;
	border-width: 1px !important;
	opacity: 0 !important;
	width: 1px !important;
	height: 0px !important;
	background-color: transparent !important;
	z-index: -9999;
}


.dbs_not_selectable {
	-webkit-touch-callout: none !important;
	-webkit-user-drag: none !important;
	-webkit-user-select: none !important;
	-moz-user-select: none !important;
	-khtml-user-select: none !important;
	-ms-user-select: none !important;
	-o-user-select: none !important;
	user-select: none !important;
	xcursor: inherit;
}


/*Parent precisa ter height em parcentual*/
.dbs_parent_fill {
	padding: 0;
	clear: both;
	top: 0px;
	bottom: 0px;
	position: absolute;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}



/* Background ---------------------------------- */
.dbs_back_texture_black,
.dbs_back_texture_black_gradient,
.dbs_back_texture_black_transparent_gradient,
.dbs_text_white_shadow {
	color: rgb(254, 254, 255);
}

.dbs_back_gradient_white,
.dbs_back_gradient_blue,
.dbs_back_gradient_orange,
.dbs_text_dark_shadow,
.dbs_input-data,
.dbs_input-label{
/* 	color: rgb(13, 25, 45); Comentado em 14/10/2013 */
}

.dbs_input-label{
	text-align: left;
}

.dbs_back_texture_black {
	background-image: url("#{request.contextPath}/images/back_texture_black.png")!important;
	background-repeat: repeat !important;
}
.dbs_back_texture_black_transparent {
	background-image: url("#{request.contextPath}/images/back_texture_black_transparent.png");
	background-repeat: repeat !important;
}

.dbs_back_texture_white{
	background-image: url("#{request.contextPath}/images/back_texture_white.png");
	background-repeat: repeat;
} 

.dbs_back_texture_white_transparent{
	background-image: url("#{request.contextPath}/images/back_texture_white_transparent.svg");
	background-repeat: repeat;
} 
.dbs_back_texture_black_transparent_gradient{
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjMiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background-image: url("#{request.contextPath}/images/back_texture_black.png")!important; /*IE*/
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%,rgba(255, 255, 255, 0.0) 100%),url("#{request.contextPath}/images/back_texture_black_transparent.png") !important;/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255, 255, 0.3)), color-stop(100%, rgba(255, 255, 255, 0.0))),url("#{request.contextPath}/images/back_texture_black_transparent.png") !important;/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%,rgba(255, 255, 255, 0.0) 100%),url("#{request.contextPath}/images/back_texture_black_transparent.png") !important;/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%,rgba(255, 255, 255, 0.0) 100%),url("#{request.contextPath}/images/back_texture_black_transparent.png") !important;/* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%,rgba(255, 255, 255, 0.0) 100%),url("#{request.contextPath}/images/back_texture_black_transparent.png") !important;/* IE10+ */
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%,rgba(255, 255, 255, 0.0) 100%),url("#{request.contextPath}/images/back_texture_black_transparent.png") !important;/* W3C */
}

.dbs_back_texture_black_gradient{
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjMiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background-image: url("#{request.contextPath}/images/back_texture_black.png")!important; /*IE*/
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%,rgba(255, 255, 255, 0.0) 100%),url("#{request.contextPath}/images/back_texture_black.png") !important;/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255, 255, 0.3)), color-stop(100%, rgba(255, 255, 255, 0.0))),url("#{request.contextPath}/images/back_texture_black.png") !important;/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%,rgba(255, 255, 255, 0.0) 100%),url("#{request.contextPath}/images/back_texture_black.png") !important;/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%,rgba(255, 255, 255, 0.0) 100%),url("#{request.contextPath}/images/back_texture_black.png") !important;/* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%,rgba(255, 255, 255, 0.0) 100%),url("#{request.contextPath}/images/back_texture_black.png") !important;/* IE10+ */
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%,rgba(255, 255, 255, 0.0) 100%),url("#{request.contextPath}/images/back_texture_black.png") !important;/* W3C */
}

.dbs_back_texture_white_transparent_gradient {
	background: rgb(254,254,255); /* Old browsers */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y1ZjVmNSIgc3RvcC1vcGFjaXR5PSIwLjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==), url("#{request.contextPath}/images/back_texture_white_transparent.svg");
	background: -moz-linear-gradient(top,  rgba(235,235,235,0.1) 0%, rgba(225,225,225,0.1) 100%), url("#{request.contextPath}/images/back_texture_white_transparent.svg"); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(235,235,235,0.1)), color-stop(100%,rgba(225,225,225,0.1))), url("#{request.contextPath}/images/back_texture_white_transparent.svg"); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(235,235,235,0.1) 0%,rgba(225,225,225,0.1) 100%), url("#{request.contextPath}/images/back_texture_white_transparent.svg"); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(235,235,235,0.1) 0%,rgba(225,225,225,0.1) 100%), url("#{request.contextPath}/images/back_texture_white_transparent.svg"); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(235,235,235,0.1) 0%,rgba(225,225,225,0.1) 100%), url("#{request.contextPath}/images/back_texture_white_transparent.svg"); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(235,235,235,0.1) 0%,rgba(225,225,225,0.1) 100%), url("#{request.contextPath}/images/back_texture_white_transparent.svg"); /* W3C */
}

.dbs_back_gradient_white {
	background: rgb(254,254,255); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNWY1ZjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(254,254,255,1) 0%, rgba(245,245,245,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,254,255,1)), color-stop(100%,rgba(245,245,245,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(254,254,255,1) 0%,rgba(245,245,245,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(254,254,255,1) 0%,rgba(245,245,245,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(254,254,255,1) 0%,rgba(245,245,245,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(254,254,255,1) 0%,rgba(245,245,245,1) 100%); /* W3C */
}

.dbs_back_gradient_orange {
	background: rgb(255,223,175); /* Old browsers */
	background: -moz-linear-gradient(top,  rgb(255,223,175) 0%, rgb(255,229,191) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,223,175)), color-stop(100%,rgb(255,229,191))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgb(255,223,175) 0%,rgb(255,229,191) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgb(255,223,175) 0%,rgb(255,229,191) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgb(255,223,175) 0%,rgb(255,229,191) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgb(255,223,175) 0%,rgb(255,229,191) 100%); /* W3C */
}

.dbs_back_gradient_blue {
	background: rgb(216,230,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgb(216,230,255) 0%, rgb(209,224,255) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(216,230,255)), color-stop(100%,rgb(209,224,255))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgb(216,230,255) 0%,rgb(209,224,255) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgb(216,230,255) 0%,rgb(209,224,255) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgb(216,230,255) 0%,rgb(209,224,255) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgb(216,230,255) 0%,rgb(209,224,255) 100%); /* W3C */
}

.dbs_back_gradient_yellow{
	background: rgb(255,255,232); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZlOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(255,255,232,1) 0%, rgba(255,255,224,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,232,1)), color-stop(100%,rgba(255,255,224,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,232,1) 0%,rgba(255,255,224,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,232,1) 0%,rgba(255,255,224,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,232,1) 0%,rgba(255,255,224,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,232,1) 0%,rgba(255,255,224,1) 100%); /* W3C */
}

.dbs_text_dark_shadow {
	text-shadow: 1px 1px 1px #FFFFFF;
}

.dbs_text_white_shadow {
	text-shadow: 1px 1px 1px #606060;
}

.dbs_horizontal_line { /*Para elemento com 0px de altura*/
	border-top: 1px solid rgba(0, 0, 0, 0.4) !important;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
	display: block;
}

.dbs_vertical_line { /*Para elemento com 0px de largura*/
	border-left: 1px solid rgba(0, 0, 0, 0.4) !important;
	border-right: 1px solid rgba(255, 255, 255, 0.2) !important;
}

.dbs_horizontal_line_white { /*Para elemento com 0px de altura*/
	border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
	border-bottom: 1px solid rgba(255, 255, 255, 0.7) !important;
	display: block;
}

.dbs_vertical_line_white { /*Para elemento com 0px de largura*/
	border-left: 1px solid rgba(0, 0, 0, 0.1) !important;
	border-right: 1px solid rgba(255, 255, 255, 0.7) !important;
	float: left;
	height: 100%;
}



/* dbs_input --------------------------------------------------- */
.dbs_input {
	font-size: 11px;
	display: table;
	padding: 0px;
	margin: 0px;
	border-style: solid;
	border-width: 0px;
}


.dbs_input-data,
.dbs_input-label,
.dbs_input-suggestion {
	font-size: inherit;
	font-weight: normal;
}

.dbs_input-data,
.dbs_input-suggestion{
	background-color: white;
}

.dbs_input-data,
.dbs_input-suggestion {
	display: inline-block;
	font-style: normal;
	text-shadow: none !important;
	font-weight: normal !important;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: middle;
	min-height: 19px;
}


.dbs_input-data[type=text],
.dbs_input-data[type=password],
select.dbs_input-data, 
textarea.dbs_input-data,
span.dbs_input-data,
div.dbs_input-data,
label.dbs_input-data,
.dbs_input-suggestion{
   	border-color: rgba(13, 25, 45, 0.3) rgb(220, 220, 220) rgb(220, 220, 220) rgba(13, 25, 45, 0.3);
    border-style: solid;
    border-width: 1px;
	padding: 0px 1px 0px 1px !important;
/* 	-webkit-border-radius: 3px !important; */
/* 	-moz-border-radius: 3px !important; */
/* 	border-radius: 3px !important; */
	-webkit-box-shadow: 1px 1px 1px rgba(13, 25, 45, 0.1) inset;
	-moz-box-shadow: 1px 1px 1px rgba(13, 25, 45, 0.1) inset;
	box-shadow: 1px 1px 1px rgba(13, 25, 45, 0.1) inset;
}

.dbs_input-data.-readOnly {
	background-color: rgba(0, 0, 0, 0.05) !important;
	overflow: hidden;
}

.dbs_input-data[type=text].-readOnly,
.dbs_input-data[type=password].-readOnly,
select.dbs_input-data.-readOnly,
textarea.dbs_input-data.-readOnly,
span.dbs_input-data.-readOnly,
div.dbs_input-data.-readOnly,
label.dbs_input-data.-readOnly
	{
	padding: 1px 1px 1px 1px !important;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: rgba(0, 0, 0, 0.05);
	line-height: 15px;
}

.dbs_input-data:FOCUS,
.dbs_input-data-FOCUS {
	background-color: rgb(221, 235, 255);
}

.dbs_input-data[type=text]:FOCUS,
.dbs_input-data[type=password]:FOCUS,
select.dbs_input-data:FOCUS,
textarea.dbs_input-data:FOCUS,
.dbs_input-data-FOCUS{
	-webkit-box-shadow: 0 0 1px rgb(0, 153, 255), 0 0 0 rgb(143, 143, 143) inset !important;
	-moz-box-shadow: 0 0 1px rgb(0, 153, 255), 0 0 0 rgb(143, 143, 143) inset !important;
	box-shadow: 0 0 1px rgb(0, 153, 255), 0 0 0 rgb(143, 143, 143) inset !important;
	outline: none;
}

.dbs_input .-error {
	background-color: rgb(255, 255, 210);
}

.dbs_input > .-container {
	white-space: nowrap;
	display: inline-block;
    position: relative;
    width: 100%;
}
/* loadings --------------------------------------------------- */

.-loading {
	position: absolute;
	display: inline-block;	
	width: 12px;
	height: 12px;
	background-image: url("#{request.contextPath}/images/loading.svg");
	background-position: 0px 0px;
	background-repeat: no-repeat !important;
	background-size: 12px 12px;
	top: 50%;
	left: 50%;
	margin-top: -6px;
	margin-left: -6px;
	-moz-animation: -kf_loading 0.5s infinite;
	-o-animation: -kf_loading 0.5s infinite;
	-webkit-animation: -kf_loading 0.5s infinite;
	animation: -kf_loading 0.5s infinite;
}

.-loading.-large {
	width: 40px;
	height: 40px;
	background-size: 40px 40px;
	margin-top: -20px;
	margin-left: -20px;
	z-index: 999;
}

.dbs_div_loading{
	min-width: 12px;
	min-height: 12px;
}

/* Animações -------------------------------------------- */


/* spin */
.-a_spin {
  -moz-animation: -kf_spin 2s infinite linear;
  -o-animation: -kf_spin 2s infinite linear;
  -webkit-animation: -kf_spin 2s infinite linear;
  animation: -kf_spin 2s infinite linear;
  display: inline-block;
}

.-a_loading {
	-moz-animation: -kf_loading 0.5s infinite;
	-o-animation: -kf_loading 0.5s infinite;
	-webkit-animation: -kf_loading 0.5s infinite;
	animation: -kf_loading 0.5s infinite;
	display: inline-block;
}



/* Keyframes----- */

/*loading*/
@-moz-keyframes -kf_loading{
  12% {
    -moz-transform: rotate(0deg);
  }
  12.001% {
    -moz-transform: rotate(45deg);
  }
  25% {
    -moz-transform: rotate(45deg);
  }
  25.001% {
    -moz-transform: rotate(90deg);
  }
  37% {
    -moz-transform: rotate(90deg);
  }
  37.001% {
    -moz-transform: rotate(135deg);
  }
  50% {
    -moz-transform: rotate(135deg);
  }
  50.001% {
    -moz-transform: rotate(180deg);
  }
  62% {
    -moz-transform: rotate(180deg);
  }
  62.001% {
    -moz-transform: rotate(225deg);
  }
  75% {
    -moz-transform: rotate(225deg);
  }
  75.001% {
    -moz-transform: rotate(270deg);
  }
  87% {
    -moz-transform: rotate(270deg);
  }
  87.001% {
    -moz-transform: rotate(315deg);
  }
  99.999% {
    -moz-transform: rotate(315deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }

}
@-webkit-keyframes -kf_loading{
  12% {
    -webkit-transform: rotate(0deg);
  }
  12.001% {
    -webkit-transform: rotate(45deg);
  }
  25% {
    -webkit-transform: rotate(45deg);
  }
  25.001% {
    -webkit-transform: rotate(90deg);
  }
  37% {
    -webkit-transform: rotate(90deg);
  }
  37.001% {
    -webkit-transform: rotate(135deg);
  }
  50% {
    -webkit-transform: rotate(135deg);
  }
  50.001% {
    -webkit-transform: rotate(180deg);
  }
  62% {
    -webkit-transform: rotate(180deg);
  }
  62.001% {
    -webkit-transform: rotate(225deg);
  }
  75% {
    -webkit-transform: rotate(225deg);
  }
  75.001% {
    -webkit-transform: rotate(270deg);
  }
  87% {
    -webkit-transform: rotate(270deg);
  }
  87.001% {
    -webkit-transform: rotate(315deg);
  }
  99.999% {
    -webkit-transform: rotate(315deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}

@-o-keyframes -kf_loading{
  12% {
    -o-transform: rotate(0deg);
  }
  12.001% {
    -o-transform: rotate(45deg);
  }
  25% {
    -o-transform: rotate(45deg);
  }
  25.001% {
    -o-transform: rotate(90deg);
  }
  37% {
    -o-transform: rotate(90deg);
  }
  37.001% {
    -o-transform: rotate(135deg);
  }
  50% {
    -o-transform: rotate(135deg);
  }
  50.001% {
    -o-transform: rotate(180deg);
  }
  62% {
    -o-transform: rotate(180deg);
  }
  62.001% {
    -o-transform: rotate(225deg);
  }
  75% {
    -o-transform: rotate(225deg);
  }
  75.001% {
    -o-transform: rotate(270deg);
  }
  87% {
    -o-transform: rotate(270deg);
  }
  87.001% {
    -o-transform: rotate(315deg);
  }
  99.999% {
    -o-transform: rotate(315deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }

}

@-ms-keyframes -kf_loading{
  12% {
    transform: rotate(0deg);
  }
  12.001% {
    transform: rotate(45deg);
  }
  25% {
    transform: rotate(45deg);
  }
  25.001% {
    transform: rotate(90deg);
  }
  37% {
    transform: rotate(90deg);
  }
  37.001% {
    transform: rotate(135deg);
  }
  50% {
    transform: rotate(135deg);
  }
  50.001% {
    transform: rotate(180deg);
  }
  62% {
    transform: rotate(180deg);
  }
  62.001% {
    transform: rotate(225deg);
  }
  75% {
    transform: rotate(225deg);
  }
  75.001% {
    transform: rotate(270deg);
  }
  87% {
    transform: rotate(270deg);
  }
  87.001% {
    transform: rotate(315deg);
  }
  99.999% {
    transform: rotate(315deg);
  }
  100% {
    transform: rotate(359deg);
  }

}

@keyframes -kf_loading{
  12% {
    transform: rotate(0deg);
  }
  12.001% {
    transform: rotate(45deg);
  }
  25% {
    transform: rotate(45deg);
  }
  25.001% {
    transform: rotate(90deg);
  }
  37% {
    transform: rotate(90deg);
  }
  37.001% {
    transform: rotate(135deg);
  }
  50% {
    transform: rotate(135deg);
  }
  50.001% {
    transform: rotate(180deg);
  }
  62% {
    transform: rotate(180deg);
  }
  62.001% {
    transform: rotate(225deg);
  }
  75% {
    transform: rotate(225deg);
  }
  75.001% {
    transform: rotate(270deg);
  }
  87% {
    transform: rotate(270deg);
  }
  87.001% {
    transform: rotate(315deg);
  }
  99.999% {
    transform: rotate(315deg);
  }
  100% {
    transform: rotate(359deg);
  }

}

/* spin */			
@-moz-keyframes -kf_spin {
  0% {
    -moz-transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes -kf_spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes -kf_spin {
  0% {
    -o-transform: rotate(0deg);
  }

  100% {
    -o-transform: rotate(359deg);
  }
}
@-ms-keyframes -kf_spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}
@keyframes -kf_spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}


/* Icones -------------------------------- */

td > .dbs_icon{
/* 	margin-bottom: -4px !important; Comentado em 25/abr/2014 Ricardo - ocupava muito espaço para o icone da assinatura*/
	margin: -4px 0 -4px 0 !important;
}

/* Não modificar esta parte quando for incluido novos icones */
@font-face {
	font-family: 'dbsfaces_icons';
/* 	src:url('#{request.contextPath}/images/dbsfaces_icons.eot?#iefix-95qbbc') format('embedded-opentype'), */
/* 		url('#{request.contextPath}/images/dbsfaces_icons.woff?-95qbbc') format('woff'), */
/* 		url('#{request.contextPath}/images/dbsfaces_icons.ttf?-95qbbc') format('truetype'), */
/* 		url('#{request.contextPath}/images/dbsfaces_icons.svg?-95qbbc#dbsfaces_icons') format('svg');	 */
	src:url('#{request.contextPath}/images/dbsfaces_icons.ttf?-95qbbc') format('truetype');
	font-weight: normal;
	font-style: normal;
}

[class^="-i_"], 
[class*=" -i_"] {
	font-family: 'dbsfaces_icons'  !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size:16px;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


[class^="-i_"], 
[class*=" -i_"] {
	font-size:16px;
}

[class^="-i_"].-small, 
[class*=" -i_"].-small{
	font-size:9px;
}
[class^="-i_"].-large, 
[class*=" -i_"].-large{
	font-size:32px;
}

[class^="-i_"].-red, 
[class*=" -i_"].-red {
	color:red;
}
[class^="-i_"].-yellow, 
[class*=" -i_"].-yellow {
	color:yellow;
}
[class^="-i_"].-blue, 
[class*=" -i_"].-blue {
	color:blue;
}
[class^="-i_"].-green, 
[class*=" -i_"].-green {
	color:green;
}

/* Incluir novos icones a partir daqui */
.-i_yes:before{content:"\e600"}
.-i_no:before{content:"\e601"}
.-i_ok:before{content:"\e602"}
.-i_cancel:before{content:"\e603"}
.-i_insert:before{content:"\e604"}
.-i_edit:before{content:"\e605"}
.-i_delete:before{content:"\e606"}
.-i_copy:before{content:"\e607"}
.-i_paste:before{content:"\e608"}
.-i_find:before{content:"\e609"}
.-i_refresh:before{content:"\e60a"}
.-i_synchronize:before{content:"\e60b"}
.-i_replace:before{content:"\e60c"}
.-i_filter:before{content:"\e60d"}
.-i_undo:before{content:"\e60e"}
.-i_redo:before{content:"\e60f"}
.-i_sucess:before{content:"\e610"}
.-i_error:before{content:"\e611"}
.-i_information:before{content:"\e612"}
.-i_important:before{content:"\e613"}
.-i_warning:before{content:"\e614"}
.-i_question_confirm:before{content:"\e615"}
.-i_question_ignore:before{content:"\e616"}
.-i_forbidden:before{content:"\e617"}
.-i_checkbox:before{content:"\e618"}
.-i_checkbox_select:before{content:"\e619"}
.-i_checkbox_invert:before{content:"\e61a"}
.-i_option:before{content:"\e61b"}
.-i_option_select:before{content:"\e61c"}
.-i_on_off:before{content:"\e61d"}
.-i_restart:before{content:"\e61e"}
.-i_download:before{content:"\e61f"}
.-i_upload:before{content:"\e620"}
.-i_in:before{content:"\e621"}
.-i_out:before{content:"\e622"}
.-i_receive:before{content:"\e623"}
.-i_send:before{content:"\e624"}
.-i_user:before{content:"\e625"}
.-i_users:before{content:"\e626"}
.-i_user_tie:before{content:"\e627"}
.-i_user_hat:before{content:"\e628"}
.-i_user_id:before{content:"\e629"}
.-i_users_group:before{content:"\e62a"}
.-i_user_speech:before{content:"\e62b"}
.-i_navigate_first:before{content:"\e62c"}
.-i_navigate_previous:before{content:"\e62d"}
.-i_navigate_next:before{content:"\e62e"}
.-i_navigate_last:before{content:"\e62f"}
.-i_navigate_top:before{content:"\e630"}
.-i_navigate_up:before{content:"\e631"}
.-i_navigate_down:before{content:"\e632"}
.-i_navigate_bottom:before{content:"\e633"}
.-i_media_play:before{content:"\e634"}
.-i_media_stop:before{content:"\e635"}
.-i_media_pause:before{content:"\e636"}
.-i_media_rec:before{content:"\e637"}
.-i_media_video_play:before{content:"\e638"}
.-i_sun:before{content:"\e639"}
.-i_moon:before{content:"\e63a"}
.-i_earth:before{content:"\e63b"}
.-i_saturn:before{content:"\e63c"}
.-i_compass:before{content:"\e63d"}
.-i_location:before{content:"\e63e"}
.-i_stairs_up:before{content:"\e63f"}
.-i_stairs_down:before{content:"\e640"}
.-i_unlock:before{content:"\e641"}
.-i_lock:before{content:"\e642"}
.-i_link:before{content:"\e643"}
.-i_unlink:before{content:"\e644"}
.-i_group:before{content:"\e645"}
.-i_ungroup:before{content:"\e646"}
.-i_join:before{content:"\e647"}
.-i_slipt:before{content:"\e648"}
.-i_home:before{content:"\e649"}
.-i_office_building:before{content:"\e64a"}
.-i_factory:before{content:"\e64b"}
.-i_parthenon:before{content:"\e64c"}
.-i_church:before{content:"\e64d"}
.-i_newspaper:before{content:"\e64e"}
.-i_portofolio:before{content:"\e64f"}
.-i_history:before{content:"\e650"}
.-i_calendar:before{content:"\e651"}
.-i_todo:before{content:"\e652"}
.-i_certificate:before{content:"\e653"}
.-i_paper:before{content:"\e654"}
.-i_papers:before{content:"\e655"}
.-i_paper_text:before{content:"\e656"}
.-i_papers_text:before{content:"\e657"}
.-i_paper_text_edit:before{content:"\e658"}
.-i_paper_text_find:before{content:"\e659"}
.-i_paper_printer:before{content:"\e65a"}
.-i_paper_ribbon:before{content:"\e65b"}
.-i_paper_money:before{content:"\e65c"}
.-i_paper_organizer:before{content:"\e65d"}
.-i_file_cabinet:before{content:"\e65e"}
.-i_stamper:before{content:"\e65f"}
.-i_paper_clip:before{content:"\e660"}
.-i_stapler:before{content:"\e661"}
.-i_pin:before{content:"\e662"}
.-i_book:before{content:"\e663"}
.-i_books:before{content:"\e664"}
.-i_na:before{content:"\e665"}
.-i_dot:before{content:"\e666"}
.-i_chat:before{content:"\e667"}
.-i_message:before{content:"\e668"}
.-i_mail:before{content:"\e669"}
.-i_eye:before{content:"\e66a"}
.-i_step:before{content:"\e66b"}
.-i_heart:before{content:"\e66c"}
.-i_add:before{content:"\e66d"}
.-i_subtract:before{content:"\e66e"}
.-i_multiply:before{content:"\e66f"}
.-i_divide:before{content:"\e670"}
.-i_equal:before{content:"\e671"}
.-i_delta:before{content:"\e672"}
.-i_abacus:before{content:"\e673"}
.-i_calculator:before{content:"\e674"}
.-i_graph_pizza:before{content:"\e675"}
.-i_graph_line:before{content:"\e676"}
.-i_graph_bar_line:before{content:"\e677"}
.-i_market_up:before{content:"\e678"}
.-i_market_down:before{content:"\e679"}
.-i_market_up_down:before{content:"\e67a"}
.-i_bill:before{content:"\e67b"}
.-i_bills:before{content:"\e67c"}
.-i_currency_yen:before{content:"\e67d"}
.-i_currency_euro:before{content:"\e67e"}
.-i_currency_pound:before{content:"\e67f"}
.-i_percent:before{content:"\e680"}
.-i_safe:before{content:"\e681"}
.-i_money_box:before{content:"\e682"}
.-i_printer:before{content:"\e683"}
.-i_monitor:before{content:"\e684"}
.-i_mouse:before{content:"\e685"}
.-i_folder:before{content:"\e686"}
.-i_save:before{content:"\e687"}
.-i_action_press:before{content:"\e688"}
.-i_bug:before{content:"\e689"}
.-i_wifi:before{content:"\e68a"}
.-i_database:before{content:"\e68b"}
.-i_servers:before{content:"\e68c"}
.-i_workstation:before{content:"\e68d"}
.-i_selection:before{content:"\e68e"}
.-i_menu_top:before{content:"\e68f"}
.-i_menu_side:before{content:"\e690"}
.-i_backup:before{content:"\e691"}
.-i_clock:before{content:"\e692"}
.-i_clock_alarm:before{content:"\e693"}
.-i_clock_timer:before{content:"\e694"}
.-i_clock_schedule:before{content:"\e695"}
.-i_runnig_timer:before{content:"\e696"}
.-i_bike:before{content:"\e697"}
.-i_car:before{content:"\e698"}
.-i_taxi:before{content:"\e699"}
.-i_train:before{content:"\e69a"}
.-i_bus:before{content:"\e69b"}
.-i_airplane:before{content:"\e69c"}
.-i_copter:before{content:"\e69d"}
.-i_ship:before{content:"\e69e"}
.-i_traffic_light:before{content:"\e69f"}
.-i_traffic_cone:before{content:"\e6a0"}
.-i_gas_pump:before{content:"\e6a1"}
.-i_wheel:before{content:"\e6a2"}
.-i_steering_wheel:before{content:"\e6a3"}
.-i_control_panel:before{content:"\e6a4"}
.-i_meter:before{content:"\e6a5"}
.-i_sign_prohibid:before{content:"\e6a6"}
.-i_sign_recycle:before{content:"\e6a7"}
.-i_sign_radioactive:before{content:"\e6a8"}
.-i_sign_accessibility:before{content:"\e6a9"}
.-i_sign_speed_limit:before{content:"\e6aa"}
.-i_sign_risk:before{content:"\e6ab"}
.-i_sign_turns:before{content:"\e6ac"}
.-i_sign_9:before{content:"\e6ad"}
.-i_sign_roundabout:before{content:"\e6ae"}
.-i_policeman:before{content:"\e6af"}
.-i_workman:before{content:"\e6b0"}
.-i_front_desk:before{content:"\e6b1"}
.-i_flashlight:before{content:"\e6b2"}
.-i_shovel:before{content:"\e6b3"}
.-i_hammer:before{content:"\e6b4"}
.-i_wrench:before{content:"\e6b5"}
.-i_magnet:before{content:"\e6b6"}
.-i_lamp:before{content:"\e6b7"}
.-i_scissors:before{content:"\e6b8"}
.-i_key:before{content:"\e6b9"}
.-i_keyhole:before{content:"\e6ba"}
.-i_glasses:before{content:"\e6bb"}
.-i_fire_extinguisher:before{content:"\e6bc"}
.-i_fire:before{content:"\e6bd"}
.-i_water:before{content:"\e6be"}
.-i_snow:before{content:"\e6bf"}
.-i_umbrella:before{content:"\e6c0"}
.-i_paper_plane:before{content:"\e6c1"}
.-i_bomb:before{content:"\e6c2"}
.-i_hourglass:before{content:"\e6c3"}
.-i_target:before{content:"\e6c4"}
.-i_phone:before{content:"\e6c5"}
.-i_auction_hammer:before{content:"\e6c6"}
.-i_balance:before{content:"\e6c7"}
.-i_prize_ribbon:before{content:"\e6c8"}
.-i_place123:before{content:"\e6c9"}
.-i_medal:before{content:"\e6ca"}
.-i_dices:before{content:"\e6cb"}
.-i_lifebelt:before{content:"\e6cc"}
.-i_anchor:before{content:"\e6cd"}
.-i_brief_case:before{content:"\e6ce"}
.-i_first_aid:before{content:"\e6cf"}
.-i_eyedropper:before{content:"\e6d0"}
.-i_stethoscope:before{content:"\e6d1"}
.-i_beaker:before{content:"\e6d2"}
.-i_dna:before{content:"\e6d3"}
.-i_atom:before{content:"\e6d4"}
.-i_molecule:before{content:"\e6d5"}
.-i_satellite:before{content:"\e6d6"}
.-i_antenna:before{content:"\e6d7"}
.-i_gear:before{content:"\e6d8"}
.-i_gears:before{content:"\e6d9"}
.-i_photo_camera:before{content:"\e6da"}
.-i_video_camera:before{content:"\e6db"}
.-i_director_chair:before{content:"\e6dc"}
.-i_megaphone:before{content:"\e6dd"}
.-i_microphone:before{content:"\e6de"}
.-i_microphone_off:before{content:"\e6df"}
.-i_picture:before{content:"\e6e0"}
.-i_mixer:before{content:"\e6e1"}
.-i_speaker:before{content:"\e6e2"}
.-i_speaker_off:before{content:"\e6e3"}
.-i_flag_finish:before{content:"\e6e4"}
.-i_flag:before{content:"\e6e5"}
.-i_box:before{content:"\e6e6"}
.-i_box_paper:before{content:"\e6e7"}
.-i_box_gift:before{content:"\e6e8"}
.-i_box_wood:before{content:"\e6e9"}
.-i_box_3d:before{content:"\e6ea"}
.-i_star5:before{content:"\e6eb"}
.-i_star6:before{content:"\e6ec"}
.-i_star_xerif:before{content:"\e6ed"}
.-i_shopping_cart:before{content:"\e6ee"}
.-i_tag:before{content:"\e6ef"}
.-i_barcode:before{content:"\e6f0"}
.-i_ifeed:before{content:"\e6f1"}
.-i_ifeed_icon:before{content:"\e6f2"}
.-i_dbsoft:before{content:"\e6f3"}
.-i_dbsoft_icon:before{content:"\e6f4"}
