.-tooltip{
	position: relative;
	display: block;
	z-index: 1;
    top: 0;
    left: 0;
	background-color: red;
	cursor:default;
}
.-tooltip.-top,
.-tooltip.-bottom{
    width: inherit;
    height: 0px;
}
.-tooltip.-left,
.-tooltip.-right{
    width: 0px;
    height: inherit;
}


.-tooltip > .-container{
	position: fixed;
	
	line-height: 120%;
	text-shadow: none;
	font-style: normal;
	font-size: 10px;

	margin:0px;
	padding: 4px 4px 4px 4px;
	
	-moz-border-radius: 3px;
 	-webkit-border-radius: 3px;
	border-radius:3px;
	
	border-style:none;

	color:white;
	background-repeat: repeat;
 	background-color: rgb(13,25,45);

	-moz-box-shadow: 0px 0px 2px #222;  
	-webkit-box-shadow: 0px 0px 2px #222;  
	box-shadow: 0px 0px 2px #222;  

	z-index: 10;
}

.-tooltip > .-container > .-content{
	position:relative;
	display: block;
	text-align: center;
}

.-tooltip > .-container:before{
    position:absolute;
	content:'';
    display:block;
    width:0;
    height:0;
	z-index: 10;
}




.-tooltip.-l3 > .-container:before,
.-tooltip.-l1 > .-container:before{
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    left: 50%;
    transform: translateX(-50%);
}

.-tooltip.-l1 > .-container:before{
    border-top: 8px solid  rgb(13,25,45);
    top:100%;
}
.-tooltip.-l3 > .-container:before{
    border-bottom: 8px solid rgb(13,25,45);
    top: -7px;
}

.-tooltip.-l2 > .-container:before,
.-tooltip.-l4 > .-container:before{
	border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    top: 50%;
    transform: translateY(-50%);
}
.-tooltip.-l4 > .-container:before{
    border-left: 8px solid rgb(13,25,45);
	left: 100%;
}
.-tooltip.-l2 > .-container:before{
    border-right: 8px solid rgb(13,25,45);
    left: -7px;
}