.dbs_div{
}

.dbs_div.-posUpdate{
	opacity:0;
	-webkit-transition: opacity 200ms;
	-moz-transition: opacity 200ms;
	-ms-transition: opacity 200ms;
	-o-transition: opacity 200ms;
	transition: opacity 200ms;	
}
.dbs_div.-largeIcon > .-loading{
	font-size:4em;
}
