.dbs_chartValue{
	cursor:pointer;
	stroke-width: 0px;
/* 	font-size: 8px; */
	fill: rgb(180,180,180);
}
/* .dbs_chartValue.-selected{ */
/* 	stroke: rgb(13,25,45); */
/* 	stroke-width: 1px; */
/* } */
.dbs_chartValue.-selected{
	
}   

.dbs_chartValue > .-data{
}

.dbs_chartValue > .-data > .-point{
}


.dbs_chartValue > .-data > .-label,
.dbs_chartValue > .-data > .-value{
	stroke-width: 0px !important;
}

.dbs_chartValue > .-data > .-label.-hide,
.dbs_chartValue > .-data > .-value.-hide{
	opacity: 0;
}
.dbs_chartValue > .-data > .-label.-selected,
.dbs_chartValue > .-data > .-value.-selected{
	opacity: 1;
}

.dbs_chartValue > .-extrainfo{
	overflow:visible;
}

.dbs_chartValue > .-extrainfo > span{
	display: inline-block;
	position: absolute;
}

.dbs_chartValue .dbs_input {
/* 	font-size: 8px; */
}

.dbs_chartValue .dbs_input-data{
	min-height: 13px;
}
