.dbs_chartValueX{
}

    
.dbs_chartValueX.-line > .-point{
	stroke-width: .1em;
    stroke: currentColor;
    fill: white;
}
.dbs_chartValueX.-line > .-info{
/* 	display:none; */
}
.dbs_chartValueX.-line > .-point,
.dbs_chartValueX.-line > .-info > .-path,
.dbs_chartValueX.-line > .-info > .-boxLabel,
.dbs_chartValueX.-line > .-info > .-boxValue,
.dbs_chartValueX.-line > .-info > .-label,
.dbs_chartValueX.-line > .-info > .-value{
	visibility: hidden;
}

.dbs_chartValueX.-line > .-info > .-label{
    font-size: 0.8em;
    color: currentColor;
}
.dbs_chartValueX.-line > .-info > .-value{
	font-size: 0.8em;
    dominant-baseline: middle;
	text-anchor: end;
	color: currentColor;
}
.dbs_chartValueX.-line > .-info > .-path{
	stroke: currentColor;
    fill: none;
    stroke-dasharray: .1em;
	opacity: 0.3;
}

.dbs_chartValueX.-line > .-info > .-boxLabel{
    stroke: none;
    fill: gray;
/*     stroke-width: 1px; */
/* 	-webkit-transform: translateY(-.55em); */
/* 	-moz-transform: translateY(-.55em); */
/* 	-o-transform: translateY(-.55em); */
/* 	transform: translateY(-.55em); */
}
.dbs_chartValueX.-line > .-info > .-boxValue{
    stroke: none;
    fill: gray;
/*     stroke-width: 1px; */
/* 	-webkit-transform: translateY(-.5em); */
/* 	-moz-transform: translateY(-.5em); */
/* 	-o-transform: translateY(-.5em); */
/* 	transform: translateY(-.5em); */
}

.dbs_chartX.-line.-showDelta > .-chart > .dbs_chartValueX{
	pointer-events: none;
}

.dbs_chartX.-line:not(.-showLabel) > .-chart > .dbs_chartValueX > .-info > .-label,
.dbs_chartX.-line:not(.-showLabel) > .-chart > .dbs_chartValueX > .-info > .-boxLabel{
	display:none;
}

.dbs_chartX.-line:not(.-showValue) > .-chart > .dbs_chartValueX > .-info > .-value,
.dbs_chartX.-line:not(.-showValue) > .-chart > .dbs_chartValueX > .-info > .-boxValue{
	display:none;
}

.dbs_chartX.-line > .-chart > .dbs_chartValueX.-line.-showLabel > .-info > .-label,
.dbs_chartX.-line > .-chart > .dbs_chartValueX.-line.-showValue > .-info > .-value{
	visibility: visible;
/* 	opacity: 0.5; */
}
.dbs_chartX.-line.-selected > .-chart > .dbs_chartValueX.-line.-showLabel.-hide > .-info > .-label,
.dbs_chartX.-line.-selected > .-chart > .dbs_chartValueX.-line.-showValue.-hide > .-info > .-value{
	visibility: hidden;
}

.dbs_chartX.-line.-selected > .-chart > .dbs_chartValueX.-line.-hover > .-point,
.dbs_chartX.-line.-selected > .-chart > .dbs_chartValueX.-line.-hover > .-info > .-path,
.dbs_chartX.-line.-selected > .-chart > .dbs_chartValueX.-line.-hover > .-info > .-boxLabel,
.dbs_chartX.-line.-selected > .-chart > .dbs_chartValueX.-line.-hover > .-info > .-boxValue,
.dbs_chartX.-line.-selected > .-chart > .dbs_chartValueX.-line.-hover > .-info > .-label,
.dbs_chartX.-line.-selected > .-chart > .dbs_chartValueX.-line.-hover > .-info > .-value{
	visibility: visible;
}
