.dbs_checkbox{
}

.dbs_checkbox > .-container{
	position:relative;
}

.dbs_checkbox > .-container > .-th_input-label {
}

.dbs_checkbox > .-container > .-th_input-label:after {
/* 	content: ""; */
}
.dbs_checkbox > .-container > .-th_input-data {
	background-color: transparent;
	height: 1.5em;
	top: 1px;
}
		
  
@media screen and (max-width: 768px){
	.-th_responsive .dbs_checkbox > .-container > .-th_input-data{
	    left: calc(50% - .5em);
	}
}