.dbs_nav {
/* 	position: fixed; */
/* 	top:0; */
/* 	left:0; */
/* 	width: 100vw; */
/* 	height: 100vh; */
}

.dbs_nav > .-mask{
	position: fixed;
	top:0;
	left:0;
	opacity: 0.3;
	width: 100%;
	height: 100%;
	transition: opacity .3s;
}

.dbs_nav > .-nav{
	position: fixed;
	display: inline-block;
	transition: width .3s, height .3s;
	overflow: hidden;
	white-space: nowrap;
}


.dbs_nav.-closed > .-mask{
	opacity: 0;
	pointer-events: none;
}

/*VERTICAL */
.dbs_nav.-closed.-tlv > .-nav,
.dbs_nav.-closed.-trv > .-nav,
.dbs_nav.-closed.-blv > .-nav,
.dbs_nav.-closed.-brv > .-nav{
	width: 0;
}

/*HORIZONTAL */
.dbs_nav.-closed.-tlh > .-nav,
.dbs_nav.-closed.-trh > .-nav,
.dbs_nav.-closed.-blh > .-nav,
.dbs_nav.-closed.-brh > .-nav{
	height: 0;
}

/*VERTICAL */
.dbs_nav.-tlv > .-nav,
.dbs_nav.-trv > .-nav,
.dbs_nav.-blv > .-nav,
.dbs_nav.-brv > .-nav{
	height: 100%;
}

/*HORIZONTAL */
.dbs_nav.-tlh > .-nav,
.dbs_nav.-trh > .-nav,
.dbs_nav.-blh > .-nav,
.dbs_nav.-brh > .-nav{
	width: 100%;
}

/* TOP */
.dbs_nav.-tlh > .-nav,
.dbs_nav.-tlv > .-nav,
.dbs_nav.-trh > .-nav,
.dbs_nav.-trv > .-nav{
	top: 0;
}
/* BOTTOM */
.dbs_nav.-blh > .-nav,
.dbs_nav.-blv > .-nav,
.dbs_nav.-brh > .-nav,
.dbs_nav.-brv > .-nav{
	bottom: 0;
}

/* RIGHT */
.dbs_nav.-trh > .-nav,
.dbs_nav.-trv > .-nav,
.dbs_nav.-brh > .-nav,
.dbs_nav.-brv > .-nav{
	right: 0;
    text-align: right;
}
/* LEFT */
.dbs_nav.-tlh > .-nav,
.dbs_nav.-tlv > .-nav,
.dbs_nav.-blh > .-nav,
.dbs_nav.-blv > .-nav{
	left: 0;
	text-align: left;
}

.dbs_nav > .-nav > .-container {
    height: 100%;
    width: 100%;
    position: relative;
    display: inline-block;
	
}

.dbs_nav > .-nav > .-container > .-content{
    position: relative;
    display: inline-block;
	width: 100%;
    height: 100%;
    overflow: scroll;
}

.dbs_nav > .-nav > .-container > .-content > div{
	display: table;
	width: 100%;
    height: 100%;
}
.dbs_nav > .-nav > .-container > .-content > div > nav{
    display: table-cell;
    vertical-align: bottom;
    padding: 1.4em;
}

/* VERTICAL */
.dbs_nav.-tlv > .-nav > .-container > .-content > div > nav,
.dbs_nav.-trv > .-nav > .-container > .-content > div > nav,
.dbs_nav.-blv > .-nav > .-container > .-content > div > nav,
.dbs_nav.-brv > .-nav > .-container > .-content > div > nav{
/* 	width: 100%; */
}


/* HORIZONTAL */
.dbs_nav.-tlh > .-nav > .-container > .-content > div > nav,
.dbs_nav.-trh > .-nav > .-container > .-content > div > nav,
.dbs_nav.-blh > .-nav > .-container > .-content > div > nav,
.dbs_nav.-brh > .-nav > .-container > .-content > div > nav{
/* 	height: 100%; */
}

/* TOP*/
.dbs_nav.-tlh > .-nav > .-container > .-content > div > nav,
.dbs_nav.-tlv > .-nav > .-container > .-content > div > nav,
.dbs_nav.-trh > .-nav > .-container > .-content > div > nav,
.dbs_nav.-trv > .-nav > .-container > .-content > div > nav{
    top: 0;
    vertical-align: top;
}

/* BOTTOM*/
.dbs_nav.-blh > .-nav > .-container > .-content > div > nav,
.dbs_nav.-blv > .-nav > .-container > .-content > div > nav,
.dbs_nav.-brh > .-nav > .-container > .-content > div > nav,
.dbs_nav.-brv > .-nav > .-container > .-content > div > nav{
/*     bottom: 0; */
    vertical-align: bottom;
}

/* LEFT */
.dbs_nav.-tlh > .-nav > .-container > .-content > div > nav,
.dbs_nav.-tlv > .-nav > .-container > .-content > div > nav,
.dbs_nav.-blh > .-nav > .-container > .-content > div > nav,
.dbs_nav.-blv > .-nav > .-container > .-content > div > nav{
    left: 0;
	text-align: left;
}
/* RIGHT */
.dbs_nav.-trh > .-nav > .-container > .-content > div > nav,
.dbs_nav.-trv > .-nav > .-container > .-content > div > nav,
.dbs_nav.-brh > .-nav > .-container > .-content > div > nav,
.dbs_nav.-brv > .-nav > .-container > .-content > div > nav{
    right: 0;
	text-align: right;
}


.dbs_nav > .-icon {
	position: absolute;
    display: inline-block;
}
.dbs_nav > .-icon > .-content {
	position: relative;
	cursor: pointer;
	font-size: 2em;
}

/* TOP     */
.dbs_nav.-tlh > .-icon,
.dbs_nav.-tlv > .-icon,
.dbs_nav.-trh > .-icon,
.dbs_nav.-trv > .-icon{
	top: 0;
}
/* BOTTOM */
.dbs_nav.-blh > .-icon,
.dbs_nav.-blv > .-icon,
.dbs_nav.-brh > .-icon,
.dbs_nav.-brv > .-icon{
	bottom: 0;
}
/* LEFT */
.dbs_nav.-tlh > .-icon,
.dbs_nav.-tlv > .-icon,
.dbs_nav.-blh > .-icon,
.dbs_nav.-blv > .-icon{
	left: 0;
    text-align: left;
}
/* RIGHT */
.dbs_nav.-trh > .-icon,
.dbs_nav.-trv > .-icon,
.dbs_nav.-brh > .-icon,
.dbs_nav.-brv > .-icon{
	right: 0;
    text-align: right;
}

/* TOP */
/* .dbs_nav.-tlh > .-icon > .-content, */
/* .dbs_nav.-tlv > .-icon > .-content, */
/* .dbs_nav.-trh > .-icon > .-content, */
/* .dbs_nav.-trv > .-icon > .-content{ */
/* } */

/* BOTTOM */
/* .dbs_nav.-blh > .-icon > .-content, */
/* .dbs_nav.-blv > .-icon > .-content, */
/* .dbs_nav.-brh > .-icon > .-content, */
/* .dbs_nav.-brv > .-icon > .-content{ */
/* } */
/* LEFT */
/* .dbs_nav.-tlh > .-icon > .-content, */
/* .dbs_nav.-tlv > .-icon > .-content, */
/* .dbs_nav.-blh > .-icon > .-content, */
/* .dbs_nav.-blv > .-icon > .-content{ */
/* } */
/* RIGHT */
/* .dbs_nav.-trh > .-icon > .-content, */
/* .dbs_nav.-trv > .-icon > .-content, */
/* .dbs_nav.-brh > .-icon > .-content, */
/* .dbs_nav.-brv > .-icon > .-content{ */
/* } */

.dbs_nav.-tlh > .-icon{
}
.dbs_nav.-tlv > .-icon{
}
.dbs_nav.-trh > .-icon{
}
.dbs_nav.-trv > .-icon{
}
.dbs_nav.-blh > .-icon{
}
.dbs_nav.-blv > .-icon{
}
.dbs_nav.-brh > .-icon{
}
.dbs_nav.-brv > .-icon{
}


.dbs_nav > .-nav > .-footer {
	position: absolute;
    display: inline-block;
}

.dbs_nav > .-nav > .-footer > .-content {
	position: relative;
}

/* TOP     */
.dbs_nav.-tlh > .-nav > .-footer,
.dbs_nav.-tlv > .-nav > .-footer,
.dbs_nav.-trh > .-nav > .-footer,
.dbs_nav.-trv > .-nav > .-footer{
	bottom: 0;
}
/* BOTTOM */
.dbs_nav.-blh > .-nav > .-footer,
.dbs_nav.-blv > .-nav > .-footer,
.dbs_nav.-brh > .-nav > .-footer,
.dbs_nav.-brv > .-nav > .-footer{
	top: 0;
}
/* LEFT */
.dbs_nav.-tlv > .-nav > .-footer,
.dbs_nav.-blv > .-nav > .-footer,
.dbs_nav.-trh > .-nav > .-footer,
.dbs_nav.-brh > .-nav > .-footer{
	left: 0;
    text-align: left;
}
/* LEFT */
.dbs_nav.-tlh > .-nav > .-footer,
.dbs_nav.-blh > .-nav > .-footer,
.dbs_nav.-trv > .-nav > .-footer,
.dbs_nav.-brv > .-nav > .-footer{
	right: 0;
    text-align: right;
}

/* /* LEFT */ */
/* .dbs_nav.-tlh > .-nav > .-footer, */
/* .dbs_nav.-tlv > .-nav > .-footer, */
/* .dbs_nav.-blh > .-nav > .-footer, */
/* .dbs_nav.-blv > .-nav > .-footer{ */
/* 	left: 0; */
/*     text-align: left; */
/* } */
/* /* RIGHT */ */
/* .dbs_nav.-trh > .-nav > .-footer, */
/* .dbs_nav.-trv > .-nav > .-footer, */
/* .dbs_nav.-brh > .-nav > .-footer, */
/* .dbs_nav.-brv > .-nav > .-footer{ */
/* 	right: 0; */
/*     text-align: right; */
/* } */

