.-tooltip{
	line-height: 100%;
	color:white;
	text-shadow: none;
	font-style: normal;
	font-size: 10px;
	position: fixed;
	display: block;
	padding: 4px 4px 4px 4px;
	line-height: auto;
	-moz-border-radius: 3px;
 	-webkit-border-radius: 3px;
	border-radius:3px;
	border-width: 1px;
	border-style:solid;
	margin:0px;
	border-color: rgba(13,25,45,1);
	white-space: nowrap; 
	background-repeat: repeat;
 	background-color: rgba(13,25,45,0.9);
	-moz-box-shadow: 0px 0px 2px #222;  
	-webkit-box-shadow: 0px 0px 2px #222;  
	box-shadow: 0px 0px 2px #222;  
	z-index: 10;
	
/* 	-webkit-font-smoothing: none; */
/* 	-moz-osx-font-smoothing: none; */
	
}