/* Animações -------------------------------------------- */


/* spin */
.-a_spin {
  -moz-animation: -kf_spin 2s infinite linear;
  -o-animation: -kf_spin 2s infinite linear;
  -webkit-animation: -kf_spin 2s infinite linear;
  animation: -kf_spin 2s infinite linear;
  display: inline-block;
}

.-a_loading {
	-moz-animation: -kf_loading 0.5s infinite;
	-o-animation: -kf_loading 0.5s infinite;
	-webkit-animation: -kf_loading 0.5s infinite;
	animation: -kf_loading 0.5s infinite;
	display: inline-block;
}


/* Keyframes----- */

/*loading*/
@-moz-keyframes -kf_loading{
  12% {
    -moz-transform: rotate(0deg);
  }
  12.001% {
    -moz-transform: rotate(45deg);
  }
  25% {
    -moz-transform: rotate(45deg);
  }
  25.001% {
    -moz-transform: rotate(90deg);
  }
  37% {
    -moz-transform: rotate(90deg);
  }
  37.001% {
    -moz-transform: rotate(135deg);
  }
  50% {
    -moz-transform: rotate(135deg);
  }
  50.001% {
    -moz-transform: rotate(180deg);
  }
  62% {
    -moz-transform: rotate(180deg);
  }
  62.001% {
    -moz-transform: rotate(225deg);
  }
  75% {
    -moz-transform: rotate(225deg);
  }
  75.001% {
    -moz-transform: rotate(270deg);
  }
  87% {
    -moz-transform: rotate(270deg);
  }
  87.001% {
    -moz-transform: rotate(315deg);
  }
  99.999% {
    -moz-transform: rotate(315deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }

}
@-webkit-keyframes -kf_loading{
  12% {
    -webkit-transform: rotate(0deg);
  }
  12.001% {
    -webkit-transform: rotate(45deg);
  }
  25% {
    -webkit-transform: rotate(45deg);
  }
  25.001% {
    -webkit-transform: rotate(90deg);
  }
  37% {
    -webkit-transform: rotate(90deg);
  }
  37.001% {
    -webkit-transform: rotate(135deg);
  }
  50% {
    -webkit-transform: rotate(135deg);
  }
  50.001% {
    -webkit-transform: rotate(180deg);
  }
  62% {
    -webkit-transform: rotate(180deg);
  }
  62.001% {
    -webkit-transform: rotate(225deg);
  }
  75% {
    -webkit-transform: rotate(225deg);
  }
  75.001% {
    -webkit-transform: rotate(270deg);
  }
  87% {
    -webkit-transform: rotate(270deg);
  }
  87.001% {
    -webkit-transform: rotate(315deg);
  }
  99.999% {
    -webkit-transform: rotate(315deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}

@-o-keyframes -kf_loading{
  12% {
    -o-transform: rotate(0deg);
  }
  12.001% {
    -o-transform: rotate(45deg);
  }
  25% {
    -o-transform: rotate(45deg);
  }
  25.001% {
    -o-transform: rotate(90deg);
  }
  37% {
    -o-transform: rotate(90deg);
  }
  37.001% {
    -o-transform: rotate(135deg);
  }
  50% {
    -o-transform: rotate(135deg);
  }
  50.001% {
    -o-transform: rotate(180deg);
  }
  62% {
    -o-transform: rotate(180deg);
  }
  62.001% {
    -o-transform: rotate(225deg);
  }
  75% {
    -o-transform: rotate(225deg);
  }
  75.001% {
    -o-transform: rotate(270deg);
  }
  87% {
    -o-transform: rotate(270deg);
  }
  87.001% {
    -o-transform: rotate(315deg);
  }
  99.999% {
    -o-transform: rotate(315deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }

}

@-ms-keyframes -kf_loading{
  12% {
    transform: rotate(0deg);
  }
  12.001% {
    transform: rotate(45deg);
  }
  25% {
    transform: rotate(45deg);
  }
  25.001% {
    transform: rotate(90deg);
  }
  37% {
    transform: rotate(90deg);
  }
  37.001% {
    transform: rotate(135deg);
  }
  50% {
    transform: rotate(135deg);
  }
  50.001% {
    transform: rotate(180deg);
  }
  62% {
    transform: rotate(180deg);
  }
  62.001% {
    transform: rotate(225deg);
  }
  75% {
    transform: rotate(225deg);
  }
  75.001% {
    transform: rotate(270deg);
  }
  87% {
    transform: rotate(270deg);
  }
  87.001% {
    transform: rotate(315deg);
  }
  99.999% {
    transform: rotate(315deg);
  }
  100% {
    transform: rotate(359deg);
  }

}

@keyframes -kf_loading{
  12% {
    transform: rotate(0deg);
  }
  12.001% {
    transform: rotate(45deg);
  }
  25% {
    transform: rotate(45deg);
  }
  25.001% {
    transform: rotate(90deg);
  }
  37% {
    transform: rotate(90deg);
  }
  37.001% {
    transform: rotate(135deg);
  }
  50% {
    transform: rotate(135deg);
  }
  50.001% {
    transform: rotate(180deg);
  }
  62% {
    transform: rotate(180deg);
  }
  62.001% {
    transform: rotate(225deg);
  }
  75% {
    transform: rotate(225deg);
  }
  75.001% {
    transform: rotate(270deg);
  }
  87% {
    transform: rotate(270deg);
  }
  87.001% {
    transform: rotate(315deg);
  }
  99.999% {
    transform: rotate(315deg);
  }
  100% {
    transform: rotate(359deg);
  }

}

/* spin */			
@-moz-keyframes -kf_spin {
  0% {
    -moz-transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes -kf_spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes -kf_spin {
  0% {
    -o-transform: rotate(0deg);
  }

  100% {
    -o-transform: rotate(359deg);
  }
}
@-ms-keyframes -kf_spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}
@keyframes -kf_spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

